<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{CSS_PATH}kuangjia.css" rel="stylesheet" type="text/css" />
<title>{$title}</title>
<style> 
body{background:url(//statics.05273.cn/statics/images/kuangjia/subpageBg.jpg) repeat-x;}
</style>
</head>
<body>
<div class="wrap1">
				<div class="menuBox">
		<div class="menu">
<ul>
<li><a href="/"></a><span >&nbsp;&nbsp;访问量:<b style="color:red">{$hits}</b></span></li>
</ul>
</div>
</div>
</div>
<iframe id="weibo" name="weibo" src="{$content}" frameBorder=0 style="position:fixed;left:0px;top:25px;width:100%;height:100%;"></iframe>
</body>
</html>