                  <div class="footnav">
                    <ul>
                    <li><a href="https://wap.05273.cn/">首页</a></li>
                    <li><a href="https://wap.05273.cn/daodu/">资讯</a></li>
                    <li><a href="https://wap.05273.cn/news/">沭阳</a></li>
                    <li><a href="https://wap.05273.cn/huati/">话题</a></li>
                    <li><a href="https://wap.05273.cn/news/zf/">政府</a></li>
                    <li><a href="https://wap.05273.cn/daodu/dif/">地方</a></li>
                    <li><a href="https://wap.05273.cn/daodu/zy/">实用</a></li>
                    <li><a href="https://wap.05273.cn/daodu/sshi/">国内</a></li>
                    <li><a href="https://wap.05273.cn/daodu/shehui/">社会</a></li>
                    <li><a href="https://wap.05273.cn/daodu/gao/">港澳</a></li>
                    <li><a href="https://wap.05273.cn/photo/">图片</a></li>
                    <li><a href="https://wap.05273.cn/news/rd/">热点</a></li>
                    <li><a href="https://wap.05273.cn/news/xn/">县内</a></li>
                    <li><a href="https://wap.05273.cn/news/bm/">部门</a></li>
                    <li><a href="https://wap.05273.cn/tvnews/">电视</a></li>
                    </ul>  </div>
                  <!-- footnav/E --> 
                <div class="mip-footer" id="footer">
                <div class="footer">
                    <div class="links"><a href="https://www.05273.cn/?mobile">电脑版</a>
                    <a href="https://wap.05273.cn/index.php?app=waplogin&controller=index&view=login"><span class="foot_login">[登录]</span></a> <a href="https://wap.05273.cn/index.php?app=waplogin&controller=index&view=register"><span class="foot_logout">[注册]</span></a>
                    </div>
                    <p>Copyright &copy; 2007-2019 沭阳网. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <mip-fixed type="gototop">
        <mip-gototop threshold='300'></mip-gototop>
        </mip-fixed>
        <mip-stats-baidu token="7c6dc3238ba997d3854da80efd951702"></mip-stats-baidu>
        <!--mip 运行环境-->
        <script src="https://c.mipcdn.com/static/v1/mip.js"></script> 
        <script src="https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js"></script>
        <script src="https://c.mipcdn.com/extensions/platform/v1/mip-cambrian/mip-cambrian.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-share/mip-share.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-lightbox/mip-lightbox.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-link/mip-link.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
        <script src="https://c.mipcdn.com/extensions/platform/v1/mip-shuyang-count/mip-shuyang-count.js"></script> 
    </body>
</html>