{template "mip","header_index"}
  <!-- nav/S -->
  <div class="navs">
  <div class="nav">
    <ul>
            <li><mip-link href="https://wap.05273.cn/miplist-6-1.html">资讯</mip-link></li>
            <li><mip-link href="https://wap.05273.cn/miplist-16-1.html">沭阳</mip-link></li>
            <li><mip-link href="https://wap.05273.cn/miplist-3370-1.html">话题</mip-link></li>
            <li><mip-link href="https://wap.05273.cn/miplist-24-1.html">政府</mip-link></li>
            <li><mip-link href="https://wap.05273.cn/miplist-11-1.html">地方</mip-link></li>
    </ul>
  </div></div>
 <div class="mip-article-content">
  <!-- mip-article-content Start -->
  <div class="mip-article"> 
  <mip-form url="//wap.05273.cn/index.php?" method="get" class="search_form">
  <div class="s_mtop2">
    <input type="hidden" name="app" value="mobile">
    <input type="hidden" name="controller" value="search">
    <input type="hidden" name="view" value="init">
    <div class="show_div_form"><input type="text" name="q" value="" placeholder="请输入您的搜索关键词!"></div>
    <input type="submit" value="搜索" class="s_i">
  </div>
</mip-form>
  <!-- gallery/S -->
  <div class="gallery" id="gallery">
    <mip-carousel autoplay layout="responsive" width="400" height="200" indicator buttonController>
  {edi:mobile action="lists" catid="16" order="listorder DESC" thumb="1" num="5"}
    {loop $data $r}
  <mip-link href="{mip_url($r[catid],$r[id])}"> <mip-img src="{$r['thumb']}" alt="{$r['title']}"></mip-img>
        <div class="mip-carousle-subtitle slide-otxt">
          <p>{$r['title']}</p>
        </div>
        </mip-link> 
          {/loop}
          </mip-carousel>
          {/edi}
  </div>
  <!-- gallery/E --> 
  <section class="card_module">
    <ul class="recommend_items">
      <li><span>头条</span>
  {edi:mobile action="position" posid="2" order="listorder DESC" num="1"}
           {loop $data $r}
        <mip-link href="{mip_url($r[catid],$r[id])}">{$r['title']}</mip-link></li>
              {/loop} 
             {/edi} 
    </ul>
  </section>
  {edi:mobile action="lists" catid="3370" num="1" moreinfo="1" order="id DESC" thumb="1"}
  {loop $data $huati}
    <section class="card_module">
            <mip-link href="{mip_url($huati[catid],$huati[id])}">
      <dl class="f_card">
                <dd class="f_card_dd">
        <h3 class="f_card_h3">[第{$huati[qihao]}期]{$huati[title]}</h3>
        <p class="f_card_p">{str_cut($huati[description],300)}</p>
        <div class="f_card_icon">
        <span class="book_tip">话题</span>
        </div>
        </dd>
      </dl>
    </mip-link>
   </section>
   {/loop}
   {/edi} 
  <!-- 头条/S -->
 <div class="module">
    <div class="list topnews">
      <ul>
                <li> <strong><mip-link href="https://wap.05273.cn/miplist-6-1.html">国内</mip-link></strong>
  {edi:mobile action="lists" catid="6" order="listorder DESC" num="1"}
    {loop $data $r}
                <span><mip-link href="{mip_url($r[catid],$r[id])}">{$r['title']}</mip-link></span>
          {/loop}
          {/edi}
        </li>
                <li> <strong><mip-link href="https://wap.05273.cn/miplist-16-1.html">沭阳</mip-link></strong>
  {edi:mobile action="lists" catid="16" order="listorder DESC" num="1"}
    {loop $data $r}
                <span><mip-link href="{mip_url($r[catid],$r[id])}">{$r['title']}</mip-link></span> 
          {/loop}
          {/edi}
        </li>
                <li> <strong><mip-link href="https://wap.05273.cn/miplist-3370-1.html">话题</mip-link></strong>
  {edi:mobile action="lists" catid="3370" order="listorder DESC" num="1"}
    {loop $data $r}
                <span><mip-link href="{mip_url($r[catid],$r[id])}">{$r['title']}</mip-link></span> 
          {/loop}
          {/edi}
        </li>
                <li> <strong><mip-link href="https://wap.05273.cn/miplist-15-1.html">港澳</mip-link></strong>
  {edi:mobile action="lists" catid="15" order="listorder DESC" num="1"}
    {loop $data $r}
                <span><mip-link href="{mip_url($r[catid],$r[id])}">{$r['title']}</mip-link></span> 
          {/loop}
          {/edi}
        </li>
              </ul>
    </div>
  </div>
  <!-- 头条/E -->
 <!-- 今日话题 -->
 <div class="module" id="ycbox">
    <div class="head">
<h2 class="current" data-tab="yc">今日话题</h2>
    </div>
    <div class="content"> 
      <div class="panel house">
        <div class="list">
          <ul>
  {edi:mobile action="lists" catid="3370" order="listorder DESC" thumb="1" num="1"}
    {loop $data $r}
                        <li class="full"> <mip-link href="{mip_url($r[catid],$r[id])}">
              <div class="thumb"> <mip-img src="{thumb($r['thumb'],150,110)}" alt="{$r['title']}"></mip-img></div>
              <h2>{$r['title']}</h2>
              <p>{str_cut($r[description],150,'')}</p>
              </mip-link> </li>
          {/loop}
          {/edi}
  {edi:mobile action="lists" catid="3370" start="1" order="listorder DESC" num="9"}
    {loop $data $r}
                        <li class="lite">
              <h2> <mip-link href="{mip_url($r[catid],$r[id])}" title="“{$r['title']}">{$r['title']}</mip-link></h2>
            </li>
          {/loop}
          {/edi}
                      </ul>
        </div>
        <div class="mores"> <mip-link href="https://wap.05273.cn/huati/"><span class="gochannel">进入今日话题</span></mip-link> </div>
      </div>
    </div>
  </div>
  <!-- 今日话题 --> 
<div class="module" id="ycbox">
    <div class="head">
<h2 class="current" data-tab="yc">沭阳新闻</h2>
    </div>
    <div class="content"> 
      <div class="panel house">
        <div class="list">
          <ul>
    {edi:mobile action="lists" catid="16" order="listorder DESC" thumb="1" num="1"}
    {loop $data $r}
                        <li class="full"> <mip-link href="{mip_url($r[catid],$r[id])}">
              <div class="thumb"> <mip-img src="{thumb($r['thumb'],150,110)}" alt="{$r['title']}"></mip-img></div>
              <h2>{$r['title']}</h2>
              <p>{str_cut($r[description],150,'')}</p>
              </mip-link> </li>
                    {/loop}
                    {/edi}
    {edi:mobile action="lists" catid="16" start="1" order="listorder DESC" num="9"}
    {loop $data $r}
                        <li class="lite">
              <h2> <mip-link href="{mip_url($r[catid],$r[id])}" title="“{$r['title']}">{$r['title']}</mip-link></h2>
            </li>
                    {/loop}
                    {/edi}
                      </ul>
        </div>
        <div class="mores"> <mip-link href="https://wap.05273.cn/news/"><span class="gochannel">进入沭阳新闻频道</span></mip-link> </div>
      </div>
    </div>
  </div>
<div class="module" id="ycbox">
    <div class="head">
<h2 class="current" data-tab="yc">国内资讯</h2>
    </div>
    <div class="content"> 
      <div class="panel house">
        <div class="list">
          <ul>
    {edi:mobile action="lists" catid="6" order="listorder DESC" thumb="1" num="1"}
    {loop $data $r}
                        <li class="full"> <mip-link href="{mip_url($r[catid],$r[id])}">
             <div class="thumb"> <mip-img src="{thumb($r['thumb'],150,110)}" alt="{$r['title']}"></mip-img></div>
              <h2>{$r['title']}</h2>
              <p>{str_cut($r[description],150,'')}</p>
              </mip-link> </li>
                    {/loop}
                    {/edi}
    {edi:mobile action="lists" catid="6" start="1" order="listorder DESC" num="9"}
    {loop $data $r}
                        <li class="lite">
              <h2> <mip-link href="{mip_url($r[catid],$r[id])}" title="“{$r['title']}">{$r['title']}</mip-link></h2>
            </li>
                    {/loop}
                    {/edi}
                      </ul>
        </div>
        <div class="mores"> <mip-link href="https://wap.05273.cn/daodu/"><span class="gochannel">进入国内资讯频道</span></mip-link> </div>
      </div>
    </div>
  </div>
 <!-- 图片频道 -->
 <div class="module" id="ycbox">
    <div class="head">
<h2 class="current" data-tab="yc">图片频道</h2>
    </div>
    <div class="content"> 
      <div class="panel house">
        <div class="list">
          <ul>
    {edi:mobile action="lists" catid="8" order="listorder DESC" thumb="1" num="1"}
    {loop $data $r}
                        <li class="full"> <mip-link href="{mip_url($r[catid],$r[id])}">
              <div class="thumb"> <mip-img src="{thumb($r['thumb'],150,110)}" alt="{$r['title']}"></mip-img></div>
              <h2>{$r['title']}</h2>
              <p>{str_cut($r[description],150,'')}</p>
              </mip-link> </li>
                    {/loop}
                    {/edi}
    {edi:mobile action="lists" catid="8" start="1" order="listorder DESC" num="9"}
    {loop $data $r}
                        <li class="lite">
              <h2> <mip-link href="{mip_url($r[catid],$r[id])}" title="“{$r['title']}">{$r['title']}</mip-link></h2>
            </li>
                    {/loop}
                    {/edi}
                      </ul>
        </div>
        <div class="mores"> <mip-link href="https://wap.05273.cn/photo/"><span class="gochannel">进入图片频道</span></mip-link> </div>
      </div>
    </div>
  </div>
  <!-- 图片频道 -->
  <!-- 推荐视频 -->
 <div class="module" id="ycbox">
    <div class="head">
<h2 class="current" data-tab="yc">推荐视频</h2>
    </div>
    <div class="content"> 
      <div class="panel house">
        <div class="list">
          <ul>
    {edi:mobile action="position" posid="26" order="listorder DESC" thumb="1" num="1"}
    {loop $data $r}
                        <li class="full"> <mip-link href="{mip_url($r[catid],$r[id])}">
              <div class="thumb"> <mip-img src="{thumb($r['thumb'],150,110)}" alt="{$r['title']}"></mip-img></div>
              <h2>{$r['title']}</h2>
              <p>{str_cut($r[description],150,'')}</p>
              </mip-link> </li>
                    {/loop}
                    {/edi}
    {edi:mobile action="position" posid="26" start="1" order="listorder DESC" num="9"}
    {loop $data $r}
                        <li class="lite">
              <h2> <mip-link href="{mip_url($r[catid],$r[id])}" title="“{$r['title']}">{$r['title']}</mip-link></h2>
            </li>
                    {/loop}
                    {/edi}
                      </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 推荐视频 -->
  <!-- footnav/S -->
     </div></div>
                </div>
                  <div class="footnav">
                    <ul>
                    <li><a href="https://wap.05273.cn/">首页</a></li>
                    <li><a href="https://wap.05273.cn/miplist-6-1.html">资讯</a></li>
                    <li><a href="https://wap.05273.cn/miplist-16-1.html">沭阳</a></li>
                    <li><a href="https://wap.05273.cn/miplist-3370-1.html">话题</a></li>
                    <li><a href="https://wap.05273.cn/miplist-24-1.html">政府</a></li>
                    <li><a href="https://wap.05273.cn/miplist-11-1.html">地方</a></li>
                    <li><a href="https://wap.05273.cn/miplist-12-1.html">实用</a></li>
                    <li><a href="https://wap.05273.cn/miplist-13-1.html">国内</a></li>
                    <li><a href="https://wap.05273.cn/miplist-14-1.html">社会</a></li>
                    <li><a href="https://wap.05273.cn/miplist-15-1.html">港澳</a></li>
                    <li><a href="https://wap.05273.cn/miplist-8-1.html">图片</a></li>
                    <li><a href="https://wap.05273.cn/miplist-21-1.html">热点</a></li>
                    <li><a href="https://wap.05273.cn/miplist-22-1.html">县内</a></li>
                    <li><a href="http://m.05273.cn/">论坛</a></li>
                    <li><a href="https://wap.05273.cn/miplist-20-1.html">电视</a></li>
                    </ul>  </div>
                  <!-- footnav/E --> 
                <div class="mip-footer" id="footer">
                <div class="footer">
                    <div class="links"><a href="https://www.05273.cn/?mobile">电脑版</a>
                    <a href="https://wap.05273.cn/index.php?app=waplogin&controller=index&view=login"><span class="foot_login">[登录]</span></a> <a href="https://wap.05273.cn/index.php?app=waplogin&controller=index&view=register"><span class="foot_logout">[注册]</span></a>
                    </div>
                    <p>Copyright &copy; 2007-2019 沭阳网. All Rights Reserved</p>
                </div>
            </div>
        </div>
        <mip-fixed type="gototop">
        <mip-gototop threshold='300'></mip-gototop>
        </mip-fixed>
        <mip-stats-baidu token="7c6dc3238ba997d3854da80efd951702"></mip-stats-baidu>
        <!--mip 运行环境-->
        <script src="https://c.mipcdn.com/static/v1/mip.js"></script>      
        <script src="https://c.mipcdn.com/static/v1/mip-gototop/mip-gototop.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-share/mip-share.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-lightbox/mip-lightbox.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-link/mip-link.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-form/mip-form.js"></script>
        <script src="https://c.mipcdn.com/static/v1/mip-stats-baidu/mip-stats-baidu.js"></script>
        <script src="https://c.mipcdn.com/extensions/platform/v1/mip-shuyang-count/mip-shuyang-count.js"></script> 
    </body>
</html>