	<!-- Footer -->
    <div class="clear"></div>
	<div class="foot">
		<div class="foot01">
	<a href="https://www.zhikunet.org/about/aboutus/" target="_blank">关于沭阳网</a> | <a href="https://www.zhikunet.org/about/shuyangwang/" target="_blank">本网动态</a> | <a href="https://www.zhikunet.org/about/contactus/" target="_blank">联系方式</a> | <a href="https://www.zhikunet.org/about/submission/" target="_blank">投稿荐稿</a> | <a href="https://www.zhikunet.org/about/copyright/" target="_blank">免责声明</a> | <a href="https://www.zhikunet.org/about/adsen/" target="_blank">广告投放</a> | <a href="https://www.zhikunet.org/about/weixin/" target="_blank">微信平台</a> | <a href="https://www.zhikunet.org/about/book/" target="_blank">意见反馈</a> | <a href="https://www.zhikunet.org/about/delete/" target="_blank">删帖须知</a> | <a href="https://www.zhikunet.org/links.shtml" target="_blank">友情链接</a>
| <a href="https://www.zhikunet.org/sitemap.html" target="_blank">网站地图</a>
| <a href="https://www.zhikunet.org/rss/" target="_blank">RSS订阅</a>
| <a href="https://wap.zhikunet.org/" target="_blank">手机站</a> 
        </div>
        <div class="foot02">
            Copyright &copy; 2007-2019 zhikunet.org All Rights Reserved.  <br>电信与信息服务业务经营许可证编号：<a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备18031647号-1</a> <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32132202000115" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//statics.zhikunet.org/images/gab.png" style="float:left;"/>苏公网安备 32132202000115号</a> <img src="//statics.zhikunet.org/statics/images/copyright.gif"/>  <a href="https://www.zhikunet.org/special/wenming/" target="_blank"><img src="//statics.zhikunet.org/statics/images/wm.gif" title="沭阳文明网站创建自律公约" border="0"/></a>
</div>
    </div>
<div style="display:none">

</div>
</body>
</html>