/*
@author Deanhuang
@date 2015-3-11
*/
.wrap{width: 1200px;margin: 0 auto;}
.main{float:left; width: 860px;}
.side{float: right; width: 300px;}
/*header*/
.header{width: 1200px;margin: 10px auto 5px;height: 85px;}
.header .top{height: 30px;margin-bottom:10px;}
.header .top .toolbar{float:right;}
.header .top .Form-Crumbs-Article-QQ { float:right;}
.header .top .Form-Crumbs-Article-QQ .submit {float:right;width:75px;height:22px;background:url(//statics.05273.cn/images/list/split_v2.png) no-repeat 0 -372px;border:0px;line-height:20px;padding:0 0 2px 0;*padding:2px 0 0 0;padding:2px 0 0 0\0;font-size:12px;cursor:pointer}
.header .top .Form-Crumbs-Article-QQ .inputWarp {float:right;width:202px;height:21px;background:url(//statics.05273.cn/images/list/split_v4.1.png) no-repeat 0px -344px;;margin-right:3px;_display:inline;padding-top:1px;padding-top:2px\0;text-align:center;}
.header .top .Form-Crumbs-Article-QQ .txtArea {width:166px;border:0px;height:16px;margin:3px 8px 0 0;padding:0;line-height:16px;font-size:13px;}
.header .top .Form-Crumbs-Article-QQ .SosoLogo {width:24px;height:16px;margin-top:3px; float:left;}
.header .top .Form-Crumbs-Article-QQ .SosoLogo span {display:none}
.header .top .cf{background:#000;}
.header .logo{width: 200px; height: 30px; float: left; text-indent: -9999px; background: url(//statics.05273.cn/images/list/news.png) 0 0 no-repeat;}
.header .nav{height: 42px; padding-bottom: 6px;background: url(//statics.05273.cn/images/list/nav_bottom_bg.png) 0 bottom repeat-x #315D9C; }
.header .nav ul{padding-left: 10px;}
.header .nav li{float: left; display: inline; height: 42px; line-height: 42px; margin: 0 18px; font-size: 16px;}
.navs{width: 1200px;z-index: 999;}
.submenu .title {
  border-left: 5px solid #315D9C;
  padding-left: 10px;
  overflow: hidden;
}
.s .hd { border-top: 2px solid #315D9C;}
.column .bd .cover .cate h2 {background: #315D9C;}
.header .nav a{color: #fff;}
    #pageZone span.isNow {
    background: #315D9C;
    color: #fff;
  }
#channel_nav .Form-Crumbs-Article-shuyang .submit {float:right;width:50px;height:26px;border:none;font-size:12px;background: url(//statics.05273.cn/images/list/sogouNewUi_v1.png) left bottom no-repeat;cursor:pointer;}
#channel_nav .Form-Crumbs-Article-shuyang .inputWarp{float:right;width:229px;height:24px;margin:0;padding:0;line-height:22px;background:none;border:#c9c9c9 1px solid;border-right:none;}
#channel_nav .Form-Crumbs-Article-shuyang .txtArea{width:198px;height: 20px;margin:2px auto 0 2px;font-size:14px;line-height:20px;border:none;_border:1px;color:#424242;outline:none;inline:none;}
#channel_nav .Form-Crumbs-Article-shuyang .SosonLogo{float:right;width:18px;height:18px;margin:3px 3px 0 0;background:url(//statics.05273.cn/images/list/sogouNewUi_v1.png) left top no-repeat;}
#channel_nav .Form-Crumbs-Article-shuyang .SosonLogo span{display:none;} 
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:13px;line-height:22px;font-family:"宋体";}
.soso-smart-a{}
.soso-smart-b{background:#D8ECFF;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}
.mininav{width:100%;height:28px;background:#fdfdfd url(//statics.05273.cn/statics/css/2014style/img/mininav.png) repeat-x top center;border-bottom:1px solid #ebebeb;}
.mininavInner{width:1200px;height:28px;margin:0 auto!important;}
.mininavInner a{color:#666;text-decoration:none;font-family:"宋体";}
.mininavInner a:hover{color:#2d374b;}
.mininavInner .mininavLeft{float:left;margin-top:6px;color:#c7c7c7;font-size:12px;}
.mininavInner .mininavLeft .fl{color:#3b639f;}
.mininavLeft div{line-height:16px;}
.mininavLeft .int{background:#FFFFFF;border-bottom-color:#c9c9c9;border-bottom-width:1px;border-top-width:0px;border-left-width:0px;border-right-width:0px;solid#c9c9c9;color:#000000;FONT-SIZE:9pt;FONT-STYLE:normal;FONT-VARIANT:normal;FONT-WEIGHT:normal;HEIGHT:16px;LINE-HEIGHT:normal}
.mininavRight div{line-height:29px;}
a.onelogin,a.onelogin:hover{background-image:url(//statics.05273.cn/statics/css/2014style/img/loginall_1_2.png); background-repeat:no-repeat;}
a.onelogin{width:70px;height:28px;display:block;float:right;background-position:left -450px;}
a.onelogin:hover{background-position:left -500px;}
a.newgundong{height:29px;display:block;float:right;}
a.newgundong:hover{background-position:right -70px;}
a.shouye{width:60px;height:29px;display:block;float:right;}
a.shouye:hover{background-position:right -100px;}
a.gwweibo{width:60px;height:29px;display:block;float:right;}
a.gwweibo:hover{background-position:right -150px;}
.input_bn{background:url(//statics.05273.cn/statics/images/bn/login.gif) no-repeat 0px 0px; width:39px; height:18px; border:none; cursor:pointer}
/* 分页 */
#pages { padding:14px 0 10px; font-family:宋体 }
#pages a { display:inline-block; height:22px; line-height:22px; background:#F3F3F3; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.a1 {width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }
/*fashion*/
.fs .logo{width: 200px; height: 30px; float: left; text-indent: -9999px; background: url(//statics.05273.cn/images/list/sslogo.png) 0 0 no-repeat;}
.fs .nav{height: 42px;padding-bottom: 6px; background: url(//statics.05273.cn/images/list/nav_bottom_bg.png) 0 bottom repeat-x;}
.fs .nav a{font-size: 14px; color: #FFF;display:block; padding:0 26px;}
.fs .nav a:hover{background:#D8001D;text-decoration: none;}
.fs .nav ul{ height: 42px;}
.fs .nav ul li{position: relative; line-height: 42px; float: left; text-align: center; background-color: #000;overflow: visible;}
.fs .nav ul li.home{width: 82px; background-color: #D8001D;}
.fs .nav ul li.wedding{width: 108px;}
.fs .nav ul li i.new{position:absolute;display: block;width: 23px;height: 16px;top: -10px;left: 45px;}
.nav .d-code{margin-right: 15px;margin-top: 9px;padding: 0px 0px 0px 30px; height: 26px; line-height: 26px; cursor:pointer; color:#FFF; background: url(//statics.05273.cn/statics/images/show/d-code-bg.png) no-repeat 0 0}
.nav .d-code{float:right;display:inline}
.nav .d-code:hover{ background-position: 0 -26px}
.nav .d-code-box{ position: absolute; margin-left: -190px;float: left; width: 150px; height: 185px;text-align:center; border:1px solid #E9E9E9; background: #FFF;display:none;z-index:10;}
.nav .d-code:hover .d-code-box,.d-code.hover .d-code-box{ display: block}
.nav .d-code-box p{padding:6px; font:12px/16px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; color:#81B441;}
.nav .d-code-box img{margin: 9px; padding-top: 5px; border: medium none;}
.submenu{overflow: hidden;padding-bottom: 15px;border-bottom: 1px solid #eee;margin-bottom: 10px;}
.submenu .title{border-left: 5px solid #D8001D;padding-left: 10px;overflow: hidden;}
.submenu h1{font-size: 26px;font-weight: 300;float: left;margin-right: 10px;}
.submenu .subnav{margin-top: 12px;font-size: 14px;}
.wrap{background: url();}
.hotCarCon li div p.tel{ width:220px}
.Q-tpList{border-bottom:1px solid #f0f0f0;position:relative;padding-bottom:14px}
.Q-tpList:hover,.Q-pList:hover{ background:#f7f7f7}
.Q-tpList .pic{float: left;margin:13px 19px 0 0;  position:relative}
.Q-tpList img{border:0;width: expression(this.width > 120 ? '120px': true); max-width: 120px;width: expression(this.width > 100 ? '100px': true); max-height: 100px;}
.Q-tpList h1{font:18px/35px "\5FAE\8F6F\96C5\9ED1","simhei";margin:8px 0 0;_display:inline-block}
.Q-tpList .red a{color:#b80b0b}
.Q-tpList .red a:hover{color:#cd0001}
.Q-tpList .k500{width:500px;font-weight: 300;float: left;margin-right: 10px;}
.Q-tpWrap{overflow: hidden;}
.Q-tpWrap p{color:#818181; padding:1px 15px 0 0}
.Q-pList{border-bottom:1px solid #f0f0f0;padding-bottom:17px;position:relative}
.Q-pList em{font:20px/45px "\5FAE\8F6F\96C5\9ED1","simhei";margin:5px 0 0}
.Q-pList em a{display:inline}
.Q-pList .pic{float: left;width:195px;height:140px;margin:-2px 20px 0 0;}
.Q-pList img{width:195px;height:140px; position:static}
#moreNewsBtn{display:block;height:37px;background:#fff url(//statics.05273.cn/images/list/icons.png) repeat-x 0 -1116px;font:16px/37px "\5FAE\8F6F\96C5\9ED1","simhei";text-align:center;color:#7b7b7b;margin:-1px 0 21px 0;text-indent:22px;cursor:pointer;border-bottom: 1px solid #ebebeb;position: relative;padding:4px 0 0;z-index:0}
#moreNewsBtn:focus,#moreNews:focus{outline:none}
#moreNewsBtn span{padding-right:22px;background:url(//statics.05273.cn/images/list/icons.png) no-repeat 367px -144px}
#moreNews{display:none}
.main .bd .about-tags{font-size:12px;line-height:30px;display:inline;color:#808080;}
.main .bd .about-tags a{color:#808080;padding:2px 5px;}
.main .bd .about-tags em{background:#5485DB;color:#FFF;padding:2px 5px;position:relative;margin-left:5px;margin-right:5px;}
.main .bd .about-tags em a{color:#FFFFFF;padding:2px 5px;}
.main .bd .about-tags a:hover{background:#5485DB;color:#FFF;}
.btns{width:118px;height:12px;position:absolute;top:24px;right:0}
.btns{top:19px}
.btns .forStyle{width:15px;height:14px; float:right; display:inline}
.shareBtn,a.discuzBtn{float:right;display:inline;cursor:pointer;}
.shareBtn:focus{outline:none}
.shareBtn{width:11px;height:14px;background:url(//statics.05273.cn/images/list/icons.png) no-repeat 0 -120px; margin-left:9px; position:relative}
.discuzBtn{margin-left:12px;padding:0 5px 0 16px;font:12px/14px "Tahoma";background:url(//statics.05273.cn/images/list/icons.png) no-repeat 0 -79px}
.shareBtnHover{background:url(//statics.05273.cn/images/list/icons.png) no-repeat 0 -440px; display:block}
.discuzBtn:hover{background:url(//statics.05273.cn/images/list/icons.png) no-repeat 0 -399px;display:block}
#breakingNews .shareBtn{display:inline;float:left;margin-top:12px;background:url(//statics.05273.cn/images/list/icons.png) no-repeat 0 -1040px; position:static}
#shares{width:95px;padding:6px 0;overflow:hidden;position:absolute;border:1px solid #e2e2e2;top:20px;left:-18px;z-index:2;background:#fff;display:none}
#shares .shareButton{height:26px;cursor:pointer;margin:0;font:12px/26px "\5B8B\4F53","Arial Narrow",HELVETICA;color:#808080; overflow:hidden; clear:both; float:left; width:100%; text-align:left}
#shares .shareButton a{ display:block;padding-left:37px;display:block;background:url(//statics.05273.cn/images/list/icons.png) no-repeat}
#shares .shareButton a:hover{background-color:#f3f3f3}
#shares #share2wb a{background-position:13px -1419px}
#shares #share2qzone a{background-position:13px -1445px}
#shares #share2shuyang a{background-position:13px -1471px}
#shares #share2sina a{background-position:13px -1497px}
#breakingNews #shares{top:12px;right:452px}
#pageZone { padding-top: 40px; overflow: hidden }
#pageZone span { float: left; width: 34px; height: 34px; line-height: 34px; text-align: center; margin-right: 5px; font-size: 14px; cursor: pointer; background: #f3f3f3;}
#pageZone span:hover { background: #258cff; color: #fff; text-decoration: none }
#pageZone .Disabled { width: 85px; }
#pageZone .Disabled a { display: block; width: 85px }
#pageZone span.isNow { background: #258cff; color: #fff; }
#pageZone span.count { display: none }
#pageZone span.dot { border: none; }
#pageZone span a { display: block; height: 34px; }
#pageZone span a:hover { color: #fff; text-decoration: none }
.l22 {line-height: 22px;}
/*=S 浮动层 */
.share_layer { overflow:hidden; padding:7px; position:absolute; z-index:999999;zoom:1;font-size:12px; font-family:Arial, Sans-Serif }
.share_layer ul, .share_layer ul li { list-style-type:none }
.share_layer img { border:0 none }
.share_layer a { text-decoration:none }
.share_layer a:hover { text-decoration:underline }
.share_layer button,.share_layer label { cursor:pointer; border:0 none }
.share_layer input,.share_layer  button { font-size:12px; font-family:Arial, Sans-Serif }
.share_layer_main{ border:1px solid #b5c1ca; background-color:#FAFCFF; position:relative; z-index:5}
.share_layer_title { height:24px; background:#EEF4F6 url(//statics.05273.cn/images/list/loginpop_tbg.png) repeat-x; cursor:move; border-bottom:1px solid #CED3E4 }
.share_layer_title h3 { float:left; margin:0;padding:3px 0 0 12px; color:#666; font-size:13px;font-weight:normal; line-height:18px; overflow:hidden; font-family:Arial, Helvetica, sans-serif }
.share_layer_title .mblogo{ padding-left:24px;background:url(//statics.05273.cn/images/list/wblogin_bt1.png) -84px 6px no-repeat }
.share_layer .bt_close { background:url(//statics.05273.cn/images/list/pop_bg.png) no-repeat 0 -39px; width:9px; height:10px;cursor:pointer; position:absolute; right:10px; top:11px; z-index:5px }
.share_layer_cont a:link, .share_layer_cont a:visited { color:#5F5F5F; text-decoration:underline }
.share_layer_cont a:hover, .share_layer_cont a:active { color:#494949 }
.share_layer_cont { color:#000000; background-color:#FAFCFF }
.share_layer_hint { color:#9E9E9E; font-style:normal }
.global_tip_button { text-align:center; clear:both; width:100% }
.bt_tip_sure, .bt_tip_cancel { background-image:url(//statics.05273.cn/images/list/pop_bg.png); background-repeat:no-repeat; background-position:0 -58px; font-size:12px; line-height:19px; width:48px; height:23px; margin-right:6px; *overflow:visible;_padding-top:3px; _line-height:12px; cursor:pointer }
*:lang(zh) .bt_tip_sure, .bt_tip_cancel {padding-top /*\**/:4px\9}
.bt_tip_cancel { color:#4D637F; background-color:#F3F4F5; background-position:-54px -58px }
.icon_hint_warn, .icon_hint_succeed { background:transparent url(//statics.05273.cn/images/list/pop_bg.png) no-repeat; display:-moz-inline-stack; display:inline-block; height:15px; width:15px; vertical-align:middle }
.icon_hint_warn { background-position:-39px -37px; _vertical-align:-2px }
.icon_hint_succeed { background-position:-18px -37px }
.layer_popup { background-color:#FFFFFF; border:2px solid #6792bc }
.icon_hint_warn span, .icon_hint_succeed span { display:none }
.share_layer .bg {position:absolute;top:0;left:0;height:100%;padding:500px;zoom:1 }
.share_layer .del_fri{font-weight:bold;display:-moz-inline-stack;display:inline-block;line-height:9px;width:11px;height:10px;position:absolute;top:6px;right:10px;cursor:pointer; font-family:"Comic Sans MS","Verdana", cursive; color:#99ADBA } 
.share_layer .del_fri:hover{text-decoration:none; color:#666666 }
.share_layer_title .none { display:none !important }
.s .hd{height: 40px;line-height: 40px;border-top: 2px solid #D8001D;border-bottom: 1px solid #ccc;margin-bottom: 15px;}
.s .hd h2{font-size: 20px;font-weight: 300;}
.s .bd{}
.column .bd .cover .cate{overflow: hidden;margin-bottom: 1px;}
.column .bd .cover .cate h2{font-size: 14px;font-weight: 400;background: #D8001D;float: left;color: #fff;padding: 0 5px;height: 24px;line-height: 24px;}
.column .bd .cover .cate h2 a{color: #fff;}
.column .bd .cover .cate a.more{float: right;margin-top: 8px;}
.column .bd .cover{margin-bottom: 3px;}
.column .bd .cover img{width: 300px;height: 300px;margin-bottom: 10px;}
.column .bd .cover h2{font-size: 16px;height: 30px;line-height: 30px;}
.column .bd .cover p{font-size: 14px;line-height: 22px;color: #999;}
.rank li {height: 30px;line-height: 30px;font-size: 14px;}
.rank ul.num{float: left;}
.rank ul.num li{height: 30px;line-height: 30px;font-family: Helvetica,AppleGothic,Sans-serif,"\5FAE\8F6F\96C5\9ED1";font-size: 18px;text-align: right;width: 20px;margin-right: 10px;font-weight: 700;}
.rank li.r1{color: #f50b10}
.rank li.r2{color: #e74c3c}
.rank li.r3{color: #e67e22}
#goTop{ visibility:hidden;position:fixed; _position:absolute; background:url(//statics.05273.cn/images/list/goTop.png) no-repeat; height:54px; width:54px; right:50px; bottom:10px;cursor: pointer;}
#goTop.on{filter:Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8;}