<!--main-->
{template "content","header"}
<link href="{CSS_PATH}sty.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]><link href="{CSS_PATH}ielt9.css" rel="stylesheet" type="text/css" /><![endif]-->
<script type="text/javascript" src="{JS_PATH}jquery.tools.min.js"></script>

<div class="tmp_bd clr">
 <div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> &gt; </span><a href="{APP_PATH}index.php?app=book&controller=index">留言板</a></div>
	<div class="brd showpg">
      <div class="hfbox txt_c pdtb_50">
	        <div class="topct">
      	<div class="t_box">
              <div class="clr">
                 <h2>该留言没有公开，请输入密码查看</h2>
              </div>
              <p></p>
            </div>
      </div>
		<ul class="clr iptuli">
           <li class="clr w240">
		   <form action="{APP_PATH}index.php?app=book&controller=index&view=show&id={$_GET['id']}" method="POST">
		   <label>密&nbsp;码</label><input type="password" id="view_password" name="view_password">  
		   <input type="submit" id="dosubmit" value="提交" name="dosubmit" class="ly_btns">
		   </form>
		   </li>
        </ul>
      </div>
	 </div>
	</div>
	{template "content","footer"}
