<div class="footer">
<div class="links"><a href="https://www.05273.cn/?mobile" >电脑版</a>
<form id="page_loginForm">
<a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=login&forward={$forward}"><span class="foot_login">[登录]</span></a> <a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=register"><span class="foot_logout">[注册]</span></a>
</form>
<script type="text/javascript">Login.isLogin('//wap.05273.cn/index.php?app=waplogin&controller=index&view=top_mini','page_loginForm','page');</script>
</div>
<div class="copyright"> Copyright &copy; 2007-2019 沭阳网. All Rights Reserved </div>
<div class="gotop"></div>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</div>