<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="dns-prefetch" href="https://statics.05273.cn">
<link rel="dns-prefetch" href="https://upload.05273.cn">
<link rel="dns-prefetch" href="https://account.05273.cn">
<link rel="dns-prefetch" href="https://img1.05273.cn">
<link rel="dns-prefetch" href="https://img2.05273.cn">
<link rel="dns-prefetch" href="https://img3.05273.cn">
<link rel="dns-prefetch" href="https://wap.05273.cn">
<link rel="dns-prefetch" href="https://www.05273.cn">
<title>{L('use_email_get_password')}_沭阳网手机版会员中心</title>
<meta name="author" content="wap.05273.cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/waplogin/css/base2013.css?v={CSS_VERSION}" charset="gbk"/>
<link rel="apple-touch-icon" href="https://statics.05273.cn/statics/mobile/img/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://statics.05273.cn/statics/mobile/img/touch-icon-iphone-retina.png" />
<script type="text/javascript" src="//statics.05273.cn/waplogin/js/common.js?v={JS_VERSION}"></script>
<script type="text/javascript" src="//statics.05273.cn/waplogin/js/spin.min.js?v={JS_VERSION}"></script>
<script type="text/javascript" src="{JS_PATH}jquery.js?v={JS_VERSION}"></script>
<script type="text/javascript" src="//statics.05273.cn/waplogin/js/member_common.js?v={JS_VERSION}"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/formvalidator.js?v={JS_VERSION}" charset="UTF-8"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/formvalidatorregex.js?v={JS_VERSION}" charset="UTF-8"></script>
</head>
<body id="body">
<a name="top"></a>
<header>
			<div class="new-header">
        	<a href="javascript:pageBack();" class="new-a-back"><span>返回</span></a>
							<h2><DIV id="myforms"></div>{L('use_email_get_password')}</h2>
			            <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span></span></a>
    	</div>
		<div class="new-jd-tab" style="display:none" id="jdkey">
        	<div class="new-tbl-type">
                <a href="https://wap.05273.cn/" class="new-tbl-cell">
                	<span class="icon">首页</span>
					<p style="color:#6e6e6e;">首页</p>
                </a>
                <a href="https://wap.05273.cn/index.php?controller=search" class="new-tbl-cell">
                	<span class="icon2">搜索</span>
					<p style="color:#6e6e6e;">搜索</p>
                </a>
                <a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=comment" id="html5_cart" class="new-tbl-cell">
                	<span class="icon3">我的评论</span>
					<p style="color:#6e6e6e;">我的评论</p>
                </a>
                <a href="https://www.05273.cn/index.php?app=waplogin&controller=index" class="new-tbl-cell">
                	<span class="icon4">我的帐号</span>
					<p style="color:#6e6e6e;">我的帐号</p>
                </a>
            </div>
        </div>
	</header>
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});

	$("#email").formValidator({onshow:"",onfocus:"",oncorrect:""}).inputValidator({min:2,max:32,onerror:""}).regexValidator({regexp:"email",datatype:"enum",onerror:""});
});

//-->
</script>
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/waplogin/css/base.css?v={CSS_VERSION}" charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/waplogin/css/login.css?v={CSS_VERSION}" charset="utf-8"/>
<form method="post" action="" id="myform">
<input type="hidden" name="siteid" value="1" />
<div class="common-wrapper" style="min-height:300px;">
	<div class="main">
		<div class="item item-phone">
			<input id="email" name="email" class="txt-input txt-captcha" type="text" placeholder="{L('input').L('email')}" maxlength="36"/>
		</div>
		<div class="item item-captcha">
			<div class="input-info">
				<input id="code" name="code" class="txt-input txt-captcha" type="text" size="11" maxlength="20" placeholder="{L('checkcode')}"/>
					 <span id="captcha-img">{form::checkcode('code_img', '4', '14', 75, 26)}
    				  </span>
			</div>
		<div class="item item-btns">
		     <input class="btn-next btn" type="submit" name="dosubmit" value="{L('submit')}">
		</div>
		<div style="text-align:right;">
		<a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=public_get_password_type">重新选择验证方式</a>
		</div>
	</div>
</div>
	</form>
	<div id="autoLoginHeight"></div>
<script src="//statics.05273.cn/waplogin/js/autoHeight.js?v={JS_VERSION}" type="text/javascript"></script>
    <footer>
		<div class="login-area" id="footer">
        	<div class="login">
			<span  class="new-fr"><a href="#top">回到顶部</a></span>
   <a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=login&forward=//wap.05273.cn/">登录</a><span class="layout-lg-bar"> | </span><a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=register">注册</a>
            </div>
        	<div class="version"><a href="https://wap.05273.cn/" class="on">手机版</a><a href="https://www.05273.cn/?mobile" id="toPcHome">电脑版</a></div>
            <div class="copyright">Copyright &copy; 2007-2019 05273.cn 版权所有</div>
        </div>
    </footer>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>