<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<link rel="dns-prefetch" href="https://statics.05273.cn">
<link rel="dns-prefetch" href="https://upload.05273.cn">
<link rel="dns-prefetch" href="https://account.05273.cn">
<link rel="dns-prefetch" href="https://img1.05273.cn">
<link rel="dns-prefetch" href="https://img2.05273.cn">
<link rel="dns-prefetch" href="https://img3.05273.cn">
<link rel="dns-prefetch" href="https://wap.05273.cn">
<link rel="dns-prefetch" href="https://www.05273.cn">
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta name="viewport" content="width=device-width; initial-scale=1.3; minimum-scale=1.0; maximum-scale=2.0"/>
<meta name="MobileOptimized" content="240"/>
<meta name="format-detection" content="telephone=no" />
<meta name="applicable-device" content="mobile">
<title>{$MOBILE['sitename']}_沭阳网</title>
<link rel="apple-touch-icon" href="https://statics.05273.cn/statics/mobile/img/touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://statics.05273.cn/statics/mobile/img/touch-icon-iphone-retina.png" />
<link href="https://statics.05273.cn/statics/mobile/css/content2.1.0.css?v={CSS_VERSION}" rel="stylesheet" type="text/css">
<link href="https://statics.05273.cn/statics/mobile/css/index.css?v={CSS_VERSION}" rel="stylesheet" type="text/css">
</head>
<body>