<footer>
<div class="login-area" id="footer">
<div class="login">
<span  class="new-fr"><a href="https://wap.05273.cn/">回到手机站</a></span>
<script src="//statics.05273.cn/statics/js/jquery.js" type="text/javascript"></script>
<form class="login-form" id="page_loginForm">
<a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=login&forward={urlencode($_GET['forward'])}">登录</a><span class="layout-lg-bar"> | </span><a href="https://www.05273.cn/index.php?app=waplogin&controller=index&view=register">注册</a>
</form>
<script type="text/javascript">Login.isLogin('//wap.05273.cn/index.php?app=waplogin&controller=index&view=top_mini','page_loginForm','page');</script>
</div>
<div class="version"><a href="https://wap.05273.cn/" class="on">手机版</a><a href="https://www.05273.cn/?mobile" id="toPcHome">电脑版</a><a href="https://bbs.05273.cn/" id="toPcHome">论坛</a></div>
<div class="copyright">Copyright &copy; 2007-2019 05273.cn 版权所有</div>
</div>
</footer>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>