<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
<link rel="dns-prefetch" href="https://statics.05273.cn">
<link rel="dns-prefetch" href="https://upload.05273.cn">
<link rel="dns-prefetch" href="https://account.05273.cn">
<link rel="dns-prefetch" href="https://img1.05273.cn">
<link rel="dns-prefetch" href="https://img2.05273.cn">
<link rel="dns-prefetch" href="https://img3.05273.cn">
<link rel="dns-prefetch" href="https://wap.05273.cn">
<link rel="dns-prefetch" href="https://www.05273.cn">
<title>沭阳网_提示信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="沭阳网¨"/>
<script src="//statics.05273.cn/statics/js/jquery.js" type="text/javascript"></script>
<link type="text/css" rel="styleSheet" href="https://statics.05273.cn/statics/shipei/css/style.message.min_v7.css?v={CSS_VERSION}" />
<script type="text/javaScript" src="{JS_PATH}jquery.js?v={JS_VERSION}"></script>
<script language="JavaScript" src="{JS_PATH}admin_common.js?v={JS_VERSION}"></script>
</head>
<body class="msgNewswap">
	<header class="isNtWei">
		<h1>沭阳网提示</h1>
		<a class="back" href="{strip_tags($url_forward)}" onclick="window.history.go(-1); return false;"><span></span></a>
	</header>
	<article>
		<div class="msg_list">
			<ul id="id_msgList">
				<div class="msg_null">{$msg}<br><br>
    {if $url_forward=='goback' || $url_forward==''}
	<a href="javascript:history.back();" >[点这里返回上一页]</a>
	{elseif $url_forward=="close"}
	<input type="button" name="close" value=" 关闭 " onClick="window.close();">
	{elseif $url_forward=="blank"}
	{elseif $url_forward}
		    如果没有自动跳转，<a href="{strip_tags($url_forward)}">请点击这里</a>
			<script language="javascript">setTimeout("redirect('{strip_tags($url_forward)}');",{$ms});</script> 
			{/if}
	{if $dialog}<script style="text/javascript">window.top.location.reload();window.top.art.dialog({id:"{$dialog}"}).close();</script>{/if}
			</ul>
		</div>
	</article>
<script style="text/javascript">
	function close_dialog() {
		window.top.location.reload();window.top.art.dialog({id:"<?php echo $dialog?>"}).close();
	}
</script>
</body>
</html>