/* author:edi 2014/4/7 11:03*/
@charset "utf-8";
.hd h2,.hd h3{float:none;display:block;}
a{color:#333; }
a:hover{color:#c00; }
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,button{margin:0;padding:0}
body{font:12px simsun Arial;background:#fff;color:#333; }
a{text-decoration:none;color:#333 }
a:hover{text-decoration:underline;color:#c00; }
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.cf:after{content:"";display:table;clear:both}
.cf{*zoom:1}
/* 首页 */
.newTopic li,.newTopic li .intr a,.hotTipic .picIntr li .text,.hotTipic .picIntr li .text a{color:#909090; }
body{position:relative; }
.header .gwLink li a{color:#9d9d9d; }
.header .gwLink li a:hover{color:#5c687e; }
.wqhgBox .newsBox p a:hover{color:#c00; }
.conTop{color:#747474; }
.xgList li .text,.xgList li .text a{color:#656565; }
.xgList li .text{height:42px;overflow:hidden;}
.header .linkList li .wqhg,.header .gwLink li a{background:url(https://statics.05273.cn/statics/huati/img/bntBg.png) no-repeat ; }
.header{position:relative; z-index:100;background:#fff; }
.header .bd{width:1000px;margin:0 auto;height:84px;position:relative; zoom:1 }
.header .logo{float:left; display:inline; width:305px;height:84px;}
.header .logo a{display:block;height:100%;background:url(https://statics.05273.cn/statics/huati/img/todayLogo.png) no-repeat ;text-indent:-999em;overflow:hidden; }
.header .linkList{float:left; display:inline;margin:30px 0 0 30px; }
.header .linkList li{float:left; display:inline;height:18px;line-height:18px;position:relative;padding:0 20px; border-right:1px solid #d8d8d8;margin-left:-1px;position:relative; zoom:1;_padding:0 15px; }
.wqhgBox{position:absolute;width:300px;height:264px;top:18px;left:10px;padding-top:20px;display:none;background:#fff;}
.wqhgBox .newsBox{border:1px solid #e0e0e0;background:#fff;padding:10px; font-size:14px;}
.wqhgBox .newsBox p{line-height:22px;height:22px;padding:10px 0px 10px 20px;background-position: -173px -158px ;border-bottom:1px solid #f2f2f2;}
.wqhgBox .newsBox p.more{text-align:right;padding-bottom:0px;border-bottom:none;background:none; }
.wqhgBox .colTop{position:absolute;width:18px;height:10px;background-position:-74px -77px ;top:11px;left:35px;}
.header .linkList li .navLink{font-size:16px;font-family:'微软雅黑','黑体';}
.header .linkList li .wqhg{padding-right:20px;background-position:74px -327px;_background-position: 74px -330px;}
.header .linkList li.end{border:none;}
.header .gwLink{float:right; display:inline;margin-top:20px; }
.header .gwLink li{float:left; display:inline;margin-left:18px;position:relative;width:98px; }
.header .gwLink li a{display:block;height:40px;padding-left:50px;line-height:40px;}
.header .gwLink li a:hover{text-decoration:none; }
.header .gwLink li a.gwb{background-position:-137px -4px;}
.header .gwLink li a.gwx{background-position:-138px -57px;}
.gwLink .wxShow{position:absolute;cursor:pointer;top:22px;left:-47px;width:137px;height:166px;padding-top:30px;zoom:1;display:none; }
.gwLink .wxShow .text{padding:7px;background:#fff;border:1px solid #e0e0e0; display:block;}
.gwLink .wxShow span{margin-top:5px;display:block;text-align:center; color:#7b7b7b; line-height:18px; }
.gwLink .wxShow .colTop{position:absolute;width:18px;height:10px;background-position:-74px -77px ;top:16px;left:50%;margin-left:-9px;}
.gwLink a:hover .wxShow{display:block;}
.container{background:#f6f6f6 url(https://statics.05273.cn/statics/huati/img/wrapBg1.png) repeat-x ; }
.container .cont{width:1000px;margin:0 auto;position:relative;overflow:hidden;zoom:1;padding:20px 0;}
.container .cont .main{float:left; display:inline;width:680px;}
.container .cont .sub{float:right; display:inline;width:275px;}
/* 热门话题 */
.newTopic .hd{height:32px;line-height:32px;}
.newTopic .hd h2{font-family:'微软雅黑','黑体';font-size:18px;font-weight:100;}
.newTopic .no1{margin-top:-20px;overflow:hidden; }
.newTopic .no1 li{margin-top:20px;overflow:hidden;zoom:1;background:#fff; }
.newTopic li .pic{float:left; display:inline; margin-right:20px;width:330px;_width:310px;height:200px;overflow:hidden; }
.newTopic li .pic img{width:330px;_width:310px;height:200px;margin:0px 0 0 0px; }
.newTopic li .time{display:block;padding-top:15px;line-height:22px;}
.newTopic li .tit{line-height:30px;font-family:'微软雅黑','黑体';font-size:20px;font-weight:100;margin-top:10px; }
.newTopic li .intr{margin:10px 15px 0 0;line-height:21px;}
.newTopicL{overflow:hidden;zoom:1;margin-left:-20px;}
.newTopicL li{width:330px;float:left; display:inline;margin:10px 0 0 20px; background:#fff; }
.newTopicL li .time{padding-left:15px;}
.newTopicL li .tit{padding:0 0 0 15px;margin:0px 0 10px 0;}
/* 侧边栏 */
.askBj a{display:block;width:275px;height:50px;background-position:0 -84px ;line-height:50px;text-align:center; font-family:'微软雅黑','黑体';font-size:18px;font-weight:100;color:#c00;}
.askBj a:hover{text-decoration:none;color:#666;}
.asidebox{margin-top:15px;}
.asidebox .hd{height:40px;line-height:40px;border-bottom:1px solid #d8d8d8; margin-bottom:15px;}
.asidebox .hd h2{font-family:'微软雅黑','黑体';font-size:18px;font-weight:100;}
.picIntr{overflow:hidden; margin-top:-20px;}
.picIntr li{margin-top:20px;overflow:hidden;zoom:1;}
.picIntr li img{float:left; display:inline;margin-right:12px; }
.picIntr li .lanmu,.picIntr li .lanmu a{color:#7c8dac;line-height:20px; }
.picIntr li .tit{font-family:'微软雅黑','黑体';font-size:16px;font-weight:100;margin-top:5px;}
.news{margin-top:-5px;}
.news li{height:30px;line-height:30px;font-family:'微软雅黑','黑体';font-size:15px;padding-left:12px;background-position:-271px 14px;overflow:hidden;}
.hotTipic .picIntr li .tit{margin-top:0px;line-height:22px; height:22px;overflow:hidden;}
.hotTipic .picIntr li .text{line-height:21px;margin-top:5px; }
.picList{overflow:hidden;zoom:1;margin:-10px 0 0 -10px; }
.picList li{float:left; display:inline; width:85px;float:left; display:inline; margin:10px 0 0 10px;}
.picList li img{border:1px solid #d6d6d6;}
.picList li span{display:block;text-align:center; height:30px;line-height:30px;}
.pepList{overflow:hidden; }
.pepList li{margin-bottom:10px;font-size:15px;font-family:'微软雅黑','黑体';}
.pepList li .name,.pepList li .name a{height:25px;line-height:25px;color:#7b8cab; }
.pepList li .say{font-family:'微软雅黑','黑体';font-size:16px;font-weight:100;}
.moreBnt{height:30px;line-height:30px;font-family:'微软雅黑','黑体';font-size:16px;font-weight:100;text-align:center; margin-top:20px;} 
.moreBnt span{display:inline-block;*display:inline;zoom:1;padding-right:50px;background-position:70px 8px; }
.askShow_layout .col{position:absolute;width: 18px;height: 10px;background-position: -75px -76px;top: -10px;right: 37px; }
.sendFun .btnHasStr{width:67px;height:26px;background-position: -104px -476px; vertical-align:middle; }
.sendFun .btnHasStr:hover{opacity:0.8;filter:alpha(opacity=80);}
.countTxt em{margin:0 5px; }
.sendFun .tips_tw{float:left; display:inline; }
.sendFun{overflow:hidden;zoom:1;}
#edit .attentBoxWrap{margin-top:10px;text-align:center;height:35px;}
#edit .attentBoxWrap a{padding:3px 5px;border:1px solid #5c687e;font-weight:100;display:inline-block;*display:inline;zoom:1;font-size:12px;font-family:'宋体';}
#edit .attentBoxWrap span{display:inline; margin-top:0px;}
#edit .attentBoxWrap a:hover,#editb{color:#999;border:1px solid #999;text-decoration:none;font-weight:100;padding:3px 5px;display:inline-block;*display:inline;zoom:1;font-size:12px;font-family:'宋体'; }
.gotoup{width:54px;height:54px;position:fixed;background-position:-68px 0px ; bottom:50px;right:50%;margin-right:-575px;cursor:pointer; display:none; }
.gotoup:hover{background-position:-140px 0px ;}
.ipad .header .bd{width:680px;zoom:1;position:relative; overflow:hidden;}
.ipad .header .gwLink{display:none;float:none;height:0px;width:0px;overflow:hidden;position:relative; }
.ipad #topic_nav_box #topic_nav {width: 750px;}
.ipad #tcopyright{width:680px; }
.ipad .newTopicL li .time,.ipad .no1 li .time{font-size:16px;font-family:'微软雅黑','黑体';padding-bottom:5px;}
.ipad .newTopic li .intr{font-size:14px;font-family:'微软雅黑','黑体';line-height:23px; }
.ipad .container .cont{width:680px; }
.ipad .container .cont .sub{display:none; }
.ipad .gotoup{margin-right:-430px;}
.ipad .header .linkList{margin-left:0px;float:right; }
.asidebox .hd .more{float:right; display:inline; }
.news li{font-size:15px;overflow:hidden; }
.hotTipic #cardBtn1{float:right; display:inline;overflow:hidden;margin-right:-1px;margin-top:10px; zoom:1}
.hotTipic #cardBtn1 li{float:left; display:inline; height:18px;line-height:18px;border-right:1px solid #ccc;padding:0 10px;margin-right:-1px;font-size:16px;font-family:'微软雅黑','黑体';cursor:pointer; }
.hotTipic #cardBtn1 li.current,.hotTipic #cardBtn1 li:hover{color:#c00 }
.hotTipic .tabBody li{height:30px;line-height:30px;overflow:hidden;zoom:1; font-size:15px;font-family:'微软雅黑','黑体'; }
.hotTipic .tabBody li b{float:right; display:inline;font-weight:100;color:#333;}
.hotTipic .tabBody li span{display:none;}
.hotTipic .hd{overflow:hidden;zoom:1;}
.hotTipic .bd{overflow:hidden;zoom:1;}