* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BACKGROUND: #dadada; COLOR: #000; FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
A {
	COLOR: #000; CURSOR: pointer; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
LEGEND {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 0px
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
.clearit {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 0px
}
.lf {
	FLOAT: left
}
.rt {
	FLOAT: right
}
.relative {
	POSITION: relative
}
.ads_top {
	PADDING-BOTTOM: 0px; MARGIN: 7px auto 0px; PADDING-LEFT: 3px; WIDTH: 960px; PADDING-RIGHT: 2px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ads {
	PADDING-BOTTOM: 0px; MARGIN: 2px auto 0px; PADDING-LEFT: 3px; WIDTH: 960px; PADDING-RIGHT: 2px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ads_l {
	FLOAT: left
}
.ads_r {
	FLOAT: right
}
.ads_l A {
	DISPLAY: block; FONT-SIZE: 0%
}
.ads_r A {
	DISPLAY: block; FONT-SIZE: 0%
}
.ads A {
	DISPLAY: block; FONT-SIZE: 0%
}
.header {
	MARGIN: 0px auto; WIDTH: 965px; HEIGHT: auto; OVERFLOW: hidden
}
.topBar {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 17px; WIDTH: 926px; PADDING-RIGHT: 17px; BACKGROUND: url(bg_h28.gif) repeat-x; HEIGHT: 28px; COLOR: #fff; MARGIN-LEFT: 3px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.topBar .lf {
	LINE-HEIGHT: 18px; PADDING-TOP: 5px
}
.topBar .lf * {
	VERTICAL-ALIGN: middle
}
.topBar .lf LABEL {
	LINE-HEIGHT: 18px
}
.topBar .txt {
	BORDER-BOTTOM: #8e0000 1px solid; BORDER-LEFT: #8e0000 1px solid; PADDING-LEFT: 3px; WIDTH: 103px; FONT: 12px/16px Arial, Helvetica, sans-serif; HEIGHT: 16px; COLOR: #666; BORDER-TOP: #8e0000 1px solid; BORDER-RIGHT: #8e0000 1px solid
}
.topBar .btn_log {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 42px; BACKGROUND: url(sprites1.png) no-repeat -742px -702px; HEIGHT: 16px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.topBar .btn_exit {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 42px; BACKGROUND: url(sprites1.png) no-repeat -742px -734px; HEIGHT: 16px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.topBar .lf A {
	COLOR: #fff; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; TEXT-DECORATION: underline
}
.topBar .rt {
	LINE-HEIGHT: 28px
}
.topBar .rt LI {
	FLOAT: left; MARGIN-LEFT: 10px
}
.topBar .rt LI A {
	COLOR: #fff
}
.topBar .rt LI A.setHome {
	PADDING-LEFT: 17px; BACKGROUND: url(ico_home.png) no-repeat left center
}
.topBar .rt LI A.mobile {
	PADDING-LEFT: 14px; BACKGROUND: url(ico_mobile.png) no-repeat left center
}
.logonav {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px -324px; HEIGHT: 73px; OVERFLOW: hidden
}
.logonav .logo {
	PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 8px
}
.mainNav {
	WIDTH: 798px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 8px
}
.mainNav .vline {
	COLOR: #c2c2c2
}
.mainNav UL {
	PADDING-LEFT: 23px; OVERFLOW: hidden
}
.mainNav LI {
	LINE-HEIGHT: 22px; FLOAT: left; MARGIN-RIGHT: 6px
}
.mainNav LI A {
	COLOR: #000
}
.mainNav LI STRONG A {
	COLOR: #c00
}
.mainNav .line {
	MARGIN-TOP: 4px; WIDTH: 798px; MARGIN-BOTTOM: 4px; HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: #e0e0e0 1px solid
}
.banner {
	MARGIN: 2px auto 0px; WIDTH: 965px; HEIGHT: auto; OVERFLOW: hidden
}
.banner A {
	COLOR: #333
}
.banner A:hover {
	COLOR: #333
}
.banner_t {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px -407px; HEIGHT: 6px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.banner_b {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px -407px; HEIGHT: 6px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.banner_b {
	BACKGROUND-POSITION: 0px -55px
}
.banner_m {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(sprites2.png) repeat-y 0px 0px; HEIGHT: 247px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.headline {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; WIDTH: 432px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 0px
}
.headline H2 {
	HEIGHT: 26px; OVERFLOW: hidden
}
.headline H2 A {
	FONT: 18px/26px "黑体"; COLOR: #000
}
.headline H2 A:hover {
	COLOR: #8b0000
}
.headline P {
	LINE-HEIGHT: 24px; COLOR: #717171
}
.headline A {
	LINE-HEIGHT: 20px; COLOR: #717171; FONT-SIZE: 12px
}
.headline A:hover {
	COLOR: #c00
}
.headline DIV {
	MARGIN-BOTTOM: 5px
}
.headline .line {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 1px; OVERFLOW: hidden; BORDER-TOP: #c7c7c7 1px solid; PADDING-TOP: 0px
}
.focalpic {
	WIDTH: 486px; PADDING-RIGHT: 12px; FLOAT: right; HEIGHT: auto; OVERFLOW: hidden
}




















.area {
	MARGIN: 2px auto 0px; WIDTH: 965px; HEIGHT: auto; OVERFLOW: hidden
}
.area_t {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px 0px; OVERFLOW: hidden
}
.area_b {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px 0px; OVERFLOW: hidden
}
.area_t {
	HEIGHT: 30px
}
.area_m {
	WIDTH: 965px; BACKGROUND: url(sprites2.png) repeat-y 0px 0px; HEIGHT: auto; OVERFLOW: hidden
}
.area_b {
	HEIGHT: 6px; FONT-SIZE: 0%
}
.area_t1 {
	POSITION: relative; BACKGROUND-POSITION: 0px 0px
}
.area_m1 {
	BACKGROUND-POSITION: 0px 0px
}
.area_b1 {
	BACKGROUND-POSITION: 0px -55px
}
.area_b1_2 {
	BACKGROUND-POSITION: 0px -208px
}
.area_t2 {
	BACKGROUND-POSITION: 0px -71px
}
.area_m2 {
	BACKGROUND-POSITION: -965px 0px
}
.area_b2 {
	BACKGROUND-POSITION: 0px -126px
}
.area_t3 {
	BACKGROUND-POSITION: 0px -142px
}
.area_m3 {
	BACKGROUND-POSITION: -1930px 0px
}
.area_b3 {
	BACKGROUND-POSITION: 0px -197px
}
.area_b3_2 {
	BACKGROUND-POSITION: 0px -224px
}
.area_t_l {
	POSITION: relative; HEIGHT: 30px
}
.area_t_c {
	POSITION: relative; HEIGHT: 30px
}
.area_t_r {
	POSITION: relative; HEIGHT: 30px
}
.area_t2_l {
	PADDING-LEFT: 3px; WIDTH: 460px; PADDING-RIGHT: 1px; FLOAT: left
}
.area_t2_r {
	PADDING-LEFT: 1px; WIDTH: 496px; PADDING-RIGHT: 2px; FLOAT: right
}
.area_m2_l {
	PADDING-LEFT: 3px; WIDTH: 460px; PADDING-RIGHT: 1px; FLOAT: left; OVERFLOW: hidden
}
.area_m2_r {
	PADDING-LEFT: 1px; WIDTH: 496px; PADDING-RIGHT: 2px; FLOAT: right; OVERFLOW: hidden
}
.area_t3_l {
	PADDING-LEFT: 3px; WIDTH: 460px; PADDING-RIGHT: 1px; FLOAT: left
}
.area_t3_c {
	PADDING-LEFT: 3px; WIDTH: 240px; PADDING-RIGHT: 1px; FLOAT: left
}
.area_t3_r {
	PADDING-LEFT: 1px; WIDTH: 252px; PADDING-RIGHT: 2px; FLOAT: right
}
.area_m3_l {
	PADDING-LEFT: 3px; WIDTH: 460px; PADDING-RIGHT: 1px; FLOAT: left
}
.area_m3_c {
	PADDING-LEFT: 3px; WIDTH: 240px; PADDING-RIGHT: 1px; FLOAT: left
}
.area_m3_r {
	PADDING-LEFT: 1px; WIDTH: 252px; PADDING-RIGHT: 2px; FLOAT: right
}
.area_t_l H2 {
	
}
.area_t_c H2 {
	
}
.area_t_r H2 {
	
}
.tTag {
	POSITION: absolute; COLOR: #797979; FONT-SIZE: 12px; TOP: 9px; LEFT: 90px
}
.more {
	POSITION: absolute; TOP: 8px; RIGHT: 18px
}
.more_g {
	PADDING-RIGHT: 15px; BACKGROUND: url(ico_arr_g.png) no-repeat right 1px; COLOR: #000
}
.more_r {
	PADDING-RIGHT: 15px; BACKGROUND: url(ico_arr_r.png) no-repeat right 1px; COLOR: #c00
}
.tit {
	POSITION: absolute; TEXT-INDENT: -100000px; DISPLAY: block; BACKGROUND: url(sprites_tit.png) no-repeat; FONT-SIZE: 0%; TOP: 8px; LEFT: 23px
}
.tit_w2 {
	WIDTH: 61px; HEIGHT: 15px
}
.tit_w3 {
	WIDTH: 66px; HEIGHT: 15px
}
.tit_w4 {
	WIDTH: 61px; HEIGHT: 15px
}
.tit_w5 {
	WIDTH: 76px; HEIGHT: 15px
}
.tit_w6 {
	WIDTH: 90px; HEIGHT: 15px
}
.tit_w7 {
	WIDTH: 105px; HEIGHT: 15px
}
.tit_kbjhzq {
	BACKGROUND-POSITION: 0px 0px
}
.tit_tbtj {
	BACKGROUND-POSITION: 0px -25px
}
.tit_wmgz {
	BACKGROUND-POSITION: 0px -50px
}
.tit_zwltphb {
	BACKGROUND-POSITION: 0px -75px
}
.tit_mjmy {
	BACKGROUND-POSITION: 0px -100px
}
.tit_jybk {
	BACKGROUND-POSITION: 0px -125px
}
.tit_djph {
	BACKGROUND-POSITION: 0px -150px
}
.tit_sh {
	BACKGROUND-POSITION: 0px -175px
}
.tit_tssh {
	BACKGROUND-POSITION: 0px -200px
}
.tit_jj {
	BACKGROUND-POSITION: 0px -225px
}
.tit_rw {
	BACKGROUND-POSITION: 0px -250px
}
.tit_yl {
	BACKGROUND-POSITION: 0px -275px
}
.tit_ylrt {
	BACKGROUND-POSITION: 0px -300px
}
.tit_nx {
	BACKGROUND-POSITION: 0px -325px
}
.tit_sstk {
	BACKGROUND-POSITION: 0px -350px
}
.tit_rd {
	BACKGROUND-POSITION: 0px -375px
}
.tit_tyzx {
	BACKGROUND-POSITION: 0px -400px
}
.tit_gj {
	BACKGROUND-POSITION: 0px -425px
}
.tit_tssj {
	BACKGROUND-POSITION: 0px -450px
}
.tit_js {
	BACKGROUND-POSITION: 0px -475px
}
.tit_jdwq {
	BACKGROUND-POSITION: 0px -500px
}
.tit_dqtt {
	BACKGROUND-POSITION: 0px -525px
}
.tit_qc {
	BACKGROUND-POSITION: 0px -550px
}
.tit_qcsd {
	BACKGROUND-POSITION: 0px -575px
}
.tit_sm {
	BACKGROUND-POSITION: 0px -600px
}
.tit_smxp {
	BACKGROUND-POSITION: 0px -625px
}
.tit_ss {
	BACKGROUND-POSITION: 0px -650px
}
.tit_drkdb {
	BACKGROUND-POSITION: 0px -675px
}
.tit_mxjp {
	BACKGROUND-POSITION: 0px -700px
}
.tit_mr {
	BACKGROUND-POSITION: 0px -725px
}
.tit_mrlt {
	BACKGROUND-POSITION: 0px -750px
}
.tit_mrtag {
	BACKGROUND-POSITION: 0px -775px
}
.tit_lx {
	BACKGROUND-POSITION: -120px 0px
}
.tit_shmy {
	BACKGROUND-POSITION: -120px -25px
}
.tit_ls {
	BACKGROUND-POSITION: -120px -50px
}
.tit_tsls {
	BACKGROUND-POSITION: -120px -75px
}
.tit_rtph {
	BACKGROUND-POSITION: -120px -100px
}
.tit_zt {
	BACKGROUND-POSITION: -120px -125px
}
.tit_lq {
	BACKGROUND-POSITION: -120px -150px
}
.tit_qgrt {
	BACKGROUND-POSITION: -120px -175px
}
.tit_sx {
	BACKGROUND-POSITION: -120px -200px
}
.tit_xwy {
	BACKGROUND-POSITION: -120px -225px
}
.tit_pkx {
	BACKGROUND-POSITION: -120px -250px
}
.tit_fxb {
	POSITION: absolute; TEXT-INDENT: 0px; TOP: 2px; LEFT: 3px
}
.tit_zx {
	BACKGROUND-POSITION: -120px -275px
}
.tit_wjh {
	POSITION: relative; TOP: 1px; MARGIN-RIGHT: 8px
}
.tit_smkz {
	BACKGROUND-POSITION: -120px -375px
}
.colCR {
	WIDTH: 499px; FLOAT: right; HEIGHT: auto; OVERFLOW: hidden
}
.colCR_t {
	WIDTH: 499px; BACKGROUND: url(sprites1.png) no-repeat 0px 0px; HEIGHT: 30px; OVERFLOW: hidden
}
.colCR_b {
	WIDTH: 499px; BACKGROUND: url(sprites1.png) no-repeat 0px 0px; HEIGHT: 30px; OVERFLOW: hidden
}
.colCR_t {
	BACKGROUND-POSITION: -464px -142px; MARGIN-LEFT: 0px
}
.colCR_b {
	BACKGROUND-POSITION: -464px -197px; HEIGHT: 6px; FONT-SIZE: 0%
}
.colCR_t_l {
	POSITION: relative; WIDTH: 242px; FLOAT: left
}
.colCR_t_r {
	POSITION: relative; WIDTH: 255px; FLOAT: right
}
.colCR_m {
	BACKGROUND: url(sprites2.png) repeat-y -2394px 0px; HEIGHT: auto; MARGIN-LEFT: 0px; OVERFLOW: hidden
}
.colCR_m_l {
	PADDING-LEFT: 2px; WIDTH: 242px; FLOAT: left; OVERFLOW: hidden
}
.colCR_m_r {
	WIDTH: 255px; FLOAT: right; OVERFLOW: hidden
}
.flaglist {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 16px; WIDTH: 436px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}
.flaglist LI {
	WHITE-SPACE: nowrap; FLOAT: left; MARGIN-RIGHT: 8px
}
.flaglist LI A {
	FONT: 14px/23px "宋体"; COLOR: #000
}
.bbslist {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 15px; WIDTH: 464px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}
.bbslist LI {
	WHITE-SPACE: nowrap; FLOAT: left; MARGIN-RIGHT: 14px
}
.bbslist LI A {
	FONT: 14px/23px "宋体"; COLOR: #000
}
.focusInterview {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 432px; PADDING-RIGHT: 10px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 5px
}
.focusInterview UL {
	BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 9px; PADDING-LEFT: 7px; WIDTH: 421px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 7px
}
.focusInterview LI {
	PADDING-LEFT: 9px; WIDTH: 418px; BACKGROUND: url(dot_red.gif) no-repeat left 10px; HEIGHT: 24px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.focusInterview LI A {
	LINE-HEIGHT: 24px; PADDING-RIGHT: 12px; DISPLAY: block; FLOAT: left; FONT-SIZE: 14px
}
.focusInterview LI A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.focusInterview LI SPAN {
	LINE-HEIGHT: 24px; DISPLAY: block; HEIGHT: 24px; COLOR: #004378; FONT-SIZE: 12px; OVERFLOW: hidden
}
.focusInterview LI SPAN A {
	COLOR: #004378; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.focusInterview LI SPAN IMG {
	POSITION: relative; DISPLAY: block; FONT-SIZE: 0%; OVERFLOW: hidden; TOP: 5px
}
.focusInterview .last {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.twodayHot {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 440px; PADDING-RIGHT: 10px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}
.twodayHot .tips {
	PADDING-LEFT: 30px; WIDTH: 410px; FONT: 12px/26px "宋体"; BACKGROUND: url(tipslogo.gif) #fdf4e1 no-repeat left top; HEIGHT: 26px; COLOR: #c00; OVERFLOW: hidden
}
.twodayHot OL {
	WIDTH: 440px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}
.twodayHot LI {
	POSITION: relative; PADDING-LEFT: 24px; WIDTH: 416px; HEIGHT: 24px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.twodayHot LI EM {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 13px; DISPLAY: block; FONT: 10px/13px Arial, Helvetica, sans-serif; BACKGROUND: url(num3.png) no-repeat; HEIGHT: 13px; COLOR: #fff; TOP: 5px; LEFT: 3px
}
.twodayHot LI.line {
	PADDING-BOTTOM: 10px; MARGIN-BOTTOM: 10px; BACKGROUND: url(dotline1.gif) repeat-x left bottom
}
.twodayHot LI A {
	LINE-HEIGHT: 24px; PADDING-RIGHT: 12px; DISPLAY: block; FLOAT: left; COLOR: #000; FONT-SIZE: 14px; OVERFLOW: hidden
}
.twodayHot LI A:hover {
	COLOR: #c00
}
.twodayHot LI SPAN {
	LINE-HEIGHT: 24px; DISPLAY: block; FLOAT: left; HEIGHT: 24px; COLOR: #004378; OVERFLOW: hidden
}
.twodayHot LI SPAN A {
	COLOR: #004378; FONT-SIZE: 12px
}
.twodayHot LI SPAN A:hover {
	COLOR: #004378; FONT-SIZE: 12px
}
.twodayHot LI SPAN IMG {
	POSITION: relative; TOP: 5px
}
.twodayHot LI SPAN A STRONG {
	POSITION: relative; TOP: 0px
}
.picGuide {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; WIDTH: 442px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 15px
}
.picGuide LI {
	POSITION: relative; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; WIDTH: 122px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 19px; BACKGROUND: #eee; FLOAT: left; HEIGHT: 122px; OVERFLOW: hidden; MARGIN-RIGHT: 19px; PADDING-TOP: 5px
}
.picGuide LI A IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; WIDTH: 116px; DISPLAY: block; MARGIN-BOTTOM: 4px; HEIGHT: 87px; FONT-SIZE: 0%; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.picGuide .txt {
	LINE-HEIGHT: 14px; WIDTH: 96px; DISPLAY: block; COLOR: #1e1e1e; OVERFLOW: hidden
}
.picGuide .no {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 19px; WIDTH: 19px; BOTTOM: 1px; DISPLAY: block; BACKGROUND: url(sprites3.png) no-repeat 0px -14px; HEIGHT: 19px; COLOR: #787878; RIGHT: 1px; FONT-WEIGHT: bold
}
.picGuide LI.lihover {
	BACKGROUND: #909090
}
.picGuide LI.lihover .txt {
	COLOR: #fff
}
.picGuide LI.lihover .no {
	COLOR: #c00
}
.polynews {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 11px; WIDTH: 463px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.polynews DT {
	WIDTH: 312px; FONT: bold 14px/24px "宋体"; FLOAT: right; HEIGHT: 24px; COLOR: #000; OVERFLOW: hidden
}
.polynews DT A {
	COLOR: #000
}
.polynews DD.pic {
	WIDTH: 136px; FLOAT: left; HEIGHT: 85px; FONT-SIZE: 0%
}
.polynews DD.pic IMG {
	WIDTH: 136px; HEIGHT: 85px
}
.polynews DD.txt {
	LINE-HEIGHT: 20px; TEXT-INDENT: 2em; WIDTH: 312px; FLOAT: right; HEIGHT: 65px; COLOR: #717171; FONT-SIZE: 12px; OVERFLOW: hidden
}
.polynews DD.txt A {
	COLOR: #c00
}
.polylist {
	WIDTH: 482px; HEIGHT: auto; MARGIN-LEFT: 7px; OVERFLOW: hidden; BORDER-TOP: #7f7f7f 1px dotted
}
.polylist UL {
	PADDING-BOTTOM: 8px; MARGIN-TOP: 1px; WIDTH: 235px; HEIGHT: auto; OVERFLOW: hidden; MARGIN-RIGHT: 5px; BORDER-RIGHT: #7f7f7f 1px dotted; PADDING-TOP: 11px
}
.polylist LI {
	LINE-HEIGHT: 21px; PADDING-LEFT: 8px; WIDTH: 227px; HEIGHT: 21px; OVERFLOW: hidden
}
.polylist LI A.cate {
	COLOR: #dd0101; MARGIN-RIGHT: 9px
}
.polylist LI A {
	COLOR: #535353
}
.polylist .rt {
	BORDER-RIGHT: medium none
}
.poly_b {
	WIDTH: 499px; BACKGROUND: url(sprites1.png) -464px -126px; HEIGHT: 6px; MARGIN-LEFT: -3px; FONT-SIZE: 0%
}
.listview5 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 14px
}
.listview5 LI {
	LINE-HEIGHT: 25px; PADDING-LEFT: 8px; BACKGROUND: url(dot_red.gif) no-repeat left center; HEIGHT: 25px; CLEAR: both; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.listview5 LI A {
	LINE-HEIGHT: 25px; PADDING-RIGHT: 12px; FLOAT: left; FONT-SIZE: 14px
}
.listview5 LI A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.listview5 LI SPAN {
	COLOR: #004378; FONT-SIZE: 12px
}
.listview5 LI SPAN A {
	POSITION: relative; FONT: bold 12px/25px "宋体"; COLOR: #004378; TOP: 1px
}
.listview5 LI SPAN IMG {
	POSITION: relative; FONT-SIZE: 0%; TOP: 3px
}
.listview5 LI A.cate {
	PADDING-RIGHT: 0px; COLOR: #c00
}
.listview6 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; WIDTH: 223px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 15px
}
.listview6 LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 8px; WIDTH: 100px; BACKGROUND: url(dot_black.gif) no-repeat left center; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden
}
.listview6 LI A {
	LINE-HEIGHT: 22px; COLOR: #000; FONT-SIZE: 12px
}
.listview6 LI .num {
	COLOR: #c00
}
.listview6 LI.first {
	PADDING-LEFT: 0px; WIDTH: 200px; MARGIN-BOTTOM: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; HEIGHT: auto
}
.listview6 LI.first A IMG {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 188px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #fff; HEIGHT: 137px; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 5px
}
.listview6 LI.first P {
	TEXT-ALIGN: center; MARGIN-TOP: 2px; WIDTH: 200px; FONT: 12px/20px "宋体"; HEIGHT: 20px; OVERFLOW: hidden
}
.listview6 LI.first P A {
	COLOR: #2626b4
}
.listview6 LI.pictxt1 {
	PADDING-LEFT: 0px; WIDTH: 209px; MARGIN-BOTTOM: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 116px; OVERFLOW: hidden
}
.listview6 LI.pictxt1 H3 {
	WIDTH: 120px; FLOAT: right; HEIGHT: 36px; OVERFLOW: hidden
}
.listview6 LI.pictxt1 H3 A {
	FONT: bold 14px/18px "宋体"; COLOR: #000
}
.listview6 LI.pictxt1 .pic {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 73px; PADDING-RIGHT: 1px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 108px; FONT-SIZE: 0%; OVERFLOW: hidden; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 1px
}
.listview6 LI.pictxt1 .pic IMG {
	WIDTH: 73px; HEIGHT: 108px
}
.listview6 LI.pictxt1 P {
	WIDTH: 120px; FONT: 12px/20px "宋体"; FLOAT: right; HEIGHT: 80px; COLOR: #666; OVERFLOW: hidden
}
.listview7 {
	PADDING-LEFT: 8px; PADDING-TOP: 15px
}
.listview7 LI {
	LINE-HEIGHT: 26px; WIDTH: 220px; PADDING-RIGHT: 17px; HEIGHT: 26px; FONT-SIZE: 12px; OVERFLOW: hidden; _margin-bottom: -3px
}
.listview7 LI.bg {
	BACKGROUND: #f8f8f8; _margin-bottom: -3px
}
.listview7 LI A {
	COLOR: #666; _float: left
}
.listview8 {
	PADDING-LEFT: 15px; WIDTH: 225px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 15px
}
.listview8 LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 8px; BACKGROUND: url(dot_black.gif) no-repeat left center; HEIGHT: 22px; OVERFLOW: hidden
}
.listview8 LI.first {
	PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; OVERFLOW: hidden
}
.listview8 LI.first A.pic {
	WIDTH: 200px; DISPLAY: block; HEIGHT: 149px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.listview8 LI.first A.pic IMG {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 188px; PADDING-RIGHT: 5px; BACKGROUND: #fff; HEIGHT: 137px; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 5px
}
.listview8 LI.first P {
	TEXT-ALIGN: center; MARGIN-TOP: 2px; WIDTH: 200px; FONT: 12px/20px "宋体"; HEIGHT: 20px; OVERFLOW: hidden
}
.listview8 LI.first P A {
	COLOR: #2626b4
}
.listview8 LI.first2 {
	PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: auto; OVERFLOW: hidden
}
.listview8 LI.first2 A.pic {
	WIDTH: 212px; DISPLAY: block; HEIGHT: 202px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.listview8 LI.first2 A.pic IMG {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 208px; PADDING-RIGHT: 1px; BACKGROUND: #fff; HEIGHT: 198px; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 1px
}
.listview8 LI.first2 P {
	TEXT-ALIGN: center; MARGIN-TOP: 2px; WIDTH: 212px; FONT: bold 14px/20px "宋体"; HEIGHT: 20px; OVERFLOW: hidden
}
.listview8 LI.first2 P A {
	COLOR: #4d4d4d
}
.listview9 {
	PADDING-LEFT: 8px; PADDING-TOP: 15px
}
.listview9 LI {
	LINE-HEIGHT: 26px; WIDTH: 237px; HEIGHT: 26px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.listview9 LI.bg {
	BACKGROUND: #f8f8f8
}
.listview9 LI A {
	FLOAT: left; COLOR: #666
}
.listview9 LI EM {
	FLOAT: left
}
.listview9 LI .tide {
	TEXT-ALIGN: center; WIDTH: 30px; FLOAT: right
}
.listview9 LI .tide IMG {
	POSITION: relative; TOP: 5px
}
.listview10 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.listview10 LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 8px; BACKGROUND: url(dot_red.gif) no-repeat left center; HEIGHT: 24px; OVERFLOW: hidden
}
.listview10 LI A {
	LINE-HEIGHT: 24px; PADDING-RIGHT: 12px; FLOAT: left; FONT-SIZE: 14px
}
.listview10 LI SPAN {
	COLOR: #004378; FONT-SIZE: 12px
}
.listview10 LI SPAN A {
	POSITION: relative; FONT: bold 12px/24px "宋体"; COLOR: #004378; TOP: 1px
}
.listview10 LI SPAN IMG {
	POSITION: relative; FONT-SIZE: 0%; TOP: 3px
}
.picview1 {
	PADDING-LEFT: 15px; WIDTH: 222px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 15px
}
.picview1 LI IMG {
	BORDER-BOTTOM: #b9b7b6 1px solid; BORDER-LEFT: #b9b7b6 1px solid; FONT-SIZE: 0%; BORDER-TOP: #b9b7b6 1px solid; BORDER-RIGHT: #b9b7b6 1px solid
}
.picview1 LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 23px; HEIGHT: 23px; OVERFLOW: hidden
}
.picview1 LI P A {
	COLOR: #000
}
.picview1 .lpic {
	WIDTH: 132px; FLOAT: left; HEIGHT: auto
}
.picview1 .lpic IMG {
	WIDTH: 130px; HEIGHT: 230px
}
.picview1 .lpic P {
	WIDTH: 132px
}
.picview1 .spic {
	WIDTH: 79px; MARGIN-BOTTOM: 2px; FLOAT: right; HEIGHT: auto
}
.picview2 {
	WIDTH: 960px; HEIGHT: 302px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.picview2 LI {
	WIDTH: 140px; FLOAT: left; HEIGHT: 151px; OVERFLOW: hidden; MARGIN-RIGHT: 24px
}
.picview2 LI IMG {
	BORDER-BOTTOM: #a3a3a3 1px solid; BORDER-LEFT: #a3a3a3 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 130px; PADDING-RIGHT: 4px; HEIGHT: 107px; OVERFLOW: hidden; BORDER-TOP: #a3a3a3 1px solid; BORDER-RIGHT: #a3a3a3 1px solid; PADDING-TOP: 4px
}
.picview2 LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 140px; HEIGHT: 24px; OVERFLOW: hidden
}
.picview2 LI P A {
	LINE-HEIGHT: 24px; COLOR: #000
}
.picview2 .lpic {
	MARGIN-TOP: -20px; PADDING-LEFT: 30px; WIDTH: 218px; PADDING-RIGHT: 27px; FLOAT: left; HEIGHT: 302px; OVERFLOW: hidden; MARGIN-RIGHT: 27px; BORDER-RIGHT: #cacaca 1px solid; PADDING-TOP: 20px
}
.picview2 .lpic IMG {
	BORDER-BOTTOM: #a3a3a3 1px solid; BORDER-LEFT: #a3a3a3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 214px; PADDING-RIGHT: 1px; HEIGHT: 262px; BORDER-TOP: #a3a3a3 1px solid; BORDER-RIGHT: #a3a3a3 1px solid; PADDING-TOP: 1px
}
.picview2 .lpic P {
	LINE-HEIGHT: 24px; WIDTH: 218px; HEIGHT: 24px; OVERFLOW: hidden
}
.picview2 .lpic P A {
	COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.expview {
	MARGIN-TOP: 10px; PADDING-LEFT: 21px; WIDTH: 454px; FLOAT: left; HEIGHT: 238px; OVERFLOW: hidden
}
.expview H2 {
	POSITION: relative; LINE-HEIGHT: 24px; HEIGHT: 24px; COLOR: #666; FONT-SIZE: 12px
}
.expview H2 SPAN {
	PADDING-LEFT: 10px; BACKGROUND: url(arrow1.gif) no-repeat left 2px
}
.expview H2 A {
	POSITION: absolute; BOTTOM: 1px; COLOR: #c00; FONT-SIZE: 12px; RIGHT: 6px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.expview UL {
	WIDTH: 480px; HEIGHT: auto; OVERFLOW: hidden
}
.expview LI {
	TEXT-ALIGN: center; WIDTH: 214px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden; MARGIN-RIGHT: 21px
}
.expview LI A IMG {
	BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 204px; PADDING-RIGHT: 4px; MARGIN-BOTTOM: 4px; HEIGHT: 144px; FONT-SIZE: 0%; OVERFLOW: hidden; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid; PADDING-TOP: 4px
}
.expview LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 16px; WIDTH: 214px; HEIGHT: 22px; COLOR: #666; OVERFLOW: hidden
}
.expview LI P A {
	COLOR: #000
}
.miptxt {
	WIDTH: 959px; BACKGROUND: url(bg_h15.gif) repeat-x left top; HEIGHT: auto; MARGIN-LEFT: 3px; OVERFLOW: hidden; PADDING-TOP: 13px
}
.miptxt DL {
	
}
.miptxt DT {
	FONT: bold 12px/22px "宋体"; MARGIN-BOTTOM: 5px; COLOR: #c00
}
.miptxt .dlist1 {
	PADDING-BOTTOM: 8px; MARGIN-TOP: -13px; PADDING-LEFT: 27px; WIDTH: 225px; PADDING-RIGHT: 20px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden; BORDER-RIGHT: #cacaca 1px solid; PADDING-TOP: 13px
}
.miptxt .dlist1 DT {
	
}
.miptxt .dlist1 DD {
	FONT: 12px/22px "宋体"
}
.miptxt .dlist1 DD .vline {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #999; PADDING-TOP: 0px
}
.miptxt .dlist2 {
	
}
.miptxt .lf {
	PADDING-LEFT: 27px; WIDTH: 390px; OVERFLOW: hidden
}
.miptxt .rt {
	WIDTH: 245px
}
.miptxt .dlist2 DT {
	
}
.miptxt .dlist2 A {
	PADDING-LEFT: 9px; DISPLAY: block; MARGIN-BOTTOM: 5px; BACKGROUND: url(bg_mipNav.png) #7499d7 no-repeat left top; FLOAT: left; HEIGHT: 16px; MARGIN-RIGHT: 9px
}
.miptxt .dlist2 A EM {
	PADDING-RIGHT: 9px; DISPLAY: inline-block; FONT: 12px/16px "宋体"; WHITE-SPACE: nowrap; BACKGROUND: url(bg_mipNav.png) #7499d7 right -16px; FLOAT: left; HEIGHT: 16px; COLOR: #fff
}
.miptxt .dlist2 A:hover {
	TEXT-DECORATION: none
}
.miptxt .dlist2 A EM:hover {
	TEXT-DECORATION: none
}
.fillet {
	TEXT-ALIGN: center; PADDING-BOTTOM: 14px; MARGIN-TOP: 10px; PADDING-LEFT: 20px; WIDTH: 387px; PADDING-RIGHT: 20px; BACKGROUND: url(sprites1.png) no-repeat 0px -702px; HEIGHT: 68px; MARGIN-LEFT: 18px; OVERFLOW: hidden; PADDING-TOP: 16px
}
.fillet H1 {
	LINE-HEIGHT: 20px; FONT-FAMILY: "微软雅黑"; MARGIN-BOTTOM: 10px; FONT-SIZE: 20px
}
.fillet P {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; TEXT-INDENT: 24px; COLOR: #333
}
A.purple {
	COLOR: #7449e0
}
A.purple:hover {
	COLOR: #7449e0
}
A.rose {
	COLOR: #e049c2
}
A.rose:hover {
	COLOR: #e049c2
}
.picview3 {
	MARGIN-TOP: 10px; PADDING-LEFT: 18px; WIDTH: 427px; HEIGHT: auto; OVERFLOW: hidden
}
.picview3 UL {
	WIDTH: 470px
}
.picview3 LI {
	WIDTH: 138px; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 6px
}
.picview3 LI IMG {
	BORDER-BOTTOM: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 134px; PADDING-RIGHT: 1px; HEIGHT: 187px; FONT-SIZE: 0%; BORDER-TOP: #dadada 1px solid; BORDER-RIGHT: #dadada 1px solid; PADDING-TOP: 1px
}
.picview3 LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 134px; HEIGHT: 20px; OVERFLOW: hidden
}
.picview3 LI P A {
	COLOR: #000
}
.picview4 {
	PADDING-LEFT: 14px; PADDING-TOP: 15px
}
.picview4 IMG {
	BORDER-BOTTOM: #a3a3a3 1px solid; BORDER-LEFT: #a3a3a3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 220px; PADDING-RIGHT: 1px; HEIGHT: 289px; BORDER-TOP: #a3a3a3 1px solid; BORDER-RIGHT: #a3a3a3 1px solid; PADDING-TOP: 1px
}
.picview4 P {
	TEXT-ALIGN: center; WIDTH: 224px; FONT: bold 14px/24px "宋体"; HEIGHT: 24px
}
.picview4 P A {
	
}
.picview6 {
	MARGIN-TOP: 11px; PADDING-LEFT: 9px; WIDTH: 237px; HEIGHT: auto; OVERFLOW: hidden
}
.picview6 UL {
	WIDTH: 240px; HEIGHT: auto; OVERFLOW: hidden
}
.picview6 LI {
	WIDTH: 106px; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 12px
}
.picview6 LI A.pic {
	WIDTH: 106px; DISPLAY: block; HEIGHT: 87px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.picview6 LI IMG {
	WIDTH: 106px; HEIGHT: 87px
}
.picview6 LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; MARGIN-TOP: 4px; WIDTH: 106px; HEIGHT: 20px; OVERFLOW: hidden
}
.picview6 LI P A {
	COLOR: #000
}
.tagbox {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 229px; PADDING-RIGHT: 10px; BACKGROUND: url(bg_tagbox.gif) #dadada repeat-x; HEIGHT: auto; OVERFLOW: hidden; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0px
}
.tagbox .tagtxt {
	LINE-HEIGHT: 24px; MARGIN: 15px auto 5px; WIDTH: 198px; FONT-FAMILY: "黑体"; HEIGHT: 312px; OVERFLOW: hidden; _height: 313px
}
.tagbox .red {
	COLOR: #c00
}
.tagbox .black {
	COLOR: #383838
}
.tagbox .blue {
	COLOR: #001778
}
.tabNav1 {
	POSITION: relative; MARGIN-TOP: 1px; BACKGROUND: url(bg_tabNav.png) no-repeat 0px 0px; HEIGHT: 29px; MARGIN-LEFT: -1px
}
.tabNav1 LI {
	FLOAT: left; OVERFLOW: hidden
}
.tabNav1 LI SPAN {
	TEXT-INDENT: -10000px; DISPLAY: block; FLOAT: left
}
.tabNav1 LI.onno1 {
	POSITION: absolute; WIDTH: 113px; BACKGROUND: url(bg_tabNav.png) no-repeat 0px 0px; HEIGHT: 29px; LEFT: 0px
}
.tabNav1 LI.onno2 {
	POSITION: absolute; WIDTH: 111px; BACKGROUND: url(bg_tabNav.png) no-repeat -112px 0px; HEIGHT: 29px; LEFT: 112px
}
.tabNav1 LI.onno3 {
	POSITION: absolute; WIDTH: 97px; BACKGROUND: url(bg_tabNav.png) no-repeat -222px 0px; HEIGHT: 29px; LEFT: 222px
}
.tabNav1 LI.on1 {
	POSITION: absolute; WIDTH: 113px; BACKGROUND: url(bg_tabNav.png) no-repeat 0px -33px; HEIGHT: 29px; LEFT: 0px
}
.tabNav1 LI.on2 {
	POSITION: absolute; WIDTH: 111px; BACKGROUND: url(bg_tabNav.png) no-repeat -112px -33px; HEIGHT: 29px; LEFT: 112px
}
.tabNav1 LI.on3 {
	POSITION: absolute; WIDTH: 97px; BACKGROUND: url(bg_tabNav.png) no-repeat -222px -33px; HEIGHT: 29px; LEFT: 222px
}
.tabNav2 {
	MARGIN-TOP: 1px; HEIGHT: 29px
}
.tabNav2 LI {
	FLOAT: left; HEIGHT: 29px; FONT-SIZE: 0%
}
.tabNav2 LI A {
	TEXT-INDENT: -10000px; WIDTH: 100%; DISPLAY: block; HEIGHT: 29px
}
.tabNav2 LI A:hover {
	TEXT-INDENT: -10000px; WIDTH: 100%; DISPLAY: block; HEIGHT: 29px
}
.tabNav2 LI.li1 {
	WIDTH: 94px
}
.tabNav2 LI.li2 {
	WIDTH: 79px
}
.tabNav2 LI.li3 {
	WIDTH: 79px
}
.tabNav2 LI.li1 A {
	BACKGROUND: url(bg_tabNav.png) no-repeat
}
.tabNav2 LI.li2 A {
	BACKGROUND: url(bg_tabNav.png) no-repeat
}
.tabNav2 LI.li3 A {
	BACKGROUND: url(bg_tabNav.png) no-repeat
}
.tabNav2 LI.li2 A {
	BACKGROUND-POSITION: -94px -72px
}
.tabNav2 LI.li3 A {
	BACKGROUND-POSITION: -173px -72px
}
.tabNav2 LI.li2 A:hover {
	BACKGROUND-POSITION: -94px -106px
}
.tabNav2 LI.li2 A.on {
	BACKGROUND-POSITION: -94px -106px
}
.tabNav2 LI.li3 A:hover {
	BACKGROUND-POSITION: -173px -106px
}
.tabNav2 LI.li3 A.on {
	BACKGROUND-POSITION: -173px -106px
}
.tab_sh LI.li1 A {
	BACKGROUND-POSITION: 0px -72px
}
.tab_sh LI.li1 A:hover {
	BACKGROUND-POSITION: 0px -106px
}
.tab_sh LI.li1 A.on {
	BACKGROUND-POSITION: 0px -106px
}
.tab_jj LI.li1 A {
	BACKGROUND-POSITION: 0px -145px
}
.tab_jj LI.li1 A:hover {
	BACKGROUND-POSITION: 0px -179px
}
.tab_jj LI.li1 A.on {
	BACKGROUND-POSITION: 0px -179px
}
.tab_yl LI.li1 A {
	BACKGROUND-POSITION: 0px -217px
}
.tab_yl LI.li1 A:hover {
	BACKGROUND-POSITION: 0px -251px
}
.tab_yl LI.li1 A.on {
	BACKGROUND-POSITION: 0px -251px
}
.tab_gj LI.li1 A {
	BACKGROUND-POSITION: 0px -290px
}
.tab_gj LI.li1 A:hover {
	BACKGROUND-POSITION: 0px -324px
}
.tab_gj LI.li1 A.on {
	BACKGROUND-POSITION: 0px -324px
}
.tab_js LI.li1 A {
	BACKGROUND-POSITION: 0px -363px
}
.tab_js LI.li1 A:hover {
	BACKGROUND-POSITION: 0px -397px
}
.tab_js LI.li1 A.on {
	BACKGROUND-POSITION: 0px -397px
}
.tabNav3 {
	MARGIN-TOP: 1px; HEIGHT: 29px; MARGIN-LEFT: -1px
}
.tabNav3 LI {
	WIDTH: 126px; FLOAT: left; HEIGHT: 29px; FONT-SIZE: 0%
}
.tabNav3 A {
	TEXT-INDENT: -10000px; WIDTH: 100%; DISPLAY: block; HEIGHT: 29px
}
.tabNav3 LI.kbb {
	BACKGROUND: url(bg_tabNav.png) no-repeat 0px -467px
}
.tabNav3 LI.myd {
	BACKGROUND: url(bg_tabNav.png) no-repeat -126px -467px
}
.tabNav3 LI.kbb .on {
	BACKGROUND: url(bg_tabNav.png) no-repeat 0px -436px
}
.tabNav3 LI.kbb A:hover {
	BACKGROUND: url(bg_tabNav.png) no-repeat 0px -436px
}
.tabNav3 LI.myd .on {
	BACKGROUND: url(bg_tabNav.png) no-repeat -126px -436px
}
.tabNav3 LI.myd A:hover {
	BACKGROUND: url(bg_tabNav.png) no-repeat -126px -436px
}
.tabNav4 {
	MARGIN-TOP: 1px; HEIGHT: 29px; MARGIN-LEFT: -1px
}
.tabNav4 LI {
	WIDTH: 126px; FLOAT: left; HEIGHT: 29px; FONT-SIZE: 0%
}
.tabNav4 A {
	TEXT-INDENT: -10000px; WIDTH: 100%; DISPLAY: block; HEIGHT: 29px
}
.tabNav4 LI.kbb {
	BACKGROUND: url(bg_tabNav.png) no-repeat 0px -537px
}
.tabNav4 LI.tpk {
	BACKGROUND: url(bg_tabNav.png) no-repeat -126px -537px
}
.tabNav4 LI.kbb .on {
	BACKGROUND: url(bg_tabNav.png) no-repeat 0px -506px
}
.tabNav4 LI.kbb A:hover {
	BACKGROUND: url(bg_tabNav.png) no-repeat 0px -506px
}
.tabNav4 LI.tpk .on {
	BACKGROUND: url(bg_tabNav.png) no-repeat -126px -506px
}
.tabNav4 LI.tpk A:hover {
	BACKGROUND: url(bg_tabNav.png) no-repeat -126px -506px
}
.tabNav5 {
	BORDER-BOTTOM: #b8b8b8 1px solid; POSITION: relative; WIDTH: 238px; HEIGHT: 23px; MARGIN-LEFT: 1px
}
.tabNav5 LI {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 39px; FLOAT: left; HEIGHT: 23px; BORDER-RIGHT: #b8b8b8 1px solid
}
.tabNav5 LI.first {
	POSITION: relative; WIDTH: 39px; BORDER-RIGHT: #b8b8b8 1px solid
}
.tabNav5 LI.last {
	POSITION: relative; WIDTH: 38px; BORDER-RIGHT: medium none
}
.tabNav5 LI A {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 23px; WIDTH: 100%; DISPLAY: block; BACKGROUND: url(bg_39x23_2.gif) no-repeat 0px 0px; HEIGHT: 23px; COLOR: #323232
}
.tabNav5 LI.first A {
	BACKGROUND: url(bg_39x23_1.gif) no-repeat 0px 0px
}
.tabNav5 LI.last A {
	BACKGROUND: url(bg_39x23_2.gif) no-repeat left 0px
}
.tabNav5 LI A.cur {
	POSITION: absolute; BACKGROUND: url(bg_39x26_1.gif) no-repeat center top; HEIGHT: 26px; COLOR: #d20000; TOP: 0px; TEXT-DECORATION: none; LEFT: 0px
}
.tabNav5 LI A:hover {
	POSITION: absolute; BACKGROUND: url(bg_39x26_1.gif) no-repeat center top; HEIGHT: 26px; COLOR: #d20000; TOP: 0px; TEXT-DECORATION: none; LEFT: 0px
}
.tabNav5 LI.first A.cur {
	POSITION: absolute; BACKGROUND: url(bg_39x26_1.gif) no-repeat center top; HEIGHT: 26px; COLOR: #d20000; TOP: 0px; TEXT-DECORATION: none; LEFT: 0px
}
.tabNav5 LI.first A:hover {
	POSITION: absolute; BACKGROUND: url(bg_39x26_1.gif) no-repeat center top; HEIGHT: 26px; COLOR: #d20000; TOP: 0px; TEXT-DECORATION: none; LEFT: 0px
}
.tabNav5 LI.last A {
	WIDTH: 38px; DISPLAY: block; BACKGROUND: url(bg_39x23_2.gif) no-repeat 0px 0px; HEIGHT: 23px
}
.tabNav5 LI.last A.cur {
	POSITION: absolute; BACKGROUND: url(bg_39x26_1.gif) no-repeat center top; HEIGHT: 26px; TOP: 0px; LEFT: 0px
}
.tabNav5 LI.last A:hover {
	POSITION: absolute; BACKGROUND: url(bg_39x26_1.gif) no-repeat center top; HEIGHT: 26px; TOP: 0px; LEFT: 0px
}
.lx_kbb {
	WIDTH: 251px; HEIGHT: 244px; OVERFLOW: hidden
}
.lx_kbb TABLE {
	MARGIN: 5px auto 0px; WIDTH: 244px; HEIGHT: 169px
}
.lx_kbb TH {
	FONT: 12px/22px "宋体"; BACKGROUND: url(dotline3.gif) repeat-x left bottom; HEIGHT: 22px; COLOR: #787878
}
.lx_kbb .ph {
	TEXT-ALIGN: center; WIDTH: 38px
}
.lx_kbb .mc {
	TEXT-ALIGN: left; PADDING-LEFT: 0px; WIDTH: 91px
}
.lx_kbb .kb {
	TEXT-ALIGN: left; WIDTH: 70px
}
.lx_kbb .bg {
	BACKGROUND: #f4f4f4
}
.lx_kbb .first {
	HEIGHT: 60px
}
.lx_kbb .first IMG {
	WIDTH: 60px; HEIGHT: 47px
}
.lx_kbb TD {
	LINE-HEIGHT: 27px; HEIGHT: 27px
}
.lx_kbb TD * {
	VERTICAL-ALIGN: middle
}
.lx_kbb TD EM {
	TEXT-ALIGN: center; WIDTH: 14px; DISPLAY: block; FONT: bold 9px/11px Verdana, Geneva, sans-serif; BACKGROUND: url(num2.png) no-repeat 0px -19px; HEIGHT: 11px; COLOR: #fff
}
.lx_kbb TD EM.f3 {
	TEXT-ALIGN: center; WIDTH: 14px; DISPLAY: block; FONT: bold 9px/11px Verdana, Geneva, sans-serif; BACKGROUND: url(num2.png) no-repeat 0px -19px; HEIGHT: 11px; COLOR: #fff
}
.lx_kbb TD EM.f3 {
	BACKGROUND-POSITION: 0px 0px
}
.lx_cate {
	PADDING-BOTTOM: 5px; MARGIN-TOP: 2px; BACKGROUND: url(bg_h15.gif) #fff repeat-x; OVERFLOW: hidden; PADDING-TOP: 7px
}
.lx_cate P {
	POSITION: relative; LINE-HEIGHT: 21px; MARGIN: 0px auto; WIDTH: 217px; HEIGHT: 38px; COLOR: #000; OVERFLOW: hidden
}
.lx_cate A {
	COLOR: #000
}
.lx_cate A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.lx_cate A.all {
	POSITION: absolute; LINE-HEIGHT: 14px; COLOR: #787878; TOP: 24px; RIGHT: 0px
}
.lx_cate A.all:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.lx_tpk {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 232px; PADDING-RIGHT: 0px; HEIGHT: 226px; OVERFLOW: hidden; PADDING-TOP: 18px
}
.lx_tpk LI {
	MARGIN: 0px 10px 12px 0px; WIDTH: 102px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden
}
.lx_tpk LI .pic {
	BORDER-BOTTOM: #9f9f9f 1px solid; BORDER-LEFT: #9f9f9f 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 96px; PADDING-RIGHT: 2px; DISPLAY: block; HEIGHT: 72px; FONT-SIZE: 0%; OVERFLOW: hidden; BORDER-TOP: #9f9f9f 1px solid; BORDER-RIGHT: #9f9f9f 1px solid; PADDING-TOP: 2px
}
.lx_tpk LI .pic IMG {
	WIDTH: 96px; HEIGHT: 72px
}
.lx_tpk LI P {
	TEXT-ALIGN: center; MARGIN-TOP: 2px; WIDTH: 102px; HEIGHT: 22px
}
.lx_tpk LI P A {
	FONT: 12px/22px "宋体"; COLOR: #000
}
.hotbbs {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 14px; WIDTH: 225px; PADDING-RIGHT: 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 11px
}
.hotbbs LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 11px; WIDTH: 214px; BACKGROUND: url(arrow1.gif) no-repeat left 7px; HEIGHT: 22px
}
.hotbbs LI A {
	COLOR: #535353
}
.line_hotbbs {
	WIDTH: 229px; MARGIN-LEFT: 10px; FONT-SIZE: 0%
}
.dashline {
	MARGIN: 3px auto 0px; HEIGHT: 1px; FONT-SIZE: 0%; BORDER-TOP: #ccc 1px dashed
}
.womList {
	BORDER-BOTTOM: #c5c5c5 1px dashed; PADDING-BOTTOM: 6px; MARGIN-TOP: 8px; WIDTH: 237px; HEIGHT: auto; MARGIN-LEFT: 5px; OVERFLOW: hidden
}
.womList LI {
	POSITION: relative; LINE-HEIGHT: 26px; PADDING-LEFT: 33px; WIDTH: 204px; HEIGHT: 26px; OVERFLOW: hidden
}
.womList LI.bg {
	BACKGROUND: #f8f8f8
}
.womList LI EM {
	POSITION: absolute; DISPLAY: block; TOP: 0px; LEFT: 0px
}
.womList LI CITE {
	POSITION: absolute; BOTTOM: 1px; RIGHT: 25px
}
.womList LI.first {
	BORDER-BOTTOM: #c5c5c5 1px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; WIDTH: 237px; HEIGHT: 14px; COLOR: #787878; OVERFLOW: hidden
}
.womList LI.first SPAN {
	TEXT-ALIGN: left; DISPLAY: block; FLOAT: left
}
.womList LI.first .rank {
	TEXT-ALIGN: center; WIDTH: 33px
}
.womList LI.first .type {
	WIDTH: 127px
}
.womList LI.first .popularity {
	WIDTH: 75px
}
.souFrm {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.souFrm * {
	VERTICAL-ALIGN: middle
}
.souFrm .txt {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-LEFT: 3px; WIDTH: 167px; FONT: 12px/22px "宋体"; BACKGROUND: url(sprites1.png) no-repeat -526px -702px; HEIGHT: 22px; COLOR: #787878; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.souFrm .btn {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 31px; BACKGROUND: url(sprites1.png) no-repeat -701px -702px; HEIGHT: 22px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.f8 {
	FONT-SIZE: 8px
}
.f10 {
	FONT-SIZE: 10px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.f22 {
	FONT-SIZE: 22px
}
.f24 {
	FONT-SIZE: 24px
}
.n1 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n2 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n3 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n4 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n5 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n6 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n7 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n8 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n9 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n10 {
	MARGIN-TOP: 7px; TEXT-INDENT: -9999px; WIDTH: 16px; BACKGROUND: url(num1.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 12px; MARGIN-LEFT: 9px; OVERFLOW: hidden; MARGIN-RIGHT: 8px
}
.n1 {
	BACKGROUND-POSITION: 0px 0px
}
.n2 {
	BACKGROUND-POSITION: 0px -26px
}
.n3 {
	BACKGROUND-POSITION: 0px -52px
}
.n4 {
	BACKGROUND-POSITION: 0px -78px
}
.n5 {
	BACKGROUND-POSITION: 0px -104px
}
.n6 {
	BACKGROUND-POSITION: 0px -130px
}
.n7 {
	BACKGROUND-POSITION: 0px -156px
}
.n8 {
	BACKGROUND-POSITION: 0px -182px
}
.n9 {
	BACKGROUND-POSITION: 0px -208px
}
.n10 {
	BACKGROUND-POSITION: 0px -234px
}
.flink {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 965px; BACKGROUND: #dadada; HEIGHT: auto; COLOR: #333; OVERFLOW: hidden
}
.fl_t {
	WIDTH: 965px; DISPLAY: block; BACKGROUND: url(fl_tbg.png) no-repeat; HEIGHT: 7px; FONT-SIZE: 0px
}
.fl_b {
	WIDTH: 965px; DISPLAY: block; BACKGROUND: url(fl_tbg.png) no-repeat; HEIGHT: 7px; FONT-SIZE: 0px
}
.fl_b {
	BACKGROUND: url(fl_bbg.png) no-repeat
}
.fl_m {
	WIDTH: 965px; BACKGROUND: url(fl_mbg.png) repeat-y; HEIGHT: auto; OVERFLOW: hidden
}
.fl_ml {
	TEXT-ALIGN: center; WIDTH: 31px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden
}
.fl_mr {
	TEXT-ALIGN: center; WIDTH: 31px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden
}
.fl_ml IMG {
	MARGIN: 5px auto 0px; DISPLAY: block; FONT-SIZE: 0px
}
.fl_mr IMG {
	MARGIN: 23px auto 4px; DISPLAY: block; FONT-SIZE: 0px
}
.fl_mc {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 883px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}
.fl_mc A {
	WHITE-SPACE: nowrap; COLOR: #515151; MARGIN-RIGHT: 10px
}
#link_2 {
	DISPLAY: none
}
#link_3 {
	DISPLAY: none
}
.botNav {
	MARGIN: 0px auto; WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px -240px; HEIGHT: 31px; OVERFLOW: hidden; PADDING-TOP: 8px
}
.slogo {
	PADDING-LEFT: 15px; WIDTH: 54px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 22px; BORDER-RIGHT: #aeaeae 1px solid
}
.botNav P {
	LINE-HEIGHT: 21px; PADDING-LEFT: 12px; FLOAT: left; HEIGHT: 21px; COLOR: #c00
}
.botNav P A {
	COLOR: #c00
}
.botNav .goTop {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 79px; BACKGROUND: url(sprites1.png) no-repeat -437px -702px; FLOAT: right; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; MARGIN-RIGHT: 13px; BORDER-RIGHT: medium none
}
.footer {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 965px; HEIGHT: auto; COLOR: #333; OVERFLOW: hidden
}
.footer A {
	COLOR: #333
}
.footer A:hover {
	COLOR: #333
}
.footer_t {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px -289px; HEIGHT: 8px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.footer_b {
	WIDTH: 965px; BACKGROUND: url(sprites1.png) no-repeat 0px -289px; HEIGHT: 8px; FONT-SIZE: 0%; OVERFLOW: hidden
}
.footer_b {
	BACKGROUND-POSITION: 0px -307px
}
.footer_m {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; WIDTH: 965px; PADDING-RIGHT: 0px; BACKGROUND: url(sprites2.png) repeat-y -2895px 0px; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 12px
}
.footer_m P {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px
}
.footer_m .vline {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 8px; PADDING-TOP: 0px
}
.footer_m P IMG {
	POSITION: relative; TOP: 4px
}
