<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="dns-prefetch" href="//statics.05273.cn">
<link rel="dns-prefetch" href="//upload.05273.cn">
<link rel="dns-prefetch" href="//account.05273.cn">
<link rel="dns-prefetch" href="//img.05273.cn">
<link rel="dns-prefetch" href="//wap.05273.cn">
<link rel="dns-prefetch" href="//www.05273.cn">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="applicable-device"content="mobile">
<title>{$title}的所有评论 - 沭阳网手机站</title>
<meta name="keywords" content="{$title}的所有评论">
<meta name="description" content="{$title}的所有评论 - 沭阳网手机站">  
<link rel="apple-touch-icon" href="http://statics.05273.cn/statics/mobile/img/weblogo.png" />
<link rel="apple-touch-icon" sizes="120x120" href="http://statics.05273.cn/statics/mobile/img/weblogo.png" />
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/statics/shipei/css/mobile.css">
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/statics/css/wap-default.css">
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/statics/css/wap-changyan2.css">
<script src="http://statics.05273.cn/statics/js/jquery.js?v=20140509" type="text/javascript"></script>
<script type="text/javascript">
    try{
        if(/Macintosh|Mac_PowerPC|Windows NT|Windows XP/i.test(navigator.userAgent)){
          window.location.href="http://www.05273.cn/{id_encode('content_'.$catid,$contentid,$siteid)}-1.html";
        }
    }catch(e){};
</script>
<style type="text/css">
#mcover {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.7);
	display:none;
	z-index:20000;
}
#mcover img {
	position:fixed;
	right: 18px;
	top:5px;
	width:260px;
	height:180px;
	z-index:20001;
}
/* 分页 */
.page-Article-shuyang { margin:0 auto; padding-bottom:25px; padding-top:0; text-align:center; font-size:0 }
.page-Article-shuyang li { display:inline-block; margin-right:3px }
.page-Article-shuyang li { display:inline }
.page-Article-shuyang li a {  padding:0 10px; font-size:14px; display:inline-block; line-height:28px; border:1px solid #dddddd }
.page-Article-shuyang .more-page a { border:none }
.page-Article-shuyang .more-page a:hover { background:none; color:#000 }
.page-Article-shuyang li a,.page-Article-shuyang li a:visited,.page-Article-shuyang li a:link,.page-Article-shuyang li a:hover { color:#000; text-decoration: none }
.page-Article-shuyang .curr-page a,.page-Article-shuyang li a:hover { background:#2d96e9;  color:#fff; border:1px solid #2d96e9 }
.page-Article-shuyang .curr-page a,.page-Article-shuyang .curr-page a:visited,.page-Article-shuyang .curr-page a:link,.page-Article-shuyang .curr-page a:hover { color:#fff }
.page-Article-shuyang li span {  background:#2d96e9; color:#fff; padding:0 10px; font-size:14px; display:inline-block; line-height:28px; border:1px solid #dddddd; font-weight:700 }
.page-Article-shuyang li .pageNone { border:1px solid #ddd; background:#fff; color:#000; font-weight:normal }
</style>
</head>
<body>
<!-- global/S -->
<div class="global"> 
  <!-- header/S -->
  <div class="header">
    <h1 class="logo logonews"><a href="http://wap.05273.cn/">沭阳网</a></h1>
    <span class="gochannels"></span> </div>
  <!-- header/E --> 
  <!-- channels/S -->
  <div class="channels">
    <ul>
{template "mobile","top"}
    </ul>
  </div>
        <!-- comments/S -->
               <div class="comments">
            <div class="head"><h2>全部评论</h2></div>
            <div class="content">
                <ul class="commentlist">
{edi:comment action="lists" commentid="$commentid" siteid="$siteid"  page="$_GET[page]" hot="$hot" num="10"}  
	{loop $data $r} 
                        <li>
                        <h3 class="meta">
                        {if $r[userid]}{get_nickname($r[userid])}{else}{$r[username]}{/if}
                          <time>{inputtime_zone($r[creat_at])}</time>
                        </h3>
                        <p class="content"> {$r[content]}</p>
                        </li>
	 {/loop}
<div id="pages" class="text-c"><span>{$pages}</span></div>
          {/edi}
		  	 
                                       </ul>
            </div>
        </div>
                <!-- comments/E -->
  <div class="gochannel"><a href="{show_url($catid,$contentid)}"><span>返回文章</span></a></div>
{php $commentid=id_encode('content_'.$catid,$id,$siteid)}
{edi:comment action="get_comment" commentid="$commentid"}
{php $comment = $data;}
{/edi}
<form action="http://wap.05273.cn/index.php?app=mobile&amp;controller=index&amp;view=comment" method="post">
<input type="hidden" name="commentid" value="{id_encode('content_'.$catid,$contentid,$siteid)}" />
<input type="hidden" name="catid" value="{$catid}" />
<input type="hidden" name="id" value="{$contentid}" />
<input type="hidden" name="title" value="{urlencode(($comment[title] ? $comment[title] : $title))}">
<input type="hidden" name="url" value="{urlencode(show_url($catid,$typeid,$contentid))}">
<div id="SOHUCS" style="width: 100%;"><section class="reset-g section-title-wap section-title-b">
<div class="title-comment-wap title-comment-b">
</div>
<div class="title-user-wap title-user-b"><span class="user-name-wap user-name-b">
</span></div>
</section>
<section id="cy-cbox-wrapper" class="reset-g section-cbox-wap section-cbox-b">
<div class="cbox-post-wap cbox-post-b">
<div class="post-area-wap post-area-b">
<textarea name="msg" rows="3" class="area-text-wap area-text-b" placeholder="我来说两句..."></textarea>
<input type="hidden" name="cyan-reply-id">
</div>
<div class="post-action-wap post-action-b">
<div class="action-function-wap action-function-b">
<ul class="function-list-wap function-list-b">
<input name="cy-img-url" type="hidden">
</li>
<li class="list-upload-img-wap list-upload-img-b list-uploading-wap" style="display:none">
<div class="uploading-wrap-wap"><span class="wrap-icon-wap wrap-icon-b"></span></div>
<div class="uploaddel-wrap-wap"><span class="wrap-img-wap wrap-img-b"><img alt=""></span>
<span class="wrap-close-wap"></span></div>
</li>
</ul>
</div>
<div class="action-issue-wap action-issue-b">
<div class="issue-site-wap issue-site-b issue-site-e"></div>
<div class="issue-btn-wap issue-btn-b">    
<input type="submit" value=" " name="dosumbit" class="btn-mutual-wap btn-mutual-b"/> 

</div>
</div>
</div>
</div>
</section><section id="cy-comment-list-wrapper" class="reset-g section-list-wap">
<section id="cy-hots-list-wrapper" class="list-kinds-wap list-hot-wap">
</section>
<section id="cy-latest-list-wrapper" class="list-kinds-wap list-hot-wap">
</section>
</section>
</form>	
</div>
  <div class="footnav">
    <ul>
{template "mobile","dibu"}
    </ul>
  </div>
  <!-- footnav/E --> 
  <!-- footer/S -->
  <div class="footer">
    <div class="links"><a href="http://www.05273.cn/?mobile" >电脑版</a>
	<form id="page_loginForm">
   <a href="index.php?app=waplogin&controller=index&view=login&forward={show_url($catid,$contentid)}"><span class="foot_login">登录</span></a> <a href="index.php?app=waplogin&controller=index&view=register"><span class="foot_logout">注册</span></a>
  </form>
	<script type="text/javascript">Login.isLogin('http://www.05273.cn/index.php?app=waplogin&controller=index&view=top_mini','page_loginForm','page');</script>
    </div>
    <div class="copyright"> Copyright &copy; 2007 - 2015 沭阳网. All Rights Reserved </div>
    <div class="gotop"></div>
<div style="display:none"><script src='http://w.cnzz.com/q_stat.php?id=1000299001&amp;l=3' language='JavaScript'></script></div>
  </div>
  <!-- footer/E --> 
  
</div>
<!-- global/E -->
<div class="imageslider"></div>
<div style="display:none">
<script src='http://w.cnzz.com/q_stat.php?id=1000299001&amp;l=3' language='JavaScript'></script>
</div>
<div id="mcover" onClick="$(this).hide()">
    <img src="http://statics.05273.cn/statics/shipei/images/guide.png">
</div>
<script type="text/javascript" src="http://statics.05273.cn/statics/shipei/js/zepto.min.js"></script> 
<script type="text/javascript" src="http://statics.05273.cn/statics/shipei/js/article.v1.0.js"></script> 
<script type="text/javascript" src="http://statics.05273.cn/statics/shipei/js/WeixinApi.min.js"></script>
<script type="text/javascript">
$(function(){
  //$('.content img').parent().css("text-indent","");	
  $('.content img').wrap(function(index){return '<p style="text-indent:0em;" />'});
// $('img').parent().attr('align','center').removeAttr('style');
  $('.content >p ').attr("class","split");
  $('.content >h4 ').attr("class","split").attr('align','center');
  pagination();
})
    WeixinApi.ready(function(Api) {
        Api.showOptionMenu();
        var wxData = {
            "appId": "wxdd240d6f18e0d0e1",
            "imgUrl" : '{$thumb}',
            "link" : '{show_url($catid,$contentid)}',
            "desc" : '{$description}',
            "title" : '{$title}'
        };
        // 分享的回调
        var wxCallbacks = {
            // 分享操作开始之前
            ready:function () {
            },
            // 分享被用户自动取消
            cancel : function(resp) {
                alert("别这样的啦，好东西要和朋友分享的嘛！分享后我告诉你一个秘密。");
            },
            // 分享失败了
            fail : function(resp) {
                alert("分享失败，可能是网络问题，一会儿再试试？");
            },
            // 分享成功
            confirm : function(resp) {
                $.get("http://wap.05273.cn/", {id: "1",op:'share'});
                window.location.href='http://wap.05273.cn/';
            },
        };
        Api.shareToFriend(wxData,wxCallbacks);
        Api.shareToTimeline(wxData,wxCallbacks);
        Api.shareToWeibo(wxData,wxCallbacks);
    });
</script>
<script src="{APP_PATH}index.php?app=api&controller=index&op=stats&amp;catid={$catid}&amp;edi=mobile" type="text/javascript"></script>
</body>
</html>