<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="dns-prefetch" href="//statics.05273.cn">
<link rel="dns-prefetch" href="//upload.05273.cn">
<link rel="dns-prefetch" href="//account.05273.cn">
<link rel="dns-prefetch" href="//img.05273.cn">
<link rel="dns-prefetch" href="//wap.05273.cn">
<link rel="dns-prefetch" href="//www.05273.cn">
		<title>{L('use_email_get_password')} - 沭阳网手机版会员中心</title>
    	<meta name="author" content="wap.05273.cn">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	    <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/base2013.css?v=20130806100001" charset="gbk"/>
		<link rel="apple-touch-icon-precomposed" href="http://statics.05273.cn/statics/mobile/img/weblogo.png"/>
		
        
        <script type="text/javascript" src="{JS_PATH}jquery.js"></script>
        
        

	</head>
<body id="body">
<a name="top"></a>
<header>
			<div class="new-header">
        	<a href="javascript:pageBack();" class="new-a-back"><span>返回</span></a>
							<h2><DIV id="myforms"></div>{L('use_email_get_password')}</h2>
			            <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span></span></a>
    	</div>
		<div class="new-jd-tab" style="display:none" id="jdkey">
        	<div class="new-tbl-type">
                <a href="http://wap.05273.cn/" class="new-tbl-cell">
                	<span class="icon">首页</span>
					<p style="color:#6e6e6e;">首页</p>
                </a>
                <a href="http://wap.05273.cn/index.php?controller=search" class="new-tbl-cell">
                	<span class="icon2">搜索</span>
					<p style="color:#6e6e6e;">搜索</p>
                </a>
                <a href="http://www.05273.cn/index.php?app=waplogin&controller=index&view=comment" id="html5_cart" class="new-tbl-cell">
                	<span class="icon3">我的评论</span>
					<p style="color:#6e6e6e;">我的评论</p>
                </a>
                <a href="http://www.05273.cn/index.php?app=waplogin&controller=index" class="new-tbl-cell">
                	<span class="icon4">我的帐号</span>
					<p style="color:#6e6e6e;">我的帐号</p>
                </a>
            </div>
        </div>
	</header>
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});

	$("#email").formValidator({onshow:"",onfocus:"",oncorrect:""}).inputValidator({min:2,max:32,onerror:""}).regexValidator({regexp:"email",datatype:"enum",onerror:""});
});

//-->
</script>
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/base.css" charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/login.css" charset="utf-8"/>
<form method="post" action="" id="myform">
<input type="hidden" name="siteid" value="1" />
<div class="common-wrapper" style="min-height:300px;">
	<div class="main">
		<div class="item item-phone">
			<input id="email" name="email" class="txt-input txt-captcha" type="text" placeholder="{L('input').L('email')}" maxlength="36"/>
		</div>
		<div class="item item-captcha">
			<div class="input-info">
				<input id="code" name="code" class="txt-input txt-captcha" type="text" size="11" maxlength="20" placeholder="{L('checkcode')}"/>
					 <span id="captcha-img">{form::checkcode('code_img', '4', '14', 75, 26)}
    				  </span>
			</div>
		<div class="item item-btns">
		     <input class="btn-next btn" type="submit" name="dosubmit" value="{L('submit')}">
		</div>
		<div style="text-align:right;">
		<a href="index.php?app=waplogin&controller=index&view=public_get_password_type">重新选择验证方式</a>
		</div>
	</div>
</div>
	</form>
	<div id="autoLoginHeight"></div>

    <footer>
		<div class="login-area" id="footer">
        	<div class="login">
			<span  class="new-fr"><a href="#top">回到顶部</a></span>
   <a href="index.php?app=waplogin&controller=index&view=login&forward=http://wap.05273.cn/">登录</a><span class="layout-lg-bar"> | </span><a href="index.php?app=waplogin&controller=index&view=register">注册</a>
            </div>
        	<div class="version"><a href="http://wap.05273.cn/" class="on">手机版</a><a href="http://www.05273.cn/?mobile" id="toPcHome">电脑版</a></div>
            <div class="copyright">Copyright &copy; 2007-2015 05273.cn 版权所有</div>
        </div>
    </footer>
</body>
</html>