<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="dns-prefetch" href="//statics.05273.cn">
	<link rel="dns-prefetch" href="//upload.05273.cn">
    <link rel="dns-prefetch" href="//account.05273.cn">
    <link rel="dns-prefetch" href="//img.05273.cn">
    <link rel="dns-prefetch" href="//wap.05273.cn">
    <link rel="dns-prefetch" href="//www.05273.cn">
		<title>{L('use_username_get_password')} - 沭阳网手机版会员中心</title>
    	<meta name="author" content="wap.05273.cn">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	    <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/base2013.css?v=20130806100001" charset="gbk"/>
		<link rel="apple-touch-icon-precomposed" href="http://statics.05273.cn/statics/mobile/img/weblogo.png"/>
		
        
        <script type="text/javascript" src="{JS_PATH}jquery.js"></script>
        
        

	</head>
<body id="body">
<a name="top"></a>
<header>
			<div class="new-header">
        	<a href="javascript:pageBack();" class="new-a-back"><span>返回</span></a>
							<h2><DIV id="myforms"></div>{L('use_username_get_password')}</h2>
			            <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span></span></a>
    	</div>
		<div class="new-jd-tab" style="display:none" id="jdkey">
        	<div class="new-tbl-type">
                <a href="http://wap.05273.cn/" class="new-tbl-cell">
                	<span class="icon">首页</span>
					<p style="color:#6e6e6e;">首页</p>
                </a>
                <a href="http://wap.05273.cn/index.php?controller=search" class="new-tbl-cell">
                	<span class="icon2">搜索</span>
					<p style="color:#6e6e6e;">搜索</p>
                </a>
                <a href="http://www.05273.cn/index.php?app=waplogin&controller=index&view=comment" id="html5_cart" class="new-tbl-cell">
                	<span class="icon3">我的评论</span>
					<p style="color:#6e6e6e;">我的评论</p>
                </a>
                <a href="http://www.05273.cn/index.php?app=waplogin&controller=index" class="new-tbl-cell">
                	<span class="icon4">我的帐号</span>
					<p style="color:#6e6e6e;">我的帐号</p>
                </a>
            </div>
        </div>
	</header>
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/base.css" charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/login.css" charset="utf-8"/>
{if $step==1}
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#username").formValidator({onshow:"",onfocus:""}).inputValidator({min:2,max:20,onerror:"应该为2-20位之间"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"用户名格式错误"});
});
//-->
</script>
<form method="post" action="" id="myform">
<div class="common-wrapper" style="min-height:300px;">
	<div class="main">
		<div class="item item-phone">
			<input id="username" name="username" class="txt-input txt-captcha" type="text" placeholder="请输入用户名" maxlength="36"/>
		</div>
		<div class="item item-captcha">
			<div class="input-info">
				<input id="code" name="code" class="txt-input txt-captcha" type="text" size="11" maxlength="20" placeholder="{L('checkcode')}"/>
					 <span id="captcha-img">{form::checkcode('code_img', '4', '14', 75, 26)}
    				  </span>
			</div>
		<div class="item item-btns">
		     <input type="hidden" name="step" value="2">
		     <input class="btn-next btn" type="submit" name="dosubmit" value="{L('submit')}">
		</div>
		<div style="text-align:right;">
		<a href="index.php?app=waplogin&controller=index&view=public_get_password_type">重新选择验证方式</a>
		</div>
	</div>
</div>
	</form>
	{elseif $step==2}
<form method="post" action="" id="myform">
<input type="hidden" name="siteid" value="1" />
<div class="common-wrapper" style="min-height:300px;">
	<div class="main">
		<div class="item item-captcha">
			<div class="input-info">
				您绑定的邮箱账号为：{substr($r['email'],0,3)}****@{$email_arr[1]}
 <input type="hidden" name="step" value="3">
 <span id="mobile_div"><button onclick="get_verify()" type="button" class="button">点击获取邮箱校验码</button></span>
 <span id="mobile_send" style="display:none">，邮箱校验码已发送成功，请查收，请在5分钟内完成验证！</span>
    				  </span>
			</div>
<script type="text/javascript">
<!--
	function get_verify() {
		$.get("?app=waplogin&controller=index&view=public_get_email_verify",{ session_code: '{$_SESSION['code']}',random:Math.random()}, function(data){
			if(data=="1") {
				$("#mobile_div").hide();
				$("#mobile_send").show();
			}
		});
	}
//-->
</script>
		<div class="item item-phone">
			<input id="email_verify" name="email_verify" class="txt-input txt-captcha" type="text" placeholder="请输入邮箱校验码" maxlength="36"/>
		</div>
		<div class="item item-btns">
		     <input class="btn-next btn" type="submit" name="dosubmit" value="{L('submit')}">
		</div>
		<div style="text-align:right;">
		<a href="index.php?app=waplogin&controller=index&view=public_get_password_type">重新选择验证方式</a>
		</div>
	</div>
</div>
	</form>
{else}

<div class="common-wrapper" style="min-height:300px;">
	<div class="main">
		<div class="item item-phone">
		     您的新密码为：
			<input id="username" name="username" class="txt-input txt-captcha" type="text" value="{$password}" maxlength="36"/>
		</div>
		<div style="text-align:right;">
		<a href="index.php?app=waplogin&controller=index&view=public_get_password_type">重新选择验证方式</a>
		</div>
	</div>
</div>
	{/if}
	<div id="autoLoginHeight"></div>

    <footer>
		<div class="login-area" id="footer">
        	<div class="login">
			<span  class="new-fr"><a href="#top">回到顶部</a></span>
   <a href="index.php?app=waplogin&controller=index&view=login&forward=http://wap.05273.cn/">登录</a><span class="layout-lg-bar"> | </span><a href="index.php?app=waplogin&controller=index&view=register">注册</a>
            </div>
        	<div class="version"><a href="http://wap.05273.cn/" class="on">手机版</a><a href="http://www.05273.cn/?mobile" id="toPcHome">电脑版</a></div>
            <div class="copyright">Copyright &copy; 2007-2015 05273.cn 版权所有</div>
        </div>
    </footer>
</body>
</html>