<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="dns-prefetch" href="//statics.05273.cn">
    <link rel="dns-prefetch" href="//upload.05273.cn">
    <link rel="dns-prefetch" href="//account.05273.cn">
    <link rel="dns-prefetch" href="//img.05273.cn">
    <link rel="dns-prefetch" href="//wap.05273.cn">
    <link rel="dns-prefetch" href="//www.05273.cn">
		<title>沭阳网手机版会员中心</title>
    	<meta name="author" content="wap.05273.cn">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	    <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/base2013.css?v=20130806100001" charset="gbk"/>
		<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/myhome1.01.css?v=2" charset="gbk"/>	
        
		<link rel="apple-touch-icon-precomposed" href="http://statics.05273.cn/statics/mobile/img/weblogo.png"/>
		
        
<script type="text/javascript">
    try{
        if(/Macintosh|Mac_PowerPC|Windows NT|Windows XP/i.test(navigator.userAgent)){
          window.location.href="http://passport.05273.cn/member-index.html";
        }
    }catch(e){};
</script>
	</head>
<body id="body">
<a name="top"></a>
<header>
			<div class="new-header">
        	<a href="javascript:pageBack();" class="new-a-back"><span>返回</span></a>
							<h2>沭阳网会员中心</h2>
			            <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span></span></a>
    	</div>
		<div class="new-jd-tab" style="display:none" id="jdkey">
        	<div class="new-tbl-type">
                <a href="http://wap.05273.cn/" class="new-tbl-cell">
                	<span class="icon">首页</span>
					<p style="color:#6e6e6e;">首页</p>
                </a>
                <a href="http://wap.05273.cn/index.php?controller=search" class="new-tbl-cell">
                	<span class="icon2">搜索</span>
					<p style="color:#6e6e6e;">搜索</p>
                </a>
                <a href="http://www.05273.cn/index.php?app=waplogin&controller=index&view=comment" id="html5_cart" class="new-tbl-cell">
                	<span class="icon3">我的评论</span>
					<p style="color:#6e6e6e;">我的评论</p>
                </a>
                <a href="http://www.05273.cn/index.php?app=waplogin&controller=index" class="new-tbl-cell">
                	<span class="icon4">我的帐号</span>
					<p style="color:#6e6e6e;">我的帐号</p>
                </a>
            </div>
        </div>
	</header>
<div class="common-wrapper">
	<div class="head-img">
		<span class="my-img" style="background-image:url('{$avatar[180]}')" onerror="this.src='{$phpsso_api_url}/statics/images/member/nophoto.gif'"></span>
		<p>{if $memberinfo['nickname']} {$memberinfo['nickname']} {else} {$memberinfo['username']}{/if}</p>
		<p>{$memberinfo['groupname']}</p>
	</div>
	    	<ul class="menu-list">
    			    				<li>
            			<a href="index.php?app=waplogin&controller=index&view=account_manage">
    						<img src="http://statics.05273.cn/waplogin/images/547bc6b5Ncc52a3b8.png" alt=""/>
            				<p>我的信息</p>
            			</a>
            		</li>
    				
    			    				<li>
            			<a href="index.php?app=waplogin&controller=index&view=favorite">
    						<img src="http://statics.05273.cn/waplogin/images/547bc6dbN3dabf32a.png" alt=""/>
            				<p>我的收藏</p>
            			</a>
            		</li>
    				
    			    				<li>
            			<a href="index.php?app=waplogin&controller=index&view=comment">
    						<img src="http://statics.05273.cn/waplogin/images/547bc6eaN6c97383c.png" alt=""/>
            				<p>我的评论</p>
            			</a>
            		</li>
    				
    			    				<li>
            			<a href="index.php?app=waplogin&controller=index&view=account_manage_password">
    						<img src="http://statics.05273.cn/waplogin/images/547bc70aNf7e3462a.png" alt=""/>
            				<p>修改密码</p>
            			</a>
            		</li>
			    	</ul>
	</div>
<link rel="stylesheet" type="text/css" href="http://statics.05273.cn/waplogin/css/guessing.css?v=2" charset="utf-8"/>
<div id="autoLoginHeight"></div>

{template 'mobile', 'login_footer'}
</body>
</html>