    <footer>
		<div class="login-area" id="footer">
        	<div class="login">
			<span  class="new-fr"><a href="http://wap.05273.cn/">回到手机站</a></span>
			<script src="http://statics.05273.cn/statics/js/??jquery.js?v=20140509" type="text/javascript"></script>
			 <form class="login-form" id="page_loginForm">
   <a href="index.php?app=waplogin&controller=index&view=login&forward={urlencode($_GET['forward'])}">登录</a><span class="layout-lg-bar"> | </span><a href="index.php?app=waplogin&controller=index&view=register">注册</a>
  </form>
			<script type="text/javascript">Login.isLogin('http://www.05273.cn/index.php?app=waplogin&controller=index&view=top_mini','page_loginForm','page');</script>
			
            </div>
        	<div class="version"><a href="http://wap.05273.cn/" class="on">手机版</a><a href="http://www.05273.cn/?mobile" id="toPcHome">电脑版</a></div>
            <div class="copyright">Copyright &copy; 2007-2015 05273.cn 版权所有</div>
        </div>
    </footer>