			<ul>
			<li><a href="http://wap.05273.cn/">首页</a></li>
            <li><a href="http://wap.05273.cn/list-6-1.html">资讯</a></li>
            <li><a href="http://wap.05273.cn/list-16-1.html">沭阳</a></li>
            <li><a href="http://wap.05273.cn/list-3370-1.html">话题</a></li>
            <li><a href="http://wap.05273.cn/list-24-1.html">政府</a></li>
            <li><a href="http://wap.05273.cn/list-11-1.html">地方</a></li>
            <li><a href="http://wap.05273.cn/list-12-1.html">实用</a></li>
            <li><a href="http://wap.05273.cn/list-13-1.html">国内</a></li>
            <li><a href="http://wap.05273.cn/list-14-1.html">社会</a></li>
            <li><a href="http://wap.05273.cn/list-15-1.html">港澳</a></li>
            <li><a href="http://wap.05273.cn/list-8-1.html">图片</a></li>
            <li><a href="http://wap.05273.cn/list-21-1.html">热点</a></li>
            <li><a href="http://wap.05273.cn/list-22-1.html">县内</a></li>
            <li><a href="http://wap.05273.cn/list-23-1.html">部门</a></li>
			<li><a href="http://wap.05273.cn/list-20-1.html">电视</a></li>
			</ul>
<section id="newsletter">       
<form class="form-pos" method="get" action="http://wap.05273.cn/index.php?">
<input type="hidden" name="app" value="mobile">
<input type="hidden" name="controller" value="search">
<input type="hidden" name="view" value="init">
<input type="text" class="form-control" placeholder="搜索新闻" name="q" value=""><input type="submit" class="btn btn-search fr" value="搜索"></form>    
<div class="clearfix"></div>
</section> 