	<!-- Footer -->
    <div class="clear"></div>
	<div class="foot">
		<div class="foot01">
{edi:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}{loop $data $r}<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  {/loop}{/edi}<a href="{APP_PATH}links.shtml" target="_blank">友情链接</a>
|  <a href="https://www.05273.cn/sitemap.html" target="_blank">网站地图</a>
|  <a href="https://www.05273.cn/rss/" target="_blank">RSS订阅</a>
|  <a href="https://wap.05273.cn/" target="_blank">手机站</a>
        </div>
        <div class="foot02">
            Copyright &copy; 2007-2019 05273.cn All Rights Reserved.  <br>电信与信息服务业务经营许可证编号： 苏ICP备18031647号-1 <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32132202000115" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//statics.05273.cn/images/gab.png" style="float:left;"/>苏公网安备 32132202000115号</a> <img src="//statics.05273.cn/statics/images/copyright.gif"/>  <a href="https://www.05273.cn/special/wenming/" target="_blank"><img src="//statics.05273.cn/statics/images/wm.gif" title="沭阳文明网站创建自律公约" border=0/></a>
</div>
    </div>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>
