* { margin:0; padding:0; word-break:break-all; }
body { background:#FFF; color:#333; font:12px/1.5em Verdana,Helvetica,Arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size:1em; }
a { color:#333; text-decoration:none; }
	a:hover { text-decoration:underline; }
ul, li { list-style:none; }
fieldset, img { border:none; }
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:400; }
input, textarea, select, button { font:12px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html { overflow:-moz-scrollbars-vertical; }

