.clr{height:1%;}.wp{_height:1%;}
address{*font-style:normal;}
ul.col li,ul.cola li{*display:inline; overflow:hidden;}

ul.lbuli li{line-height:17px; _border:none;}
.ptxt .spr_sj{_overflow:hidden; _top:-6px;}
.t_box{_float:none; _height:auto; _position:relative; _top:-14px;}
.t_box div{ *position:relative; *top:-14px; _position:static; _top:0px;}
.t_box p{*position:relative; *top:-6px; _top:8px;}
.t_box span{_position:relative; _top:-2px;}
.ptxt{ *top:-10px; _top:0px;}
.lstbd{_border:none;}
.img50 .ts_box{top:-100px;}
.img50 .ts_box .sjbg{_bottom:-15px;}
.box .nav h5{ _padding-bottom:0px; _margin-bottom:0px;}
.iptuli li.tj_box{ padding-bottom:10x;}
.iptuli input{ line-height:34px;}
.iptuli li.tj_box .ptxt{ top:10px;}
.iptuli input, .iptuli textarea{float:left;}
ul.xd .lynr{ _margin-left:20px;}
.tscg .row2 img{ margin-top:20px;}



