#toTop{width:54px;height:54px;display:block;position:fixed;right:25px;bottom:45px;background-position:-59px 0px;opacity:0.3;filter:alpha(opacity=70);background-image:url(//statics.05273.cn/statics/images/qqbg_1_0.png); background-repeat:no-repeat;}
#toTop:hover{opacity:1;filter:alpha(opacity=100);}
