<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商业授权查询</title>
<style type="text/css">
<!--
body{ background:#fff; text-align:center; font-size:12px;}
a { color:#333; text-decoration:none;}
#cert{background:#fff url(//statics.zhikunet.org/statics/images/license/license_bg.jpg) no-repeat 0 0; width:632px; height:396px; margin:50px auto; position:relative;}
#cert table{ position:absolute; left:160px; top:130px;}
#cert table th{ height:30px; line-height:30px; text-align:right; padding-right:10px; font-weight:normal; color:#000;}
#cert table td{ text-align:left; color:#333;}
-->
</style>
</head>
<body>
<div id="cert">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <th><?php echo L('type')?>：</th>
<td>
{edi:get sql="SELECT * FROM v9_type where typeid=$typeid"  return="type"}
{loop $type $r}
{$r['name']}
{/loop}
{/edi}
</td>
    </tr>
    <tr>
      <th><?php echo L('sdomain')?>：</th>
      <td><a target="blank" href="http://{$domain}">{$domain}</a></td>
    </tr>
    <tr>
      <th><?php echo L('webname')?>：</th>
      <td>{$webname}</td>
    </tr>
    <tr>
      <th><?php echo L('license_content')?>：</th>
      <td>{$content}</td>
    </tr>
    <tr>
      <th><?php echo L('startend')?>：</th>
      <td>{$shouquanstart}{if $shouquanend=='0000-00-00'}　[<?php echo L('noshouquan')?>]{else}　{$shouquanend}{/if}</td>
    </tr>
    <tr>
      <th><?php echo L('fwstartend')?>：</th>
      <td>{if $endtime=='0000-00-00'}<?php echo L('noenddate')?>{else}{$starttime}　{$endtime}{/if}</td>
    </tr>
  </table>
</div>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>