<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{$title} - 专题报道 - {$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="https://statics.05273.cn/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="https://statics.05273.cn/statics/css/default_blue.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="//statics.05273.cn/statics/js/jquery.sgallery.js"></script>
<style type="text/css">
.special-bg{ background-color:#fff; width:960px; margin:auto; padding:0 6px}
.z table td{ padding:0}
</style>
</head>
<body class="special-channel">
<div class="body-top special-body-top">
{edi:content action="category" catid="0" num="25" order="listorder ASC"}
    <div class="content">
    	<a href="{$url}" class="logo"><img src="//statics.05273.cn/statics/images/feitian/logo.jpg" height="30" alt="专题首页"/></a><div class="nav"><a href="{siteurl($siteid)}">首页</a></div>
    </div>
	{/edi}
</div>