{template 'special', 'header315'}
<STYLE type=text/css>h2a {
	FONT-SIZE: 135%
}
.imgBg02 {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.imgBg03 {
	BORDER-BOTTOM: #278270 1px solid; BORDER-LEFT: #278270 1px solid; BORDER-TOP: #278270 1px solid; BORDER-RIGHT: #278270 1px solid
}
.imgBg04 {
	BORDER-BOTTOM: #278270 1px solid; BORDER-LEFT: #278270 1px solid; BORDER-TOP: #278270 1px solid; BORDER-RIGHT: #278270 1px solid
}
.borCyan2_3 {
	BORDER-TOP: #000000 2px solid
}
.area1 {
	MARGIN: 0px auto; WIDTH: 960px; CLEAR: both; OVERFLOW: hidden
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.conR1 {
	WIDTH: 260px; FLOAT: right; OVERFLOW: hidden
}
A {
	COLOR: #2b2b2b
}
A:hover {
	COLOR: #e5b86a; CURSOR: hand; TEXT-DECORATION: none
}
.nesting {
	WIDTH: 960px
}
.sign {
	WIDTH: 960px
}
.foot {
	TEXT-ALIGN: center; WIDTH: 960px
}
.tCenter {
	TEXT-ALIGN: center
}
STRONG {
	FONT-WEIGHT: bold
}
.foot1 {
	LINE-HEIGHT: 21px; MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: #fff; COLOR: #4d4d4d; CLEAR: both
}
.foot1 .text {
	BORDER-BOTTOM: #4d4d4d 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
.foot1 A {
	COLOR: #4d4d4d
}
.foot A:visited {
	COLOR: #4d4d4d
}
.foot1 A:hover {
	COLOR: #ba2636
}
</STYLE>
</DIV></DIV>
<!-- 内容编辑区 -->
<DIV style="MARGIN: 0px auto; WIDTH: 100%">
<H1 
style="BACKGROUND-IMAGE: url(https://www.05273.cn/images/315/kj5_02.png); MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 287px; OVERFLOW: hidden"></H1></DIV>
<DIV style="POSITION: relative; WIDTH: 100%">
<H1 
style="BACKGROUND-IMAGE: url(https://www.05273.cn/images/315/kj3_05.png); MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 492px; COLOR: #ffffff; FONT-SIZE: 24px; OVERFLOW: hidden"><center>卧槽！找了好久还没找着良心企业呢315就特么到了……专题被迫上线了……</center></H1></DIV>
<DIV style="POSITION: relative; WIDTH: 100%">
<H1 
style="BACKGROUND-IMAGE: url(https://www.05273.cn/images/315/kj3_08.png); MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 33px; OVERFLOW: hidden"></H1></DIV>
<DIV style="MARGIN: 0px auto; WIDTH: 980px">
  {if module_exists('comment')}  
    <iframe src="{APP_PATH}index.php?app=comment&controller=index&view=init&commentid={id_encode("special",$id,$siteid)}&iframe=1" width="100%" height="40%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	  {/if}
</DIV>
<DIV class=foot1>
{template 'content', 'footer'}
</DIV></BODY></HTML>
