<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>母亲节特别策划：这些年，你亏欠了妈妈多少爱？- 沭阳网 - 沭阳论坛网</title>
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/zhuanti/muqin/css/style1.css"/>
</head>
<body>
<style type="text/css">
.mininav div{margin:0;padding:0;}
.mininav{width:100%;height:28px;background:#fdfdfd url(//statics.05273.cn/statics/zhuanti/muqin/img/mininav.png) repeat-x top center;border-bottom:1px solid #ebebeb;}
.mininavInner{width:1000px;height:28px;margin:0 auto!important;}
.mininavInner a{color:#666;text-decoration:none;font-family:"宋体";}
.mininavInner a:hover{color:#2d374b;}
.mininavInner .mininavLeft{float:left;margin-top:8px;color:#c7c7c7;font-size:12px;}
.mininavInner .mininavLeft .fl{color:#c7c7c7;}
</style>
<div class="mininav">
	<div class="mininavInner">
		<div class="mininavLeft">
			<div class="fl">
				<a href="https://www.05273.cn/" target="_blank" id="qqindex">沭阳网首页</a> | <a href="https://www.05273.cn/special/" target="_blank" id="webmap">专题</a>
			</div>
		</div>
	</div>
</div>
<div class="top-pic-box">
	<div class="area">
		<div class="video-box">		
<div class="mod_player_wrap" id="mod_player_wrap">
	<div class="mod_inner">
		<div class="mod_player_section center mod_independent" id="mod_inner">
		<div>
		<div class="mod_player" id="mod_player">
<div id="video" style="position:relative;z-index: 100;width:622px;height:500px;"><div id="a1"></div></div>
<script type="text/javascript" src="//statics.05273.cn/statics/js/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/ckplayer/offlights.js" charset="utf-8"></script>
<script type="text/javascript">
	var flashvars={
                f:'https://api.05273.cn/video.php?url=[$pat]',
                a:'w0012i7asha_qq',
                s:2,
		k:'',
	        n:'',
	        my_title:'母亲节特别策划：这些年，你亏欠了妈妈多少爱？',
	        my_url:'https://www.05273.cn/special/muqin/',
	        my_summary:'母亲节特别策划：这些年，你亏欠了妈妈多少爱？',
	        my_pic:'https://img.05273.cn/2013/0510/20130510073817862.jpg',
		b:'1'
	};
    var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
	var video=['https://api.05273.cn/wap.php?url=w0012i7asha_qq->video/mp4'];
    CKobject.embed('//statics.05273.cn/statics/js/ckplayer/ckplayer.swf','a1','ckplayer_a1','940','561',false,flashvars,video,params);
  </script>
		</div>
		</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div class="a-box">
	<div class="area">
		<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" style="z-index:99999;">
		 	<span class="Qs_txt" style="width:76px; z-index:9998;">分享到：</span>
        <!-- iShare BEGIN -->
			
			<a href="javascript:void(0)" onclick="postToWb();" class="tmblog"><img src="//statics.05273.cn/statics/share/images/button32.png" alt="转发微博"></a><script type="text/javascript">
	function postToWb(){
		var _t = encodeURI(document.title);
		var _url = encodeURIComponent(document.location);
		var _appkey = encodeURI("801077112");//你从腾讯获得的appkey
		var _pic = encodeURI('');//（例如：var _pic='图片url1|图片url2|图片url3....）
		var _site = '';//你的网站地址
		var _u = 'http://v.t.qq.com/share/share.php?title='+_t+'&url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic;
		window.open( _u,'转播到腾讯微博', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
	}
</script>		<style type="text/css">
		.iShareWrap { position: absolute; left: 70px; top: 4px; width: 240px; z-index: 9999;}
		</style>
    </div>
	</div>
</div>
<div class="b-box">
	<style type="text/css">
	.b-cydc .area{position:relative;}
	.b-cydc a { width: 91px; height: 187px; position: absolute; left: 501px; top: 87px; text-indent: -999em;}
	</style>
	<div class="area">
	<div  class="b-cydc"></div>
	</div>
</div>
<div class="c-box" style="background:url(//statics.05273.cn/statics/zhuanti/muqin/img/pic_061.jpg) no-repeat center"></div>
<div class="d-box">
	<div class="area"></div>
</div>
<div class="e-box"><div class="area"></div></div><br>
<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_likeurl" target="_blank">赞</a><script  src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20110603&style=3&showcount=1&width=130&height=30" charset="utf-8" defer="defer" ></script>

<div id="tcopyright" class="tcopyright">
	<div>
<a href="https://www.05273.cn/about/aboutus/" target="_blank">关于我们</a> |  <a href="https://www.05273.cn/about/contactus/" target="_blank">联系方式</a> |  <a href="https://www.05273.cn/about/copyright/" target="_blank">版权声明</a> |  <a href="https://www.05273.cn/about/adsen/" target="_blank">广告投放</a> |  <a href="https://www.05273.cn/about/product/" target="_blank">产品与服务</a> |  <a href="https://www.05273.cn/about/partners/" target="_blank">合作伙伴</a> |  <a href="https://www.05273.cn/about/job/" target="_blank">诚聘英才</a> |  <a href="https://www.05273.cn/links.shtml" target="_blank">友情链接</a>
|  <a href="https://www.05273.cn/sitemap.html" target="_blank">网站地图</a>
|  <a href="https://www.05273.cn/rss/" target="_blank">RSS订阅</a>
|  <a href="https://wap.05273.cn/" target="_blank">手机站</a>
	</div>
  	<div class="en">
    Copyright &copy; 2007-2019 05273.cn All Rights Reserved.  <br>电信与信息服务业务经营许可证编号： 苏ICP备18031647号-1 <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32132202000115" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//statics.05273.cn/images/gab.png" style="float:left;"/>苏公网安备 32132202000115号</a> <img src="//statics.05273.cn/statics/images/copyright.gif" width="15" height="17"/>  <a href="https://www.05273.cn/special/wenming/" target="_blank"><img src="//statics.05273.cn/statics/images/wm.gif" width="15" height="17" title="沭阳文明网站创建自律公约" border=0/></a>
	</div>
    <div>
	</div>
</div>
<!--#include virtual="/caches/posid/10.html"-->
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>
