<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>2016年中秋佳节-沭阳新闻-沭阳网</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Keywords" content="中秋节,沭阳新闻,沭阳新闻网,沭阳网,沭阳,shuyang" />
<meta name="description" content="又是一年中秋时，今年的中秋是近年来最早的一个中秋。浙江、上海、北京等地网友纷纷晒出当地圆月，共度中秋佳节" />
<link href="https://statics.05273.cn/zhuanti/2016moon/index.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]>
	<script type="text/javascript" src="DD_belatedPNG.js"></script>
	<script type="text/javascript">
		DD_belatedPNG.fix(".png24");
	</script>
<![endif]-->	
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js"></script> 
 <style>
#topic_nav .logo{width:auto; height:auto; background:none;}
.pageInner{background:url(//statics.05273.cn/zhuanti/2016moon/12.jpg) center 0 no-repeat;}
#banner{height:500px;}
.jrywMod .pL .dot{font-size:17px;}
.dbsyMod,.jyzqMod{margin-top:30px;}
</style>
<meta name="author" content="edi"/>
</head>
<body>
<div class="wrap">
	<div class="pageInner">
		<div id="banner">
			<h1>中秋佳节</h1>
		</div>
		<div class="container">
			<div class="navBox">
				<div class="nav" id="nav">
					<div class="outer">
					<div class="inner">
						<div class="logo"></div>
						<ul class="navList fyh">
							<li><a href="https://www.05273.cn/special/2016zq/news/lists-161.html" target="_blank">资讯</a></li>
							<li><a href="https://www.05273.cn/daodu/dif/0908/view_184022.html" target="_blank">赏月</a></li>
							<li><a href="https://www.05273.cn/video/lyou/view_2604.html" target="_blank">五仁月饼如何造</a></li>
							<li class="last"><a href="https://www.05273.cn//weather/" target="_blank">假日各地天气</a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>			
			<div class="jrywMod">
				<div class="inner">
					<div class="bd">                  
           <div class="pL fl">
						<div class="hotNews">
							<h2 class="fyh"><a href="https://www.05273.cn/daodu/dif/0912/view_184941.html" target="_blank">中秋假期全国收费高速不免费</a></h2>
							<p class="info">根据规定，全国收费公路免费通行的时间范围为春节、清明节、劳动节、国庆节等4个国家法定节假日，中秋节小长假不在规定范围之内，因此开车上高速仍需正常缴费通行。<a href="https://www.05273.cn/daodu/dif/0912/view_184941.html" target="_blank">[详细]</a></p>
						</div>
						{edi:special action="content_list" specialid="$id" typeid="$t[typeid]" listorder="3" num="5"}	
						<ul class="dot fyh">
							{loop $data $r} 
							<li><a href="{$r['url']}" target="_blank">{str_cut($r['title'], 54)}</a></li>
							 {/loop}    
							 {/edi}  
						</ul>
					</div>
	       	<div class="pR fr">
    <div id="focus_01" class="focus_A">
    <ul class="focus_con">
    {edi:special  action="content_list" specialid="$specialid" thumb="1" listorder="3" num="5"}
     {loop $data $r}
        <li class="item"><a href="{$r['url']}" target="_blank"><img src="{thumb($r['thumb'],430,430)}" /><span class="shadow fyh png24">{str_cut($r['title'],45)}</span><div class="masker png24"></div></a></li>
{/loop}
 {/edi} 
    </ul>
    <div class="focus_dot">
        <a href="javascript:void(0);"></a>
        <a href="javascript:void(0);"></a>
        <a href="javascript:void(0);"></a>
        <a href="javascript:void(0);"></a>
        <a href="javascript:void(0);"></a>
        <a href="javascript:void(0);"></a>
    </div>
</div>
<script type="text/javascript" src="//statics.05273.cn/zhuanti/2016moon/jquery.shuyangfocus.js"></script>
<script type="text/javascript">
$("#focus_01").shuyangfocus({
    effect:'none'
});
</script>
					</div>
					</div>

		   <div class="ft">
						<div class="twC twC1"><a href="https://www.05273.cn/video/lyou/view_2606.html" target="_blank"><img src="https://img.05273.cn/2016/0913/20160913100455459.jpg" alt=""><span class="shadow fyh png24">中秋旅游短线推荐</span><span class="masker"></span></a></div>
						<div class="twC twC2"><a href="https://www.05273.cn/video/lyou/view_2605.html" target="_blank"><img src="https://img.05273.cn/2016/0913/20160913100216528.jpg" alt=""><span class="shadow fyh png24">中秋时节巧做月饼</span><span class="masker"></span></a></div>
						<div class="twC twC3"><a href="https://www.05273.cn/video/lyou/view_2604.html" target="_blank"><img src="https://img.05273.cn/2016/0913/20160913101111227.jpg" alt=""><span class="shadow fyh png24">涨姿势：五仁月饼如何造</span><span class="masker"></span></a></div>
					</div>
				</div>
			</div>
			
			
			<div class="sszqMod">
				<div class="inner">
					<a class="yuebing no1"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110437399.png" alt="" /></a>
					<a class="yuebing no2"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110437176.png" alt="" /></a>
					<a class="yuebing no3"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110437077.png" alt="" /></a>
					<a class="yuebing no4"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110436681.png" alt="" /></a>
					<a class="yuebing no5"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110436535.png" alt="" /></a>
					<a class="yuebing no6"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110436383.png" alt="" /></a>
					<a class="yuebing no7"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110436323.png" alt="" /></a>
					<a class="yuebing no8"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110436139.png" alt="" /></a>
					<a class="yuebing no9"><img class="png24" src="//statics.05273.cn/zhuanti/2016moon/110484648.png" alt="" /></a>
                    <p class="info">近日，一个所谓“史上最黑暗的月饼”又横空出世，这款月饼叫“巧克力香辣牛肉月饼”，外皮是巧克力的，里面是麻辣牛肉馅，吸引了网友们围观吐槽。同时，他还有许多奇葩“同伙”：青椒卤肉月饼，韭菜月饼，腐乳月饼，酸辣月饼...整个一“黑暗料理”。逆天新品，你真的敢吃吗？</p>
                                                                                
				</div>
			</div>
			
			
			<div class="zqznMod fyh">
				<div class="pL fl">
					<a class="twP twP1" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110415765.jpg" alt="" /><span class="shadow png24">元上都：草原上的江南</span></a>
					<a class="twP twP2" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110415766.jpg" alt="" /><span class="shadow png24">南宁：半城绿树半城楼</span></a>
				</div>
				<div class="pR fr">
					<a class="twP twP3" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110415776.jpg" alt="" /><span class="shadow png24">成都，心与肠胃一起在巷子里诗意漫游</span></a>					
					<a class="twP twP4" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110474091.jpg" alt="" /><span class="shadow png24">川藏南线&稻城亚丁的释放之旅 </span></a>			
					<a class="twP twP5" ><img src="//statics.05273.cn/zhuanti/2016moon/img_zqqn.jpg" alt="" /></a>				
					<a class="twP twP6" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110415793.jpg" alt="" /><span class="shadow png24">漫步绍兴：寻找一块进入时间的路牌</span></a>			
					<a class="twP twP7" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110415828.jpg" alt="" /><span class="shadow png24">西塘—生活着的千年古镇</span></a>		
					<a class="twP twP8" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/110415796.jpg" alt="" /><span class="shadow png24">苏州：道不完的风情</span></a>	
					<a class="twP twP9" href="#" target="_blank"><img src="//statics.05273.cn/zhuanti/2016moon/img_fwxx.jpg" alt="" /></a>
				</div>
			</div>
			
			
			<div class="jyzqMod">
				<div class="hd"></div>
				<div class="layout">
  {if module_exists('comment')}  
    <iframe src="{APP_PATH}index.php?app=comment&controller=index&view=init&commentid={id_encode("special",$id,$siteid)}&iframe=1" width="100%" height="40%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	  {/if}
				</div>
			</div>
			
		</div>
	</div>
</div>
<div id="getBrowser">
	<script type="text/javascript">
var ie6=!-[1,]&&!window.XMLHttpRequest;
if(ie6){
	document.getElementById('getBrowser').style.display = 'block';
}
	</script>
	<style type="text/css">
   #getBrowser{display: none; position: absolute; left:0; top: 0;width: 100%; height: 40px;padding: 10px 0; background: yellow; border-top: 1px solid orange;border-bottom: 1px solid orange; text-align: center;}
   #getBrowser p{line-height: 20px;}
   #btnBox{padding-top: 5px;}
   #btnBox a{padding: 5px 10px; background: #1e676c; color: #fff;}
   #btnBox a:hover{background: #fff; color: #1e676c;}
	</style>
	<p>您的浏览器版本太低，为了更好的访问体验，请升级您的浏览器。</p>
	<div id="btnBox">
	<a href="http://www.google.com/chrome/browser/" target="_blank">Google Chrome</a>
	<a href="http://download.firefox.com.cn/releases/stub/official/zh-CN/Firefox-latest.exe" target="_blank">Mozilla Firefox</a>
	<a href="http://download.microsoft.com/download/A/C/9/AC924EA1-9F39-4DFD-99DF-2C1DEB922174/EIE11/WOL/EIE11_ZH-CN_WOL_WIN764.EXE" target="_blank" class="getBtn"> Internet Explorer 11</a>
	</div>
</div>

<style>
.tcopyright {width:960px;margin:0 auto;padding:8px 0;font-size:12px;line-height:28px;color:#333; text-align:center; overflow:hidden;clear:both;}
.tcopyright .en{font-family:Arial;}
.tcopyright a{color:#333;text-decoration: none;}
.tcopyright a:hover{color:#bd0a01;text-decoration: underline;}
</style>
<div id="tcopyright" class="tcopyright" role="contentinfo">
	<div>
    <a href="https://www.05273.cn/about/aboutus/" target="_blank">关于沭阳网</a> | <a href="https://www.05273.cn/about/shuyangwang/" target="_blank">本网动态</a> | <a href="https://www.05273.cn/about/contactus/" target="_blank">联系方式</a> | <a href="https://www.05273.cn/about/submission/" target="_blank">投稿荐稿</a> | <a href="https://www.05273.cn/about/copyright/" target="_blank">免责声明</a> | <a href="https://www.05273.cn/about/adsen/" target="_blank">广告投放</a> | <a href="https://www.05273.cn/about/weixin/" target="_blank">微信平台</a> | <a href="https://www.05273.cn/about/book/" target="_blank">意见反馈</a> | <a href="https://www.05273.cn/about/delete/" target="_blank">删帖须知</a> | <a href="https://www.05273.cn/links.shtml" target="_blank">友情链接</a>
| <a href="https://www.05273.cn/sitemap.html" target="_blank">网站地图</a>
| <a href="https://www.05273.cn/rss/" target="_blank">RSS订阅</a>
| <a href="https://wap.05273.cn/" target="_blank">手机站</a> 
	</div>
  	<div class="en">Copyright &copy; 2007-2019 05273.cn All Rights Reserved. </div>
    <div>
		<a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备18031647号-1</a> <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32132202000115" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//statics.05273.cn/images/gab.png" style="float:left;"/>苏公网安备 32132202000115号</a> <a href="https://www.05273.cn/special/wenming/" target="_blank">文明建网自律公约</a> <a href="https://www.05273.cn/special/jubao/" target="_blank">举报</a>
	</div>
</div>
<script type="text/javascript">
(function(W, D) {
    Function.prototype.before = function(func) {
        var __self = this;
        return function() {
            if (func.apply(this, arguments) === false) {
                return false;
            }
            return __self.apply(this, arguments);
        }
    }
    var Fixed = W['Fixed'] = function(o) {
        return new _Fixed(o);
    },
        _Fixed = function(o) {
            this.id = o.id; // obj id
            this.distance = o.distance != undefined ? o.distance : 0; // 触发离顶部的距离
            this.stay = o.stay != undefined ? o.stay : 0; // 触发离顶部的距离
            this.isTop = o.isTop != undefined ? o.isTop : false;
            this.init();
        }
    _Fixed.prototype = {
        setFixed: function() {
            var _this = this;
            var obj = D.getElementById(_this.id);
            var scrollTop = D.body.scrollTop || D.documentElement.scrollTop;
            var ie6 = !W.XMLHttpRequest;
            if (ie6) {
                obj.className = obj.className;
            }
            if (!_this.isTop) { // top
                if (scrollTop > _this.distance - _this.stay) {
                    obj.style.display = "block";
                    if (ie6) {
                        obj.style.position = "absolute";
                    } else {
                        obj.style.position = "fixed";
                    }
                } else {
                    obj.style.display = "none";
                }
            } else { // menu
                if (scrollTop > _this.distance - _this.stay) {
                    if (ie6) {
                        obj.style.top = scrollTop + _this.stay + "px";
                    } else {
                        obj.style.position = "fixed";
                        obj.style.top = _this.stay + "px";
                    }
                } else {
                    obj.style.position = "absolute";
                    obj.style.top = _this.distance + "px";
                }
            }
        },
        init: function() {
            var _this = this;
            W.onscroll = (W.onscroll || function() {}).before(function() {
                _this.setFixed();
            });
            _this.setFixed();
        }
    }
})(window, document);
//屏幕判断

var  oTop = $('#nav').offset().top;
Fixed({id:"nav", distance:oTop, stay:0, isTop:true});

</script>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>