{template 'special', 'headeranqi'}
<BODY>
<DIV id=top01></DIV><!--menu-->
<DIV id=menu></DIV><!--part 1-->
<DIV id=part1 class="m0 bgw f0">
<DIV class="fl left">
<DIV><SPAN class=fb>导语：</SPAN>2012年3月9日，家住沭阳县马厂镇商业街上的赵芹一家原本平凡的日子几乎被彻底摧毁，她3岁大的儿子曹安琦被查出患有重度地中海贫血症。从这一天开始，赵芹一家坠入了痛苦的深渊。 <br>
　　治疗重度地中海贫血症需要进行骨髓移植，这项费用少说也要三四十万，家徒四壁的赵芹根本无力承担，为此她每天愁眉不展，经常看着可爱的儿子流眼泪。年幼的曹安琦不明白妈妈哭泣的原因，但他并不愿意看到妈妈哭泣。每当此时，他会把手中的零食递给赵芹，然后对她说：“妈妈别哭，我都不哭。”这时候，赵芹会背过身去，哭得更加厉害...</DIV>
<IMG src="{IMG_PATH}anqi/zhuanti/font.jpg" width=667 height=87> </DIV>
<DIV class="fr right txc"><IMG src="https://img.05273.cn/2012/0329/20120329035434858.jpg" width=200 height=260></DIV></DIV>
<DIV class="title bgw"><IMG src="//statics.05273.cn/statics/images/anqi/zhuanti/title1.jpg" width=874 height=45></DIV>
<DIV class="douyu m0 bgw f0">
<DIV class=douyu_LEFT>　　医生：“孩子是地中海贫血症，建议骨髓移植”<br>
　　曹安琦刚出生时经常生病，感冒发烧几乎没有断过，每次情况都很严重，曹红军和赵芹带着曹安琦四处求医问药，但始终寻不出病根来。2011年腊月25日，在家玩耍的曹安琦突然倒地不起，随后被家人紧急送到沭阳县人民医院。由于血红蛋白过低，但又查不出病因，赵芹为曹安琦输了300毫升血，之后，曹安琦醒了过来。春节刚过，夫妻俩便带着曹安琦前往苏州大学附属儿童医院求医，还未检查，医生的一句话让赵芹从头凉到脚。医生说：“这孩子不会是地中海贫血症吧。”<br>
　　医生解释说，患有地中海贫血症的孩子后脑勺很大，脸色很黄，而曹安琦恰恰就是这种样子。早已对地中海贫血症有所耳闻的赵芹听闻此言，几乎当场晕倒。地中海贫血症是一种非常复杂的贫血症，目前除了做异常基因骨髓移植或造血干细胞移植，否则无法治愈。<br>
　　3月9日，医院的检验报告出来了，结论一栏赫然写着“地中海贫血症，建议骨髓移植”一行字。心中的担忧变成了现实，赵芹在医院哭了几个小时。医生说，曹安琦的地中海贫血症非常严重，需要赶快做骨髓移植，不然曹安琦的情况不堪设想。为曹安琦治疗的费用大约需要三四十万，医生建议赵芹回家准备，尽快手术。
</DIV></DIV>
<DIV class="title3 bgw"><IMG src="//statics.05273.cn/statics/images/anqi/zhuanti/title2.jpg" 
width=871 height=45></DIV>
<DIV class="douyu m0 bgw f0">
<DIV class=douyu_LEFT>&nbsp;&nbsp;&nbsp;&nbsp;姐姐：“只要能救弟弟的命，我愿做骨髓移植”<BR>
　　治疗曹安琦的地中海贫血症，最重要的是骨髓配型，而骨髓配型成功率最高的是直系亲属。本来，赵芹和曹红军都想为儿子骨髓配型，以便于骨髓移植，但他们两人身体状况较差，配型成功率较低。从苏州回到家中，赵芹把骨髓移植的事情告诉了大女儿曹明威，还没等赵芹说完，懂事的大女儿就表示：“只要能救弟弟的命，我愿意做骨髓移植。”这句话，让赵芹至今想起来仍哽咽不止。<BR>
　　曹明威今年只有17岁，这本是一个如花似玉的年纪，她却从来没享受过阳光的生活。由于家境艰难，曹明威年幼时便帮着母亲赵芹忙里忙外。小学毕业时，曹明威退了学。从此以后，她就像个大人帮着父母支撑这个不幸的家。弟弟生病期间，她独自在家中照顾上学的妹妹。弟弟回到家中，她每天想办法哄弟弟开心。漂亮活泼的弟弟不仅是父母的心头肉，也是曹明威心中不可割舍的一部分。<BR>
　　曹明威说，她现在最大的愿望就是弟弟能好起来，为了这个愿望，她做什么都愿意。
</DIV></DIV>


<DIV class="title bgw"><IMG src="//statics.05273.cn/statics/images/anqi/zhuanti/title3.jpg" width=1000 height=45></DIV>
<DIV id=part4>
<DIV class="m0  f0">
&nbsp;&nbsp;&nbsp;&nbsp;父母：“为救儿子，砸锅卖铁要饭我们都乐意”<br>
&nbsp;&nbsp;&nbsp;&nbsp;最近几天，曹红军一直不在家中。为了儿子，他四处借债，现在又到打工的常州去找熟人碰运气。在给赵芹的短信中，曹红军几次提到“腰痛”，这让赵芹非常担忧。<br>
&nbsp;&nbsp;&nbsp;&nbsp;原来十几年前，在湖北打工的曹红军出了场车祸，车主逃逸，曹红军的腰部则断了两根骨头。迫于昂贵的治疗费，曹红军没有住院治疗，而是选择回家静养。至今，曹红军的腰部仍时常疼痛，不能从事重体力活。之前，曹红军在常州一家停车场打工，每月工资一千多元，支撑着一家五口人的生活。如今，面对数十万元的治疗费用，曹红军没有退缩。为救儿子，曹红军和赵芹什么都不要了。“砸锅卖铁要饭都可以。”赵芹说。<br>
&nbsp;&nbsp;&nbsp;&nbsp;目前，曹安琦经常需要输血治疗，以往赵芹带着儿子在医院血库输血，现在她每次请求医生将她的血输给儿子，以期减少支出。为了凑够曹安琦的治疗费，这几天，曹家没有吃过一顿像样的饭。即便借遍了所有亲戚朋友，曹安琦的治疗费用仍缺少20多万。<br>
&nbsp;&nbsp;&nbsp;&nbsp;这20多万从何而来？没有这20多万如何救儿子？赵芹不敢想。因为她每当想到这里，便会不自主地流下泪来。

</DIV></DIV>
<DIV style="MARGIN: 0px auto; WIDTH: 1000px">
  {if module_exists('comment')}  
    <iframe src="{APP_PATH}index.php?app=comment&controller=index&view=init&commentid={id_encode("special",$id,$siteid)}&iframe=1" width="100%" height="40%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
	  {/if}
</DIV>
<DIV class="m0  f0"><DIV id=menu>我们倡议：为小安琦，奉献我们一点绵薄之力，帮他度过此次难关</DIV></DIV>
</DIV></DIV><!--公共底部-->
{template 'special', 'footeranqi'}
