<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>决战谣言-沭阳网</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="打击网络谣言,谣言专题报道,沭阳辟谣,沭阳谣言,决战谣言">
<meta name="description" content="网络舆情失真问题，特别是网络谣言问题日益突出，影响社会群体心态、侵蚀社会主流价值观、激化社会矛盾，不利于维持社会和谐稳定。决战谣言，有效治理网络谣言，正确引导意识形态主流，是一个必须解决好的现实课题">
<meta name="Author" contect="EDI">
<link href="https://statics.05273.cn/zhuanti/css/globle.css" rel="stylesheet" type="text/css" />
<link href="https://statics.05273.cn/zhuanti/css/css.css" rel="stylesheet" type="text/css" />
<script src="//statics.05273.cn/zhuanti/js/jquery.js" type="text/javascript"></script>
<script src="//statics.05273.cn/zhuanti/js/slides.min.jquery.js" type="text/javascript"></script>
</head>
<body>
<div id="header">
	<div class="box"></div>
</div>
<div id="nav">
	<p>
    	<a href="javascript:void(0);">有高度的安全意识</a>
        <a href="javascript:void(0);">有文明的网络素养</a>
        <a href="javascript:void(0);">有守法的行为习惯</a>
        <a href="javascript:void(0);">有必备的防护技能</a>
    </p>
</div>
<div class="blank40"></div><div class="blank40"></div>
<div id="content">
    
    <div class="blank50"></div>
    
    <div id="layoutl">
    	<div class="title"><a href="https://www.05273.cn/special/yaoyan/" target="_blank">&gt;&gt;返回专题</a></div>
        <ul>
        {edi:special  action="content_list" specialid="$specialid" typeid="$typeid" listorder="1" page="$page" num="10"}
        {loop $data $r}
        	<li>
            	<h5><a href="{$r['url']}" target="_blank">{$r['title']}</a></h5>
                <p>{$r['description']}</p>
            </li>
        {/loop}
        
        {/edi}
            <div class="clear"></div>
        </ul>
        <div id="pages" class="text-c">{$pages}</div>
    </div>
    
    <div class="blank40"></div><div class="blank5"></div>
    
    <div id="layout7">
    	<div class="title"><img src="//statics.05273.cn/zhuanti/images/ly7-title.png" alt="争当沭阳好网民" /></div>
        <div class="pl">
              </div>
    </div>

    
</div>

<div id="footer">
	<p><a href="https://www.05273.cn/about/aboutus/" target="_blank">关于我们</a> |  <a href="https://www.05273.cn/about/contactus/" target="_blank">联系方式</a> |  <a href="https://www.05273.cn/about/copyright/" target="_blank">版权声明</a> |  <a href="https://www.05273.cn/about/adsen/" target="_blank">广告投放</a> |  <a href="https://www.05273.cn/about/product/" target="_blank">产品与服务</a> |  <a href="https://www.05273.cn/about/partners/" target="_blank">合作伙伴</a> |  <a href="https://www.05273.cn/about/weixin/" target="_blank">微信平台</a> |  <a href="https://www.05273.cn/about/job/" target="_blank">诚聘英才</a> |  <a href="https://www.05273.cn/links.shtml" target="_blank">友情链接</a>
|  <a href="https://www.05273.cn/sitemap.html" target="_blank">网站地图</a>
|  <a href="https://www.05273.cn/rss/" target="_blank">RSS订阅</a>
 </p>
    <p>Copyright (C) 2007-2019 05273.cn. All Rights Reserved</p>
    <p>电信与信息服务业务经营许可证编号： 苏ICP备18031647号-1 <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32132202000115" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//statics.05273.cn/images/gab.png" style="float:left;"/>苏公网安备 32132202000115号</a>
</p>
</div>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>