<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<script type="text/javascript">
			if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
			  if(window.location.href.indexOf("?mobile")<0){
				try{
				  if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
					window.location.href="https://wap.zhikunet.org/";
				  }else if(/iPad/i.test(navigator.userAgent)){
					window.location.href="https://mip.zhikunet.org/"
				  }else{
					window.location.href="https://wap.zhikunet.org/"
				  }
				}catch(e){}
			  }
			}
		</script>
        <meta name="description" content="{$SEO['description']}">
        <meta name="keywords" content="{$SEO['keyword']}">
		<script src="{CSS_PATH}2019style/js/jquery.school.js"></script>
		<script src="{CSS_PATH}2019style/js/interview.school.js"></script>
		  <link rel="stylesheet" href="{CSS_PATH}2019style/css/float.css" /> 
		  <link rel="stylesheet" href="{CSS_PATH}2019style/css/index-layout.css" /> 
		<script type="text/javascript" src="{CSS_PATH}2019style/js/index.school.js"></script>
 </head> 
