<li class="topnav-myali extra">
	            <div class="nav-title">
	              <a rel="nofollow" class="nav-arrow" href="//work.1688.com/" title="我的阿里" data-trace="cn_alibar_myali" target="_blank">我的智库</a>
	            </div>
	            <div class="nav-content" style="width:380px">
	              <dl>
	                <dt>
	                  <a rel="nofollow" href="//work.1688.com/#nav/wholesale/wholesale" title="课程" data-trace="cn_alibar_myali_pfjh">我的课程</a>
	                </dt>
	                <dd>
	                  <a rel="nofollow" href="//work.1688.com/app/buyList.htm" title="在职博士课程" data-trace="cn_alibar_myali_bought">博士</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="https://marketing.1688.com/coupon/buyer_coupon_list.htm" title="在职硕士课程" data-trace="cn_alibar_myali_yhq">硕士</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="//i.crm.1688.com/" title="课程优惠券" data-trace="cn_alibar_myali_dpdt">研修班</a>
	                </dd>
	              </dl>
	              <dl>
	                <dt>
	                  <a rel="nofollow" href="https://work.1688.com/#nav/purchase/purchase" title="硕士课程" data-trace="cn_alibar_myali_sccg">我的订单</a>
	                </dt>
	                <dd>
	                  <a rel="nofollow" href="https://caigou.1688.com/" title="全部课程订单" data-trace="cn_alibar_myali_qcgsc">全部订单</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="https://go.1688.com/buyoffer/post_buy_offer.htm" title="待付款课程" data-trace="cn_alibar_myali_fbxjd">待付款</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="https://go.1688.com/bidding/post/post_bidding_invitation.htm" title="课程交易成功" data-trace="cn_alibar_myali_fbzbd">交易成功</a>
	                </dd>
	               
	              </dl>
	              <dl>
	                <dt>
	                  <a rel="nofollow" href="//work.1688.com/home/newIndex.html#nav/sale/sale" title="关于我" data-trace="cn_alibar_myali_xs">关于我</a>
	                </dt>
	                <dd>
	                  <a rel="nofollow" href="//work.1688.com/app/saleList.htm" title="个人设置" data-trace="cn_alibar_myali_sold">个人设置</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="//work.1688.com/app/orderPost.htm" title="我的钱包" data-trace="cn_alibar_myali_offer_post">我的钱包</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="https://work.1688.com/app/orderManage.htm" title="我的优惠券" data-trace="cn_alibar_myali_offer_manage">我的优惠券</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" href="//apps.1688.com/page/freewinportopen.htm" title="邀请有奖" data-trace="cn_alibar_myali_winport">邀请有奖</a>
	                </dd>
	              </dl>
	              
	            </div>
	          </li>
		  
	         
	          <li class="topnav-favorite extra">
	            <div class="nav-title">
	              <a class="nav-arrow" href="//purchase.1688.com/favorites/favorite_shop.htm?tracelog=alibar_2_favorite_shop" title="收藏夹" data-trace="cn_alibar_myali_fav" target="_blank"><span>&nbsp;</span>收藏夹</a>
	            </div>
	            <div class="nav-content">
	              <dl>
	                <dd>
	                  <a rel="nofollow" class="favorite-offer" href="//purchase.1688.com/favorites/favorite_offer.htm?tracelog=alibar_2_favorite_offer" title="收藏的课程">收藏的课程</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" class="favorite-seller" href="//purchase.1688.com/favorites/favorite_shop.htm?tracelog=alibar_2_favorite_shop" title="收藏的专业">收藏的专业</a>
	                </dd>
	                <dd>
	                  <a rel="nofollow" class="dealed-seller" href="//purchase.1688.com/favorites/trade_shop.htm?tracelog=alibar_2_trade_shop" title="收藏的院校">收藏的院校</a>
	                </dd>
	              </dl>
	            </div>
	          </li>