{template "content","header"}
{template "content","header_top"}
{template "content","header_logo"}
{template "content","header_nav"}
  <!--正文start--> 
  <div class="index-main-content"> 
   <!--热门推荐start--> 
   <div class="Hme_top">
    <span>热门推荐：</span> 
   {ssi "/caches/posid/1.html"}
   </div> 
   <div class="pic-bannerA clearfix"> 
    <div class="pic-bannerA clearfix">
     <a rel="nofollow" href="http://g.wan.2345.com/s/1/1258/303.html?frm=rjdq-yxxz-dbtl" title="" target="_blank" onclick="tj('h_ad1', '')"><img src="https://img1.2345.com/duoteimg/dtnew_recom_img/201805/20180529184212_65349.gif" alt="" width="590" height="80" /></a>
     <a rel="nofollow" href="http://www.2345download.com/2345explorer/2345Explorer_duote.exe" title="" target="_blank" onclick="tj('h_ad2', '')"><img src="https://img1.2345.com/duoteimg/dtnew_recom_img/201903/20190319154249_50033.png" alt="" width="590" height="80" /></a>
    </div>
    <style type="text/css">.pic-bannerA{font-size: 0;width:1190px;margin:0 auto 10px;}.pic-bannerA a{float: left;}.pic-bannerA a+a{margin-left: 10px;}</style> 
   </div> 
  </div> 
  <!--show-end--->
	<!--面包屑-->
	<div class="crumbs">
        <a href="{APP_PATH}">智库网</a>&nbsp;&gt;&nbsp;{catpos($catid)}
    </div>
	<!---content-star-->
	<div class="content cont2"> 
        
        <div class="A_activle"> 
            
            <div class="A_actext">
                <script type="text/javascript"> 

                    $(function(){
                        $("#tk-hal").val($('.A_actext').innerHeight());
                        //浮动的
                        function fix(){
                            var actall = $('.A_actext').innerHeight();   //文章总高度
                            var actle = $('#ew').innerHeight();       //左侧悬浮高度
                            var wintop = $(window).scrollTop();
                            var tkh = $("#tk-hed").val();
                            if(wintop>tkh && wintop<=actall){
                                $("#tk-hed").val(wintop);
                                $("#tk-ted").val(Date.parse(new Date())/1000);
                            }
                            
                            var atop = $('.A_conpsg').offset().top
                            var actp = 80+wintop;
                            if(actp >= actall-actle){
                                $('#ew').css({'top':actall-actle-80+"px"})
                            }else{
                                $('#ew').css({'top':actp+"px"})    
                            }

                            if(wintop <= atop-90){
                                $('.A_tjlist').css({'top':-19+"px"})
                            }else{
                                $('.A_tjlist').css({'top':wintop-atop+90+"px"})    
                            }
                        }

                        $(window).scroll(function(){
                            fix();
                        })
                        $(window).on('beforeunload',function(){
                            var d = {'a':'unload'};
                            d['id'] = $("#obj-id").val();
                            d['t1'] = $('#tk-tst').val();
                            d['t2'] = $("#tk-ted").val();
                            d['h1'] = $("#tk-hed").val();
                            d['h2'] = $("#tk-hal").val();
                            ctk.track_get(d);
                        });
                        $('.playfen').on('click',function(){
                            $('.playboxng').show()
                        })
                        $('.cuong , .oveg').on('click',function(){
                            $('.playboxng').hide()
                        })
                    })

                </script>
                                <div class="bdsharebuttonbox bdshare-button-style0-32" id="ew" data-bd-bind="1561220683359" style="top: 80px;">分享到
                    <input type="hidden" value="" name="phashs">
                    <a href="javascript:;" class="bds_weixin" data-cmd="weixin" data-id="1037184" title="分享到微信"><span class="shareredpackage" style="display: none">￥</span></a>
                    <a href="javascript:;" rel="nofollow" class="bds_tsina" data-cmd="tsina" data-id="1037184" data-pic="" data-title="" title="分享到新浪微博"><span class="shareredpackage" style="display: none">￥</span></a>
                    <a href="javascript:;" rel="nofollow" class="bds_sqq" data-cmd="sqq" data-id="1037184" data-pic="" data-title="" title="分享到QQ好友"><span class="shareredpackage" style="display: none">￥</span></a>
                                    </div>
              
                <div class="A_ctes"> 
                    <h1>{$title}</h1>
                    <p class="A_pon1">
                        <span>在职研门户网</span>
						<em>时间：10-09 10:24</em>
                        <em class="A_em1">阅读：21625次</em>

                        <em>来源：<a href="{APP_PATH}">智库网</a></em>
                    </p>
                   <div class="A_contxt"> 
                        {$content}
						
                        <a href="javascript:;" id="media" style="opacity: 0;"></a>
                    </div>

                    <!--=====创语录=======-->
                    <div class="A_textbom"> 
                        
                       <div class="A_linebn "> 
                            <span id="fav" onclick="favorite(this,1037184)" data="0"></span>
                         <div>
                     </div>
                    
                        </div>
                        <script type="text/javascript">
                            // 收藏 / 取消收藏
                            function favorite(em,id){
                                if($("#comment_login").val()=='' ){
                                    show_login();
                                    return false;
                                }
                                //var fav_count = parseInt($(em).html());
                                type=$(em).attr("data");
                                $.get("/ajax_new/ajax_action.php?action=favorite", {
                                    id: id,type:type
                                }, function(data) {
                                    if (data.is_error==0) {
                                        if(type == '0'){
                                            $(em).addClass("redx");
                                            $(em).attr("data","1");
                                        }else{
                                            $(em).removeClass("redx");
                                            $(em).attr("data","0");
                                        }
                                    }else {
                                        tips(data.msg);
                                        return false;
                                    }
                                },'json');
                            }


                        </script>

                    </div>
                    
                 </div>

            </div>
          
        </div>
        
        
        <div class="A_activrig">
                        <!--======24小时热文======-->
             
            <div class="hotdoc">
                <h4 class="hotArticle">24小时热文</h4>
                <ul class="hotdoclist white">
                    {edi:get sql="SELECT a.title, a.catid, b.catid, b.catname,a.url as turl ,b.url as curl, a.id FROM `v9_news` a, `v9_category`b WHERE a.catid = b.catid ORDER BY `a`.`id` DESC " num="12"cache="300"}
					{loop $data $r}
                     <li class="clearFix">
                        <mark class="Top{$n}">{$n}</mark>
                        <div>
                            <h4><a target="_blank" href="{$r[url]}">{$r[title]}</a></h4>
                            <p>{$r[catname]}</p>
                        </div>
                    </li>
                    {/loop}
			　　{/edi}      
                                    
                </ul>
            </div>
            
            <!--=====创语录=======-->
                        <div class="NCquotation white" id="J_index_right5">
                <h2 class="title">在职·研</h2>
                <div class="NCtop">
                    <a target="_blank" onclick="ctk.track_click('y;235583;rq;0;0')" href="/yulu/235583">
                        <p>为企业站台，是干部的责任和义务。</p>
                        <h6>青岛市委书记王清宪</h6>
                        <div class="NCfutitle">6月21日上午在千企助力青岛（半岛）发展行开幕式上致辞指出，市场机制的主体是企业，干部为企业站台，代表党和政府的态度和信用，要站在企业角度换位思考，做到既“亲”又“清”，既“清”又“亲”。</div>
                    </a>
                </div>
                <div class="NCbottom">
                    <a target="_blank" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fwww.ctoutiao.com%2Fyulu%2F235583&amp;title=为企业站台，是干部的责任和义务。——青岛市委书记王清宪，6月21日上午在千企助力青岛（半岛）发展行开幕式上致辞指出，市场机制的主体是企业，干部为企业站台，代表党和政府的态度和信用，要站在企业角度换位思考，做到既“亲”又“清”，既“清”又“亲”。（分享自@创头条）&amp;appkey=3252254407&amp;pic=&amp;searchPic=false" class="Cyl_weibo"><div class="NCweibo"><span class="weiboIcon"></span><span class="weiboName"></span></div></a>
                    <div class="NCweixin">
                        <span class="weixinIcon"></span>
                        <span class="weixinName"></span>
                        <div class="erweima"><img src="/api/qrcode.php?text=http%3A%2F%2Fwww.ctoutiao.com%2Fyulu%2F235583" alt="青岛市委书记王清宪"><div></div></div>
                    </div>
                    <div class="NCdianzan"><span class="dianzanIcon " data-id="235583" onclick="dianzan(this)" data-type="1"></span><span class="dianzanNumber">63</span><span class="tishi"><span></span>您已经赞过了</span></div>
                </div>
            </div>
        </div>        
    </div>
	<!---content-end----->
  <!--show-end---> 
{template "content","footer"}