<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML lang=zh-CN xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>沭阳网RSS订阅中心</title>
<meta content="text/html; charset=utf-8" http-equiv=content-type>
<meta content=zh-cn http-equiv=content-language>
<meta name=keywords content=沭阳网RSS,沭阳网RSS订阅中心,沭阳论坛网RSS,沭阳论坛网RSS订阅中心>
<meta name=description content=沭阳网RSS订阅中心,沭阳论坛网RSS订阅中心>
<meta name=author content=05273.cn>
<meta name=copyright content=05273.cn>
<link rel=stylesheet type=text/css href="https://statics.05273.cn/images/rss/style.css">
<link rel=stylesheet type=text/css href="https://statics.05273.cn/images/rss/rss.css">
</head>
<body>
<div class=topnav>
	<h1 class="logo"><a href="https://www.05273.cn/" title="沭阳网"><img src="//statics.05273.cn/images/list/news.png" width="69" height="22" alt="沭阳网" /></a></h1>
<h2 class=cdgray><a title=沭阳网首页 href="https://www.05273.cn/">首页</a> | <a title=沭阳论坛 href="https://bbs.05273.cn/">沭阳论坛</a></h2></div>
<div class=channel>
<h2 id=channelname>新闻频道</h2></div><span class=blank20></span>
<div class=area>
<div class=conl>
<dl id=rssnavs class=rssnavlist>
  <dt>频道列表： </dt>
  <dd id=news class=on><a title="沭阳新闻">沭阳新闻</a> </dd>
  <dd id=bbs><a title="沭阳论坛">沭阳论坛</a> </dd>
<dd id=daodu><a title="国内资讯导读">资讯导读</a> </dd></dl>
<div class=coltil>
<h2 class=til>什么是RSS？</h2></div><span class=blank12></span>
<p class="atxt cdgray tindent">RSS是站点用来和其他站点之间共享内容的简易方式（也叫聚合内容）。RSS使用xml作为彼此共享内容的标准方式。它代表了really simple syndication（或rdf site summary，rdf站点摘要）。 它能让别人很容易的发现你已经更新了你的站点， 并让人们很容易的追踪他们阅读的 所有weblogs。</p></div>
<div id=newslist class="conr tab">
<div id=newslist_news class="normal on"><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="热点新闻" href="https://www.05273.cn/news/rd/">热点新闻</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_21.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="21" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span 
class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="县内新闻" href="https://www.05273.cn/news/xn/">县内新闻</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_22.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="22" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="部门动态" href="https://www.05273.cn/news/bm/">部门动态</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_23.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="23" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title=政府新闻 href="https://www.05273.cn/news/zf/">政府新闻</a></h2>
<span class=xml><a title=xml订阅 href="https://www.05273.cn/rss/rssid_24.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="24" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="社会新闻" href="https://www.05273.cn/news/sh/">社会新闻</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_26.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="26" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span 
class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="企业新闻" href="https://www.05273.cn/news/qy/">企业新闻</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_25.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="25" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank9></span></div>
<div id=newslist_bbs class=normal><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="论坛最新帖" href="https://bbs.05273.cn/">论坛最新贴</a></h2>
<span class=xml><a title="xml订阅" href="https://bbs.05273.cn/forum.php?mod=rss"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> 
</div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:get sql="select * from pre_forum_thread where displayorder >= 0 order by dateline desc" cache="3600" dbsource="shuyangbbs" return="data" num="25"}
{loop $data $n $r}
<li><span style="float:right">{date('m-d',$r[dateline])}</span><a href="https://bbs.05273.cn/thread-{$r['tid']}-1-1.html" target="_blank" title="{$r['subject']}">{$r[subject]}</a></li>
{/loop}
{/edi} 
</ul></div><span class=blank9></span></div>
<div id=newslist_daodu class=normal><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="江苏要闻" href="https://www.05273.cn/daodu/jiangsu/">江苏要闻</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_89.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="89" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="民生资讯" href="https://www.05273.cn/daodu/ms/">民生资讯</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_10.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="10" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="地方资讯" href="https://www.05273.cn/daodu/dif/">地方资讯</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_11.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="11" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="实用新闻" href="https://www.05273.cn/daodu/zy/">实用新闻</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_12.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="12" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="国内评论" href="https://www.05273.cn/daodu/sshi/">国内评论</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_13.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="13" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="社会万象" href="https://www.05273.cn/daodu/shehui/">社会万象</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_14.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="14" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="港澳台资讯" href="https://www.05273.cn/daodu/gao/">港澳台资讯</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_15.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="15" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div><span class=blank12></span>
<div class=coltil2>
<h2 class=cblue><a title="国际花边" href="https://www.05273.cn/daodu/guoji/">国际花边</a></h2>
<span class=xml><a title="xml订阅" href="https://www.05273.cn/rss/rssid_3365.xml"><img src="//statics.05273.cn/images/rss/xml.gif" width=36 height=14></a></span> </div><span class=blank9></span>
<div class=tlist>
<ul>
{edi:content action="lists" catid="3365" order="id desc" thumb="" moreinfo=""  num="10"  cache="3600" }
{loop $data $n $r}
<li><a href="{$r['url']}" title="{$r['title']}">{$r['title']}</a></li>
{/loop}
{/edi}
</ul></div>
<span class=blank9></span></div></div></div>
<span class=blank9></span>
<span class=blank20></span>
<div class=area>
<div class=coltil>
<h2 class=til>RSS在线阅读器</h2></div>
<div class=plist><span class=blank20></span>
<ul>
  <li><a href="http://reader.yodao.com/"><img src="//statics.05273.cn/images/rss/yd_readerlogo.gif" width=125 height=40></a> </li>
  <li><a href="http://reader.google.com/"><img src="//statics.05273.cn/images/rss/google.gif" width=125 height=40></a> </li>
  <li><a href="http://my.yahoo.com/"><img src="//statics.05273.cn/images/rss/yahoo.gif" width=125 height=40></a> </li>
  <li><a href="http://www.zhuaxia.com/"><img src="//statics.05273.cn/images/rss/zhuaxia.gif" width=125 height=40></a> </li>
  <li><a href="http://www.xianguo.com/"><img src="//statics.05273.cn/images/rss/xianguo.gif" width=125 height=40></a> </li>
  <li><a href="http://www.bloglines.com/"><img src="//statics.05273.cn/images/rss/bloglines.gif" width=125 height=40></a> </li></ul>
  <span class=blank20></span>
<ul>
  <li><a href="http://my.msn.com/"><img src="//statics.05273.cn/images/rss/msn.gif" width=125 height=40></a> </li>
  <li><a href="http://www.newsgator.com/"><img src="//statics.05273.cn/images/rss/newsgator.gif" width=125 height=40></a> 
</li></ul></div></div>
<script language=javascript type=text/javascript charset=gb2312 src="//statics.05273.cn/images/rss/ntes_jslib_1.x.js"></script>
<script type=text/javascript>
//<![cdata[
(function() {
var nav = $('#rssnavs');
var navs = $('dd',$(nav));
var lists = $('#newslist');
var cltime;
for(var i=0,len=navs.length;i<len;i++){
	$(navs[i]).addEvent("mouseover",function(num){
		cltime = setTimeout(function(){
			nav.$('dd.on').removeCss("on");
			$(this).addCss("on");
			lists.$("div.normal").removeCss("on");
			try{ $('#newslist_'+$(this).attr("id")).addCss("on"); }catch(e){};
			$("#channelname").innerHTML = $('a',$(this)).attr("title") + "频道";
		}.bind(this),130);
	
	}.bind($(navs[i]),i));
	$(navs[i]).addEvent("mouseout",function(e){
		clearTimeout(cltime);
	});
}
})();
//]]>
</script>
<div class=footbg>
<script language=javascript type=text/javascript> 
//<![cdata[
function openwindow(url) {
window.open(url, "newwindow", "width=965,height=595,status=1,resizable=1,scrollbars=0,toolbar=0,menubar=0,titlebar=0,directories=0");
}
//]]>
</script>
<div class=foot>
<a href="javascript:window.external.addfavorite('https://www.05273.cn','沭阳网_沭阳最大的资讯门户网站');">加入收藏</a> - <a onclick="this.style.behavior='url(#default#homepage)';this.sethomepage('//www.05273.cn/')" 
href="javascript:;">设为首页</a><br>沭阳网版权所有</div></div>
<script src="//www.05273.cn/core/stats/67/" type="text/javascript"></script>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body></html>
