<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <title> 阿里巴巴商人社区-生意经-精心打造的小企业商业实战知识平台-1688.com </title> 
  <meta name="description" content=" 阿里巴巴生意经，是阿里巴巴打造的专业商业知识库，这里包含了常见的商业问题，你也可以找到众多问题的答案，同时我们还会有许多专家共同解决你的问题 " /> 
  <meta name="keywords" content=" 生意经，商业百科，商业求助，商业解答，商业知识，商业问题，商业技巧，生意求助，生意问答，生意专家，生意问题，生意知识，生意技巧，生意百科 " /> 
<script src="js/jquery.school.js"></script>
<script src="js/interview.school.js"></script>
  <link rel="stylesheet" href="css/float.css" /> 
  <link rel="stylesheet" href="css/index-layout.css" /> 
<script type="text/javascript" src="js/index.school.js"></script>
<script src="./js/jquery.SuperSlide.2.1.1.js"></script>

 </head> 
 <body> 
  <div class="fd-clr"> 
   <div id="alibar-v4"> 
    <div class="alibar-container adapt-201486"> 
     <div class="mobile"> 
      <a href="//3g.1688.com/?tracelog=wireless_alibar">手机版</a> 
     </div> 
     <div class="account-sign-status"> 
      <ul> 
       <li class="account-welcome vipInfoBox"> 
        <div class="nav-title"> 
         <span class="account-id"> 欢迎来到阿里巴巴 </span> 
        </div> 
        <div class="nav-content"></div> </li> 
       <li class="account-signin"> <a rel="nofollow" href="https://login.1688.com/member/signin.htm?Done=https://my.1688.com/" title="请登录" data-trace="cn_alibar_login" target="_self">请登录</a> </li> 
       <li class="account-signup"> <a rel="nofollow" href="//member.1688.com/member/join/enterprise_join.htm" title="免费注册" data-trace="cn_alibar_reg" target="_blank">免费注册</a> </li> 
      </ul> 
     </div> 
     <div class="topnav"> 
      <ul> 
       <li class="list-first"> 
        <div class="nav-title"> 
         <a href="//www.1688.com/" title="阿里巴巴首页" data-trace="cn_alibar_home" target="_blank">1688首页</a> 
        </div> </li> 
       <li class="topnav-myali extra"> 
        <div class="nav-title"> 
         <a rel="nofollow" class="nav-arrow" href="//work.1688.com/" title="我的阿里" data-trace="cn_alibar_myali" target="_blank">我的阿里</a> 
        </div> 
        <div class="nav-content" style="width:380px"> 
         <dl> 
          <dt> 
           <a rel="nofollow" href="//work.1688.com/#nav/wholesale/wholesale" title="批发进货" data-trace="cn_alibar_myali_pfjh">批发进货</a> 
          </dt> 
          <dd> 
           <a rel="nofollow" href="//work.1688.com/app/buyList.htm" title="已买到货品" data-trace="cn_alibar_myali_bought">已买到货品</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="https://marketing.1688.com/coupon/buyer_coupon_list.htm" title="优惠券" data-trace="cn_alibar_myali_yhq">优惠券</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//i.crm.1688.com/" title="店铺动态" data-trace="cn_alibar_myali_dpdt">店铺动态</a> 
          </dd> 
         </dl> 
         <dl> 
          <dt> 
           <a rel="nofollow" href="https://work.1688.com/#nav/purchase/purchase" title="生产采购" data-trace="cn_alibar_myali_sccg">生产采购</a> 
          </dt> 
          <dd> 
           <a rel="nofollow" href="https://caigou.1688.com/" title="去采购商城" data-trace="cn_alibar_myali_qcgsc">去采购商城</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="https://go.1688.com/buyoffer/post_buy_offer.htm" title="发布询价单" data-trace="cn_alibar_myali_fbxjd">发布询价单</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="https://go.1688.com/bidding/post/post_bidding_invitation.htm" title="发布招标单" data-trace="cn_alibar_myali_fbzbd">发布招标单</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//go.1688.com/product/product_list.htm" title="管理产品目录" data-trace="cn_alibar_myali_glcpml">管理产品目录</a> 
          </dd> 
         </dl> 
         <dl> 
          <dt> 
           <a rel="nofollow" href="//work.1688.com/home/newIndex.html#nav/sale/sale" title="销售" data-trace="cn_alibar_myali_xs">销售</a> 
          </dt> 
          <dd> 
           <a rel="nofollow" href="//work.1688.com/app/saleList.htm" title="已卖出货品" data-trace="cn_alibar_myali_sold">已卖出货品</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//work.1688.com/app/orderPost.htm" title="发布供应产品" data-trace="cn_alibar_myali_offer_post">发布供应产品</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="https://work.1688.com/app/orderManage.htm" title="管理供应产品" data-trace="cn_alibar_myali_offer_manage">管理供应产品</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//apps.1688.com/page/freewinportopen.htm" title="管理旺铺" data-trace="cn_alibar_myali_winport">管理旺铺</a> 
          </dd> 
         </dl> 
         <dl> 
          <dt> 
           <a rel="nofollow" href="//work.1688.com/home/newIndex.html#nav/app" title="应用" data-trace="cn_alibar_myali_yy">应用</a> 
          </dt> 
          <dd> 
           <a rel="nofollow" href="//view.1688.com/cms/itbu/app/index.html" title="应用市场" data-trace="cn_alibar_myali_yysc">应用市场</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//yy.1688.com/" title="运营服务" data-trace="yyfw_from_syma">运营服务</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//56.1688.com/" title="物流服务" data-trace="cn_alibar_myali_wlfw">物流服务</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//hezuo.1688.com/" title="站点服务" data-trace="cn_alibar_myali_zdfw">站点服务</a> 
          </dd> 
         </dl> 
        </div> </li> 
       <li class="topnav-purchaselist extra topnav-purchaselist-empty"> 
        <div class="nav-title"> 
         <a rel="nofollow" class="nav-arrow" href="//cart.1688.com/cart.htm" title="进货单" data-trace="cn_alibar_cart" target="_blank"><span>&nbsp;</span>进货单(<em>0</em>)</a> 
        </div> 
        <div class="nav-content"> 
         <div class="product-list fd-clr"> 
          <p> 进货单中暂未添加任何货品 </p> 
         </div> 
         <div class="purchase-info fd-clr"> 
          <a class="btn-y" title="查看进货单" href="//cart.1688.com/cart.htm" target="_blank" data-trace="cn_alibar_purchaselist_list">查看进货单</a> 
         </div> 
        </div> </li> 
       <li class="topnav-favorite extra"> 
        <div class="nav-title"> 
         <a class="nav-arrow" href="//purchase.1688.com/favorites/favorite_shop.htm?tracelog=alibar_2_favorite_shop" title="收藏夹" data-trace="cn_alibar_myali_fav" target="_blank"><span>&nbsp;</span>收藏夹</a> 
        </div> 
        <div class="nav-content"> 
         <dl> 
          <dd> 
           <a rel="nofollow" class="favorite-offer" href="//purchase.1688.com/favorites/favorite_offer.htm?tracelog=alibar_2_favorite_offer" title="收藏的货品">收藏的货品</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" class="favorite-seller" href="//purchase.1688.com/favorites/favorite_shop.htm?tracelog=alibar_2_favorite_shop" title="收藏的供应商">收藏的供应商</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" class="dealed-seller" href="//purchase.1688.com/favorites/trade_shop.htm?tracelog=alibar_2_trade_shop" title="交易过的供应商">交易过的供应商</a> 
          </dd> 
         </dl> 
        </div> </li> 
       <li class="topnav-tp extra"> 
        <div class="nav-title"> 
         <a rel="nofollow" class="nav-arrow" href="//cxt.1688.com/" title="诚信通服务" data-trace="cn_alibar_cxt" target="_blank">诚信通服务</a> 
        </div> 
        <div class="nav-content"> 
         <dl> 
          <dd> 
           <a rel="nofollow" class="contact-us-new" href="//view.1688.com/cms/promotion/ppcall6188.html" title="免费联系我们" data-trace="top_alibar_cxt_contact" target="_blank">免费联系我们</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" class="privilege-experience" href="//cxt.1688.com/vip.html" title="特权体验馆" data-trace="top_alibar_cxt_vipexe" target="_blank">特权体验馆</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" class="newmember-application" href="//cxt.1688.com/register.html" title="新会员申请" data-trace="top_alibar_cxt_newmeber" target="_blank">新会员申请</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" class="oldmember-xufei" href="//cxt.1688.com/xufei.html" title="老会员续费" data-trace="top_alibar_cxt_oldmember" target="_blank">老会员续费</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" class="special-offer" href="//cxt.1688.com/pro.html" title="优惠活动" data-trace="top_alibar_cxt_coupon" target="_blank">优惠活动</a> 
          </dd> 
         </dl> 
        </div> </li> 
       <li class="topnav-wsgys extra"> 
        <div class="nav-title"> 
         <a class="nav-arrow" href="//gys.1688.com" title="我是供应商" data-trace="cn_alibar_supplier" target="_blank">我是供应商</a> 
        </div> 
        <div class="nav-content" style="width:86px"> 
         <dl> 
          <dd> 
           <a rel="nofollow" href="//gys.1688.com/skill.html" title="交易技巧" target="_blank">交易技巧</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//gys.1688.com/story.html" title="成功经验" target="_blank">成功经验</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//gys.1688.com/pro.html" title="热门活动" target="_blank">热门活动</a> 
          </dd> 
         </dl> 
        </div> </li> 
       <li class="topnav-kf extra"> 
        <div class="nav-title"> 
         <a class="nav-arrow" rel="nofollow" href="//114.1688.com/kf/index.html?tracelog=kf_2012_budian_shouyetongyi" title="客服中心" target="_blank">客服中心</a> 
        </div> 
        <div class="nav-content"> 
         <dl> 
          <dd> 
           <a rel="nofollow" href="//114.1688.com/newbie/index.htm?tracelog=kf_2012_budian_shouyetongyi1" title="新手入门" target="_blank">新手入门</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//114.1688.com/kf/question/mjbz.html?tracelog=kf_2012_budian_shouyetongyi2" title="买家帮助" target="_blank">买家帮助</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//114.1688.com/kf/aliwall.html?kf_2012_budian_shouyetongyi3" title="卖家帮助" target="_blank">卖家帮助</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//page.1688.com/html/help_pop.html" title="在线咨询" target="_blank">在线咨询</a> 
          </dd> 
          <dd> 
           <a rel="nofollow" href="//114.1688.com/kf/contact.html" title="联系客服" target="_blank">联系客服</a> 
          </dd> 
         </dl> 
        </div> </li> 
       <li class="topnav-sitemap extra new-sitemap"> 
        <div class="nav-title"> 
         <a class="nav-arrow" href="//114.1688.com/sitemap.html" title="网站导航" data-trace="cn_alibar_allservice" target="_blank">网站导航</a> 
        </div> <style>

	              #alibar #alibar-v4 .topnav-sitemap .zone .spacing {

	              margin: 0 12px !important;

	              }

	              #alibar #alibar-v4 .topnav-sitemap .zone .detail {

	              width: 352px !important;

	              }

	            </style> 
        <div class="nav-content" style="width:450px;"> 
         <div class="hangye-category"> 
          <dl class="zone fd-clr"> 
           <dt class="name">
            行业市场
           </dt> 
           <dd class="detail"> 
            <span><a rel="nofollow" href="//fuzhuang.1688.com/" title="服装内衣">服装内衣</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//fushi.1688.com/" title="鞋包配饰">鞋包配饰</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//sport.1688.com/" title="运动户外">运动户外</a></span> 
            <span><a rel="nofollow" href="//jd.1688.com/" title="机械汽摩">机械汽摩</a></span> 
            <span class="spacing"></span> 
           </dd> 
          </dl> 
          <dl class="dashedline"></dl> 
          <dl class="zone fd-clr"> 
           <dt class="name">
            特色市场
           </dt> 
           <dd class="detail"> 
            <span><a rel="nofollow" href="//ye.1688.com/" title="产业带">产业带</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="https://huopin.1688.com/" title="伙拼">伙拼</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//ding.1688.com/" title="新品快订">新品快订</a></span> 
           </dd> 
          </dl> 
          <dl class="dashedline"></dl> 
          <dl class="zone fd-clr"> 
           <dt class="name">
            采购平台
           </dt> 
           <dd class="detail"> 
            <span><a rel="nofollow" href="//caigou.1688.com/" title="采购商城">采购商城</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//mingqi.1688.com/" title="大企业采购">大企业采购</a></span> 
           </dd> 
          </dl> 
          <dl class="dashedline"></dl> 
          <dl class="zone fd-clr"> 
           <dt class="name">
            以商会友
           </dt> 
           <dd class="detail"> 
            <span><a rel="nofollow" href="//club.1688.com/" title="商友圈">商友圈</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//baike.1688.com/" title="生意经">生意经</a></span> 
           </dd> 
          </dl> 
          <dl class="dashedline"></dl> 
          <dl class="zone fd-clr"> 
           <dt class="name">
            常用工具
           </dt> 
           <dd class="detail"> 
            <span><a rel="nofollow" href="//wangwang.1688.com" data-trace="cn_alibar_allservice_alitalk" title="阿里旺旺">阿里旺旺</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//3g.1688.com/?tracelog=wireless_alibar" title="手机阿里">手机阿里</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//dk.aliloan.com/b2bapply/credit/apply.htm?lable=bmb_cn" title="阿里贷款">阿里贷款</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//56.1688.com/" title="阿里物流" data-trace="cn_alibar_allservice_56">阿里物流</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//view.1688.com/cms/shangji/sjzl.html" title="商机助理">商机助理</a></span> 
           </dd> 
          </dl> 
          <dl class="dashedline"></dl> 
          <dl class="zone fd-clr"> 
           <dt class="name">
            安全交易
           </dt> 
           <dd class="detail"> 
            <span><a rel="nofollow" href="//page.1688.com/buyerprotection/buyer.html" data-trace="cn_alibar_allservice_ buyerprotection" title="买家保障">买家保障</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//page.1688.com/trust/rztx.html" data-trace="cn_alibar_allservice_rztx" title="商家认证">商家认证</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//view.1688.com/cms/safe/xyzf/zwz/alipay/zfbyxy.html" data-trace="cn_alibar_allservice_alipay" title="支付宝">支付宝</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//rule.1688.com/? tracelog=aliguize_wzdh01" data-trace="cn_alibar_allservice_flag" title="阿里网规" data-spm-anchor-id="a260k.635.794253809.70">阿里网规</a></span> 
            <span class="spacing"></span> 
            <span><a rel="nofollow" href="//levit.1688.com/complain/cmtPost/selectPage.htm" data-trace="cn_alibar_allservice_flag" title="投诉举报">投诉举报</a></span> 
           </dd> 
          </dl> 
         </div> 
         <div class="more"> 
          <a rel="nofollow" class="moreBtn" href="//114.1688.com/sitemap.html">更多内容</a> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!--*****LOGO搜索框配置********--> 
  <!--搜索框--> 
  <div id="ali-masthead-v6"> 
   <div class="ali-masthead-container fd-clr"> 
    <div class="ali-logo"> 
     <div class="main-logo logo-custom"> 
      <a title="阿里巴巴" href="https://club.1688.com" class="main-logo-img"> <img alt="阿里巴巴" src="images/2029733_1671707078.png" /> </a> 
      <div class="main-logo-txt"> 
       <a class="main-logo-url" href="https://www.1688.com">— 1688旗下产品 —</a> 
      </div> 
     </div> 
     <div class="sub-logo"> 
      <div class="sub-logo-market"> 
       <a class="sub-logo-txt" href="https://baike.1688.com">生意经</a> 
      </div> 
     </div> 
    </div> 
    <div class="ali-search"> 
     <form action="https://s.1688.com/wiki/wiki_search.htm" autocomplete="off"> 
      <fieldset> 
       <div class="alisearch-container"> 
        <div class="alisearch-box"> 
         <div class="alisearch-type"> 
          <ul> 
           <li class="current" data-action="https://s.1688.com/wiki/wiki_search.htm" data-placeholder="输入信息关键词" data-type="club"> 生意经 </li> 
          </ul> 
         </div> 
         <div class="alisearch-keywords"> 
          <input class="empty" accesskey="s" autocomplete="off" maxlength="50" name="keywords" x-webkit-speech="" x-webkit-grammar="builtin:translate" /> 
          <input name="n" type="hidden" value="y" /> 
          <input name="from" type="hidden" value="baikeSearch" /> 
         </div> 
        </div> 
        <div class="alisearch-action"> 
         <button class="single" type="submit" data-header-trace="">ő</button> 
        </div> 
       </div> 
      </fieldset> 
     </form> 
    </div> 
   </div> 
  </div> 
  <!--导航 start--> 
  <div class="community-nav community-business"> 
   <div class="community-990"> 
    <div class="nav-box"> 
     <ul> 
      <li class="n-t-2"> <a href="https://baike.1688.com/" title="" target="_self" class=" current ">首页</a> </li> 
      <li class="n-t-4 t-2-4"> <a href="https://baike.1688.com/doc/list_all-0--.html" title="" target="_self" class="">问题大全</a> </li> 
      <li class="n-t-4 t-4-4"> <a href="https://baike.1688.com/doc/list_all--Y-.htm" title="" target="_self" class="">精品知识</a> </li> 
      <li class="n-t-4 t-4-4"> <a href="//baike.1688.com/doc/topics/indexDocTopic.html" title="" target="_self" class="ico new-ico">热门专题<sup style="color: red;font-style: italic;position:absolute;top:-10px;">hot!</sup></a> </li> 
      <li class="n-t-4 t-4-4"> <a href="https://baike.1688.com/doc/lzapply.html" title="" target="_self">领主申请</a> </li> 
      <li class="n-t-3 t-3-4"> <a href="https://baike.1688.com/doc/lzTeam.html" title="" target="_self" class="">领主团<sup style="color: yellow;font-style: italic;position:absolute;top:-10px;">new!</sup></a> </li> 
      <!--<li class="n-t-2 t-2-3">

            						<a href="https://view.1688.com/cms/baike/baike_help/index.html" title="" target="_self" class="">帮助</a>

            					</li>--> 
     </ul> 
     <span class="last-item"> <a href="https://club.1688.com" title="" target="_self" class="">去商友圈看看&nbsp;&nbsp;&gt;</a> </span> 
    </div> 
   </div> 
  </div> 
  <!--导航end--> 
  <!--正文start-->
  <div class="crumbs">
        <a href="/toutiao">内容</a>&nbsp;&gt;&nbsp;[创头条政策周报]
   </div>
   <div class="wrapper clearfix">
    <!-- box-left start-->
		   <div class="list left">
			<div class="new_article">
						<h2 class="new_article_title">2019年伦敦艺术大学服装设计专业申请条件 全球最优秀的艺术学府!</h2>
						<p class="new_article_p">
							<span>2019-06-11 18:01</span>
							<span>来源：IDP留学 </span>            
							<span>编辑：Beth</span>
							<span class="right">已有<em id="hits" style="color: #ff6600;"><!--显示点击次数--><script src="/plus/count.php?view=yes&amp;aid=141218&amp;mid=85" language="javascript"></script>6146</em>人阅读</span>
						</p>
						<div class="new_article_content"> 
								<div class="newpics"><a href="http://www.idp.cn/special/event/whyIDP/" target="_blank"><img src="/templets/default2/new/img/WHY-IDP660-120.jpg" alt="为什么选择IDP留学" title="为什么选择IDP留学"></a></div>
							<p>
					　　伦敦可以说是世界时装、设计、传播及信息的重要之地，<a href="http://schools.idp.cn/UAL/index.html" target="_blank">伦敦艺术大学</a>坐落于此，为学生们提供了丰富的艺术课程、大众传播等艺术类专业，自然吸引了一大批的艺术生前来求学，其中最受欢迎的就属服装设计专业，下面，小编就为大家公开<strong>伦敦艺术大学服装设计专业申请条件</strong>，希望对大家有所帮助：</p>
				<p style="text-align: center;">
					<img alt="伦敦艺术大学服装设计专业" src="/uploads/allimg/190611/85-1Z6111P120495.jpg" style="width: 560px; height: 541px;"></p>
				<h3 style="color:red;">
					<strong>　　一、伦敦艺术大学伦敦时装学院</strong></h3>
				<p>
					　　伦敦时装学院堪称国际时装教育界专业细分最全面的院校。这里开设里近百个服装设计领域的细分专业，专业包括从服装设计的基本工艺到服装生产管理;从服装的品牌管理到市场营销;从服装摄影到时装传媒;从时尚美妆到鞋类饰品设计应有尽有。它的课程在英国是独一无二的，甚至在世界上许多其它时装学院无法获得。（<a class="a_name" href="http://blog.idp.cn/case-3633.html" style="color: rgb(6, 161, 255); font-size: 14px; font-weight: bold;" target="_blank">*杨同学伦敦艺术大学工业设计成功案例</a>）</p>
				<p>
					　　课程：MA Costume Design for Performance服装设计与表演</p>
				<p>
					　　学制：15个月</p>
				<p>
					　　开学：9月</p>
				<p>
					　　雅思要求：IELTS level 6.5 with a minimum of 5.5 in reading, writing, listening and speaking.</p>
				<p>
					　　要求：个人陈述，essay，Study proposal，CV,推荐信，</p>
				<p>
					　　作品集(不超过30页，您认为这将有助于支持您的应用程序。请包括数码版本的图纸、已实现的设计、思辨设计、草图、过程、照片等。认真的标注和展示任何视觉作品，包括日期和标题)</p>
				<h3 style="color:red;">
					<strong>　　二、伦敦艺术大学中央圣马丁艺术与设计学院</strong></h3>
				<p>
					　　中央圣马丁艺术与设计学院是享誉世界的设计学院，是英国一所著名的艺术与设计学院，属于伦敦艺术大学的一部分，是世界四大设计学院之一。同时也是英国最大的艺术与设计学院，它作为盛产时装设计名师的名校而闻名国际时装界，它的时装设计专业的毕业生大多被Dior、Gucci等诸多国际时装品牌聘用。</p>
				<p>
					　　从60年代至今，中央圣马丁被认为是英国最好的艺术与设计学校，培养出许多知名的学生，包括约翰·加里亚诺(John Galliano)，亚历山大·麦克奎恩(Alexander McQueen)，保罗·史密斯(Paul Smith)等时装大师 ，英国新生代杰出的设计师更是数不胜数。</p>
				<p>
					　　课程：MA Fashion</p>
				<p>
					　　学制：1 year and 2 terms (45 weeks)</p>
				<p>
					　　开学时间：10月</p>
				<p>
					　　学费：Tuition fees for 2019/20: £17,880 for year one. Year two: to be confirmed (for 2018/19 it was £10,410) plus an inflationary increase.</p>
				<p>
					　　雅思：IELTS level 6.5 or above, with at least 5.5 in reading, writing, listening and speaking</p>
				<p>
					　　要求：提供不大于30页的作品集，当年4-7月份会安排面试，</p>
				<p>
					　　学费: £19,930</p>
				<p>
					　　综上所述，以上讲的就是关于伦敦艺术大学服装设计专业申请条件的相关问题介绍，希望能给各位赴英留学的学子们指点迷津。近年来，赴英留学一直是广大学生最热门的话题，同时，很多学生对于签证的办理、院校的选择、就业的前景、学习的费用等诸多问题困扰不断，别担心，IDP留学专家可以为你排忧解难，同时，更多关于赴英留学的相关资讯在等着你，绝对让你“浏览”忘返。在此，衷心祝愿各位学子们能够顺利奔赴自己心目中理想的学校并且学业有成!</p>

							<div class="new_article_paging">
							<ul>
							
							</ul>
							</div>
						</div>	
					</div>
					<div class="con_background">
						<!--轮播 begin-->
				<div class="success_carousel js_consultant_1">
					<div class="hd">
						<a class="next"></a>
						<ul><li class="">1</li><li class="on">2</li><li class="">3</li></ul>
						<a class="prev"></a>
					</div>
					<div class="bd">
						<div class="tempWrap" style="overflow:hidden; position:relative; width:660px"><ul class="picList clearfix" style="width: 2580px; left: -575.412px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
							<li style="float: left; width: 860px;">
								<a href="http://www.idp.cn/special/event/20180523UK/" target="_blank">
									<img src="./images/uk1.jpg" alt="IDP英国硕士留学申请全攻略" title="IDP英国硕士留学申请全攻略">
								</a>
							</li>
							<li style="float: left; width: 860px;">
								<a href="http://www.idp.cn/special/event/20180228UKlowage/" target="_blank">
									<img src="./images/uk2.jpg" alt="英国中小学留学定制方案 专属方案只为你" title="英国中小学留学定制方案 专属方案只为你">
								</a>
							</li>
							<li style="float: left; width:860px;">
								<a href="http://www.idp.cn/special/event/20180416UK/" target="_blank">
									<img src="./images/uk3.jpg" alt="英国中小学留学定制方案 专属方案只为你" title="英国中小学留学定制方案 专属方案只为你">
								</a>
							</li>
						
						</ul></div>
					</div>
				</div>
				<script>
					$(".js_consultant_1").slide({
						titCell: ".hd ul",
						mainCell: ".bd ul",
						autoPage: true,
						effect: "left",
						autoPlay: true,
						vis: 1,
						trigger: "click"
					});
				</script>
				<!--轮播end-->

				</div>
				<div class="art_from">
        <p class="form_tit">抢先名校申请规划，首席专家免费定制专属方案，预约一对一咨询</p>
        <div class="form_div">
            <form id="form_pinggu" method="post" action="/plus/diy.php">
                <input type="hidden" value="post" name="action">
                <input type="hidden" value="107" name="diyid">
                <input type="hidden" value="2" name="do">        
                <ul id="idp_znpg" class="clearfix">
                    <li class="left form_li form_name" style="position:relative; z-index:20001;"><input type="text" class="validate[required,maxSize[20]]" name="xingming" value="姓名" id="name" onblur="if(!value){value=defaultValue;}" onfocus="if(this.value==defaultValue){this.value='';}"></li>
                    <li class="right form_li form_country" style="position: relative; z-index: 20000; border-color: rgb(227, 228, 232);">
                        <div class="divselect1">
                            <div>意向国家</div>
                            <ul style="display: none;">
                                <li><a href="javascript:;" selectid="1">澳洲</a></li>
                                <li><a href="javascript:;" selectid="2">美国</a></li>
                                <li><a href="javascript:;" selectid="3">英国</a></li>
                                <li><a href="javascript:;" selectid="4">加拿大</a></li>
                                <li><a href="javascript:;" selectid="5">新西兰</a></li>
                                <li><a href="javascript:;" selectid="6">其他国家</a></li>
                            </ul>
                            <!-- 这里是存放选中数据的,提交的时候从这里取值 -->
                            <input class="inputselect" name="liuxueguojia" type="hidden">
                        </div>
                    </li>
                    <li class="left form_li form_tel" style="position:relative; z-index:20001;"><input type="text" class="validate[required,custom[phone],maxSize[20]]" name="dianhua" value="手机" id="mobile" onblur="if(!value){value=defaultValue;}" onfocus="if(this.value==defaultValue){this.value='';}"></li>
                    <li class="right form_li form_city" style="position: relative; z-index: 10000; border-color: rgb(227, 228, 232);">
                        <div class="divselect1">
                            <div>所在地区</div>
                            <ul style="display: none;">
                                <li><a href="javascript:;" selectid="1">北京</a></li>
                                <li><a href="javascript:;" selectid="2">上海</a></li>
                                <li><a href="javascript:;" selectid="3">广州</a></li>
                                <li><a href="javascript:;" selectid="4">南京</a></li>
                                <li><a href="javascript:;" selectid="5">深圳</a></li>
                                <li><a href="javascript:;" selectid="6">成都</a></li>
                                <li><a href="javascript:;" selectid="7">其他</a></li>
                            </ul>
                            <!-- 这里是存放选中数据的,提交的时候从这里取值 -->
                            <input class="inputselect" name="zixundi" type="hidden">
                        </div>
                    </li>
                    <li class="left form_li form_yzm">
                        <div class="left yzm_div">
                            <input type="text" name="validate" value="验证码" id="vdcode" onblur="if(!value){value=defaultValue;}" onfocus="if(this.value==defaultValue){this.value='';}">
                        </div>
                        <div class="left yzm_pic">
                            <span class="left"><img id="vdimgck" onclick="changeAuthCode();" style="cursor: pointer;" alt="看不清？点击更换" src="/include/vdimgck.php"></span>
                            <a class="left" href="javascript:;" onclick="changeAuthCode();">换一张</a>
                        </div>
                        <a class="right form_sub" href="javascript:;" onclick="javascript:jQuery('#form_pinggu').submit();">提交&gt;&gt;</a>
                    </li>
					<input type="hidden" name="tijiaoshijian" id="new_time" value="">
                    <input type="hidden" name="source" id="new_source" value="http://www.idp.cn/yingguo/shenqingtiaojian/141218.html">
                    <input type="hidden" name="success_msg" value="您的信息已提交成功！IDP留学咨询热线：400-821-8688">
                    <input type="hidden" value="xingming,text;dianhua,text;liuxueguojia,select;zixundi,select;source,text" name="dede_fields">
                    <input type="hidden" value="af383dc225ecb2757d648df25db1679a" name="dede_fieldshash">
                </ul>
            </form>
        </div>
    </div>
	<div id="abstract">
            <div class="abstract_nav">
                <ul class="clearfix">
                    <li class="cur"><a href="javascript:;">热门推荐</a></li>
                    <li><a href="javascript:;">相关新闻</a></li>
                    <li><a href="javascript:;">热点资讯</a></li>
                    <li class="noMg"><a href="javascript:;">成功案例</a></li>
                    <li style="width:548px; height:28px; border-bottom:1px solid #ccc;"></li>
                </ul>
            </div>
            <div class="abstract_con">
                <ul>
                    <li class="cur">
						<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/141218.html">- 2019年伦敦艺术大学服装设计专业申请条件 全球最优秀的艺术学府!</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/zexiaozhidao/141217.html">- 想掌管企业的决策权?英国这几所大学管理学硕士专业毕业后进入管理层!</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/xingqianpeixun/141216.html">- 英国TOP-up课程是什么?可以读哪些大学?专科生通往高学历的敲门砖</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/zexiaozhidao/141215.html">- 想成为一名合格的“策展人”吗?去英国这几所大学读策展硕士专业准没错!</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/zexiaozhidao/141214.html">- 想成为一名数学家?去这几所英国大学读数学硕士专业圆你科学家的梦!</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/qianzhengzhidao/141213.html">- 英国T4学生签证什么时候办理最好?所需材料有哪些?申请流程有哪些?</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/zexiaozhidao/141212.html">- 想留住中华民族的根脉?去英国这几所大学读文物修复硕士专业准没错!</a> <span>2019-06-11</span></p>

                    </li>
                    <li>
						<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/141208.html">- 2019年英国G5大学商科本科及硕士专业申请条件 你的分数够吗?</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/141131.html">- 英国哪些学校认可高考成绩?这12所大学实现高考+留学两不误!</a> <span>2019-06-10</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/140863.html">- 去英国留学考什么类型的雅思呢?别再考错类型啦!</a> <span>2019-06-04</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/140704.html">- 2019年QS英国TOP100大学金融专业申请条件汇总 你达标了吗?</a> <span>2019-05-30</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/140645.html">- 离高考还有不到10天 英国这12所大学高考成绩录取要求还不来看看!</a> <span>2019-05-29</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/140609.html">- 2019年英国这些大学的商科硕士专业申请截止日期还没到 抓紧申请吧!</a> <span>2019-05-28</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/140591.html">- GPA70-75分能去英国哪所大学留学?看看你属于哪个档次？</a> <span>2019-05-28</span></p>

					</li>
                    <li>
						<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/141180.html">- 2020卫报英国大学排名发布，牛津首次被圣安德鲁斯大学超越跌出前二？</a> <span>2019-06-11</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/141109.html">- 谢菲尔德大学2019秋季入学部分专业申请开放中，留学末班车等你搭乘！</a> <span>2019-06-10</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/141076.html">- 2020卫报英国大学排名榜单 学生评选的最好大学是胡闹？</a> <span>2019-06-10</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/benke/141046.html">- 高考后留学英国有哪些注意事项？三分钟带你了解英国本科留学</a> <span>2019-06-06</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/140805.html">- 2019年世界前百名时装学院发布 伦敦艺术大学两所学院入围TOP5</a> <span>2019-06-03</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/140692.html">- 利物浦、约克、布里斯托大学2019官方接机安排汇总，尽早预定抢占位置</a> <span>2019-05-30</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/140689.html">- 2019伦敦帝国理工学院毕业典礼，现场宛如奥斯卡颁奖典礼！</a> <span>2019-05-30</span></p>

					</li>
                    <li>
						<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/141027.html">- 成功案例|规划顶的好录取少不了 一人独揽英国澳洲4所名校Offer</a> <span>2019-06-06</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/140802.html">- Defer一年的英国硕士申请 双非生再度逆盘录取KCL与爱丁堡</a> <span>2019-06-03</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/140708.html">- 从全军覆没到录取大满贯 实现逆袭的她喜提帝国理工录取</a> <span>2019-05-30</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/139937.html">- 英港联申 接连斩获香港科技大学+伦敦大学学院双录取</a> <span>2019-05-16</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/139682.html">- 毕业半年双非生再战英国留学 狂揽3所大学教育学录取</a> <span>2019-05-13</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/139505.html">- 高绩点双非生的英国硕士申请 精准定位直捣KCL金融专业</a> <span>2019-05-09</span></p>
<p><a target="_blank" href="http://www.idp.cn/yingguo/chenggonganli/shuoshi/139336.html">- 双非无缘百强 IDP助力录取世界50强伦敦大学国王学院</a> <span>2019-05-07</span></p>

					</li>
                </ul>
            </div>								
        </div>
			
   </div>
    
    <div class="right box_right">
        
        <a href="http://www.idp.cn/aozhou/liuxuexinwen/140370.html" target="_blank"><img src="http://www.idp.cn/special/JDT/FY19/20190529275x240.jpg" title="2019西澳大学中国开放日   等你来！" alt="2019西澳大学中国开放日   等你来！" width="275" height="240" border="0"></a>
        <div class="huodong_nr">
			<h3 class="story_bt no_line new_lianjie"><a href="http://www.idp.cn/aboutus/" target="_blank" title="推荐排行">排行榜</a></h3>
				<div id="idp_story">
					<div class="slide_nav">
						<ul class="clearfix">
							<li class="cur"><a href="javascript:;">热门简章</a></li>
							<li class=""><a href="javascript:;">热门专业</a></li>
							<li class="noMg"><a href="javascript:;">热门院校</a></li>
						</ul>
					</div>
				<div class="slide_img">
					<ul>
					   <li class="cur">
							<p><em>值得信赖—</em>50年专注于优质留学服务</p>
							<p><em>官方认证—</em>教育部留学咨询服务资质</p>
							<p><em>雅思主办—</em>雅思考试三大主办方之一</p>
							<p><em>遍布全球—</em>全球30个国家120多个办公室</p>
							<p><em>首次认证—</em>美国（AIRC）权威机构认证</p>
							<p><em>经验丰富—</em>在全球已服务50余万学生</p>
							<p><em>精英团队—</em>海外归国精英智囊团</p>
							<p><em>周到服务—</em><span id="ziti"></span>海外办公室提供后续全面服务</p>
						</li>
						<li class="">
							<p>获搜狐教育“中国品牌教育集团20强”</p>
							<p>获新浪教育“最具品牌影响力教育集团”</p>
							<p>获中国教育在线“国际教育贡献奖”</p>
							<p>获北京晚报“最具诚信留学服务机构”</p>
							<p>IDP总裁获“雅思20年20人”特别奖</p>
							<p>获“澳大利亚教育出口”奖章 </p>
							<p>获羊城晚报“羊城教育名家顾问团成员”</p>
							<p>英使馆文教处东亚地区唯一最佳合作伙伴</p>
						</li>
						<li class="">
							<p>全球性标准化服务管理流程</p>
							<p>C4C全球资源管理系统</p>
							<p>全球院校信息智能同步系统</p>
							<p>学生360度智能评估评测系统</p>
							<p>一对一个性化留学方案定制</p>
							<p>学生留学申请全程监控机制</p>
							<p>行业领先的服务质量管理体系</p>
							<p>周到全面的海外实地接待服务</p>
						</li>
					</ul>
				</div>								
		</div>	
<!--品牌故事-->
    </div>
        <div class="huodong_box">
                <div class="hd_tit clearfix">
                    <span class="left">院校资讯</span>
                    <a class="right" href="http://www.idp.cn/yuanxiaozixun/" target="_blank">更多&gt;</a>
                </div>

                <div class="hd_con hd_conb" style="padding-bottom:0;">
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/zexiaozhidao/141739.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                2020年QS牛津大学世界排名第4名  较去年上升2个名次</em><span>2019-06-19</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/141464.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                英国G5精英大学申请条件高不高？A-level成绩成决定性条件</em><span>2019-06-14</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/zexiaozhidao/141284.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                英国G5、红砖、罗素、94大学联盟知多少？为你揭秘所有英国名校</em><span>2019-06-12</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/141180.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                2020卫报英国大学排名发布，牛津首次被圣安德鲁斯大学超越跌出前二？</em><span>2019-06-11</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/140536.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                英国TOP10大学申请雅思成绩最低要求汇总，牛津剑桥果然是最高！</em><span>2019-05-27</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/paihangbang/yingguo/140021.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                2020《完全大学指南》正式发布 剑桥牛津继续雄霸冠亚军</em><span>2019-05-17</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/139364.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                英国金三角名校你想要申请哪一所？牛津剑桥还是帝国理工......</em><span>2019-05-07</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/138920.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                英国G5大学入学条件汇总，2020年英国留学申请准备好了吗？</em><span>2019-04-28</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/liuxuexinwen/138855.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                2020年英国留学：英国G5院校，英国TOP院校申请要求是什么？</em><span>2019-04-26</span></a>
                                            <a class="hd_lista" target="_blank" href="http://www.idp.cn/yingguo/shenqingtiaojian/138694.html"><em>- <!-- 美国大学就业率排名TOP10详情一 -->
                                英国前十大学对于GPA的要求是多少？你的GPA条件够了吗？</em><span>2019-04-24</span></a>
                                    </div>

            </div>
        
                <div class="huodong_box">
            <div class="hd_tit clearfix">
                <span class="left" style=" width:100px;">排名相近的学校</span>
                <a class="right" style=" width:175px;" href="javascript:void(0);"></a>
            </div>
            <div class="hd_con" style="padding-bottom:30px;">

                                <div class="clearfix">
                    <p class="left rk_pic">
                        <span></span><a href="http://schools.idp.cn/ucl/index.html" target="_blank"><img src="http://schools.idp.cn/uploadfile/2017/0411/20170411052917692.jpg" alt="伦敦大学学院"></a>
                    </p>
                    <ul class="left rk_con">
                        <li><a href="http://schools.idp.cn/ucl/index.html" target="_blank">伦敦大学学院</a> </li>
                        <li>University College London</li>
                        <li>位于<span>England London</span></li>
                    </ul>
                </div>
                                <div class="clearfix">
                    <p class="left rk_pic">
                        <span></span><a href="http://schools.idp.cn/IC/index.html" target="_blank"><img src="http://schools.idp.cn/uploadfile/2016/0427/20160427075451146.png" alt="帝国理工学院"></a>
                    </p>
                    <ul class="left rk_con">
                        <li><a href="http://schools.idp.cn/IC/index.html" target="_blank">帝国理工学院</a> </li>
                        <li>Imperial College London</li>
                        <li>位于<span>England London</span></li>
                    </ul>
                </div>
                
            </div>
        </div>
        
       
    </div>
</div>
</div>
 <!----正文end---->
  <div id="footer"> 
   <div id="footer-v0"> 
    <div class="footer-container"> 
     <div class="ali-pages"> 
      <p id="copyright">&copy; 2010-2018 1688.com 版权所有</p> 
      <ul> 
       <li><a rel="nofollow" href="//rule.1688.com/policy/copyright.html" target="_self" title="著作权与商标声明">著作权与商标声明</a> |</li> 
       <li><a rel="nofollow" href="//rule.1688.com/policy/legal.html" target="_self" title="法律声明">法律声明</a> |</li> 
       <li><a rel="nofollow" href="//rule.1688.com/policy/terms.htm" target="_self" title="服务条款">服务条款</a> |</li> 
       <li><a rel="nofollow" href="//rule.1688.com/policy/privacy.html" target="_self" title="隐私政策">隐私政策</a> |</li> 
       <li><a rel="nofollow" href="//page.1688.com/shtml/about/ali_group1.shtml" target="_self" title="关于阿里巴巴">关于阿里巴巴</a> |</li> 
       <li><a rel="nofollow" href="//114.1688.com/kf/contact.html?tracelog=kf_2012_budian_allcontact" target="_self" title="联系我们">联系我们</a> |</li> 
       <li><a href="//114.1688.com/sitemap.html" target="_self" title="网站导航">网站导航</a></li> 
      </ul> 
     </div> 
     <div class="ali-group"> 
      <dl> 
       <dd> 
        <a rel="nofollow" href="http://www.alibabagroup.com/cn/global/home" title="阿里巴巴集团">阿里巴巴集团</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.alibaba.com/" title="阿里巴巴国际站">阿里巴巴国际站</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.1688.com/" title="阿里巴巴中国站">阿里巴巴中国站</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.aliexpress.com/" title="全球速卖通">全球速卖通</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.taobao.com/" title="淘宝网">淘宝网</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.tmall.com/" title="天猫">天猫</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//ju.taobao.com/" title="聚划算">聚划算</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="http://www.etao.com/" title="一淘">一淘</a> | 
       </dd> 
       <dd> 
        <a href="//www.alitrip.com/" title="阿里旅行 &middot; 去啊">阿里旅行 &middot; 去啊</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="http://www.alimama.com/" title="阿里妈妈">阿里妈妈</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="http://www.xiami.com/" title="虾米">虾米</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.aliyun.com/" title="阿里云计算">阿里云计算</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.yunos.com/" title="YunOS">YunOS</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//aliqin.tmall.com/" title="阿里通信">阿里通信</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.net.cn/" title="万网">万网</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="http://www.uc.cn/" title="UC">UC</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="//www.alipay.com/" title="支付宝">支付宝</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="https://www.laiwang.com/" title="来往">来往</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="http://www.dingtalk.com/?lwfrom=20150130161950940" title="钉钉">钉钉</a> | 
       </dd> 
       <dd> 
        <a rel="nofollow" href="http://www.alihealth.cn/" title="阿里健康">阿里健康</a> | 
       </dd> 
       <dd> 
        <a href="//onetouch.alibaba.com" title="一达通">一达通</a> | 
       </dd> 
       <dd> 
        <a href="http://taobao.lazada.sg" title="Lazada">Lazada</a> 
       </dd> 
      </dl> 
     </div> 
    </div> 
   </div>   
  </div>
 </body>
 <!--公共调用底部-->
<script>
	$(function(){
		$("#idp_story > .slide_nav > ul > li").hover(function(){
			var story_num=$(this).index();
			$(this).addClass("cur").siblings().removeClass("cur");
			$(this).closest(".slide_nav").siblings().find("li").eq(story_num).show().siblings().hide();
			});
		
		})
</script>
<script>
	$(function(){
		$("#abstract > .abstract_nav > ul > li").hover(function(){
			var story_num=$(this).index();
			$(this).addClass("cur").siblings().removeClass("cur");
			$(this).closest(".abstract_nav").siblings().find("li").eq(story_num).show().siblings().hide();
			});
		
		})
</script>

╰❀つ郑月龙 2019/6/27 17:54:21
加到最下面

╰❀つ郑月龙 2019/6/27 17:54:32
[图片]

</html>
