/*全局属性*/
body { text-align: center; margin:0; padding:0; background:#E6DCD7; font-size:12px; color:#000000;}
body > div { text-align:center; margin-right:auto; margin-left:auto;} 
div,form,img,ul,ol,li,p,dl,dt,dd { margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-size:12px; font-weight:normal;}
ul,li { list-style: none }
p{line-height:24px;text-align:left;}
/* 链接颜色 */
a {color: #000; text-decoration:none;}
a:hover {text-decoration:underline;}

/*通用属性*/
.left { float: left;}
.right { float: right;}
.area:after,.clear:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.clear,.area{zoom:1}
.fb{font-weight:bold}
/* 通用栏宽*/
.area {width:1000px; clear:both; height:auto;margin:0 auto}
.top-pic-box{height:804px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/top.jpg) no-repeat center;}
.area{position:relative;z-index:100}
.video-box{width:940px;position:absolute;top:225px;left:34px;}
.a-box{height:663px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/bg2.jpg);}
.a-box .area{height:663px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/pic_03.jpg) no-repeat center;}
.b-box{height:551px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/pic_05.jpg) no-repeat center;}
.c-box{height:761px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/pic_06.jpg) no-repeat center;}
.d-box{height:531px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/pic_07.jpg) no-repeat center;}
.d-box .link{width:205px;height:208px;position:absolute;top:9px;left:680px;}
.e-box{height:525px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/pic_08.jpg) no-repeat center;}
.e-box .link{width:205px;height:208px;position:absolute;top:260px;left:711px;}
.a-box .bdshare_t{position:absolute;top:11px;left:710px;}
.a-box .bdshare_t .Qs_txt{font:16px/18px "微软雅黑";color:#946D59;float:left;width:67px;padding-top:12px;display:inline-block;}
.a-box .btn{position:absolute;top:10px;left:890px;}
.f-box{height:530px;background:url(http://statics.05273.cn/statics/zhuanti/muqin/img/bg1.jpg) no-repeat center;}
