<?php echo '<?xml version="1.0" encoding="utf-8" ?>'; ?>
<?php header('Content-type: text/xml');?>
<?php echo '<?xml-stylesheet type="text/xsl" href="./rss/sitemap.xsl"?>'; ?>
<urlset>
<?php $data = news('1,3,11,12,13,14,15,16,17,18,19,20,35,36', 500); ?>
		<url>
			<loc>https://www.05273.cn/</loc>
			<lastmod>{date('Y-m-d',time())}</lastmod>
			<changefreq>always</changefreq>
			<priority>1.0</priority>
		</url>
 {loop $data $r}	
		<url>
			<loc>{$r[url]}</loc>
			<lastmod>{date('Y-m-d H:i:s',$r[inputtime])}</lastmod>
			<changefreq>always</changefreq>
			<priority>0.{$r[quanzhong]}</priority>
		</url>
{/loop}
</urlset>