	<?php $data = news('1,3,36', 7); ?>
	<div class="cplist_style2" id="mainlist">
　　{loop $data $r}
		<div class="cplist_style2_item">
			<a href="{S($r[url])}">
				<div class="imgw"><img src="{if $r[thumb]}{$r['thumb']}{else}//statics.05273.cn/statics/images/weixin_nopic.jpg{/if}"></div>
				<div class="c">
					<strong class="n">{$r[title]}</strong>
				</div>
			</a>
		</div>
	{/loop}
		<div class="cplist_style2_item">
			<a href="https://bbs.05273.cn/plugin.php?id=wechat:access">
				<div class="imgw"><img src="https://bbs.05273.cn/data/attachment/common/ab/common_654_AG86e9Ie.png"></div>
				<div class="c">
					<strong class="n">新闻爆料轻点这里进入微社区</strong>
				</div>
			</a>
		</div>
	</div>
	<div class="loadmore" id="loadmore"></div>