
.clear {
	DISPLAY: inline-block
}
* HTML .clear {
	HEIGHT: 1%
}
.clear {
	DISPLAY: block
}
.clear:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.maincon .left {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 610px; PADDING-TOP: 10px; POSITION: relative
}
.maincon .left .hudongnav {
	PADDING-TOP: 5px; HEIGHT: 37px
}
.maincon .left .hudongnav B {
	FONT-WEIGHT: 100; FONT-SIZE: 14px; FLOAT: left; WIDTH: 100px; LINE-HEIGHT: 32px; MARGIN-RIGHT: 22px; HEIGHT: 32px
}
.maincon .left .hudongnav B A {
	DISPLAY: block; PADDING-LEFT: 33px; WIDTH: 67px; HEIGHT: 32px
}
.maincon .left .hudongnav .b1 {
	BACKGROUND: url(nr_top01.gif) no-repeat
}
.maincon .left .hudongnav .b2 {
	BACKGROUND: url(nr_top02.gif) no-repeat
}
.maincon .left .hudongnav .b3 {
	BACKGROUND: url(nr_top03.gif) no-repeat
}
.maincon .left .hudongnav .b4 {
	BACKGROUND: url(nr_top04.gif) no-repeat
}
.maincon .left .hudongnav .b5 {
	BACKGROUND: url(nr_top05.gif) no-repeat; MARGIN-RIGHT: 0px
}
.maincon .left .hudongnav .b6 {
	BACKGROUND: url(nr_tb_07.gif) no-repeat
}
.maincon .left .hudongnav .b7 {
	BACKGROUND: url(nr_tb_09.gif) no-repeat
}
.maincon .left .hudongnav .b8 {
	BACKGROUND: url(nr_tb_11.gif) no-repeat
}
.maincon .left .hudongnav .b9 {
	BACKGROUND: url(nr_tb_13.gif) no-repeat
}
.maincon .left .hudongnav .b10 {
	BACKGROUND: url(nr_tb_15.gif) no-repeat; MARGIN-RIGHT: 0px
}
.maincon .left .title {
	CLEAR: both
}
.maincon .left .title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 24px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.maincon .left .titiefu {
	COLOR: #666; BORDER-BOTTOM: #e5e5e5 1px solid; TEXT-ALIGN: center
}
.maincon .left .ggjs {
	WIDTH: 590px; POSITION: relative; HEIGHT: 200px
}
.maincon .left .ggjs2 {
	RIGHT: -27px; WIDTH: 500px; POSITION: absolute; TOP: 0px
}
.maincon .left .ArticleIntro {
	PADDING-RIGHT: 25px; BORDER-TOP: #D1D1D1 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 14px; BACKGROUND: #F0F0F0; PADDING-BOTTOM: 10px; MARGIN: 20px 0px; TEXT-INDENT: 24px; PADDING-TOP: 10px; BORDER-BOTTOM: #D1D1D1 1px solid; BORDER-LEFT: #D1D1D1 1px solid; BORDER-RIGHT: #D1D1D1 1px solid;
}
.maincon .left .liukongjs {
	
}
.maincon .left .kechengjs {
	
}
.maincon .left .nrding {
	PADDING-TOP: 20px
}
.maincon .left .nrding .dingleft {
	FLOAT: left; WIDTH: 390px
}
.maincon .left .nrding .dingright {
	FLOAT: right; WIDTH: 180px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.maincon .left .nrding .nrtuijan {
	FLOAT: left; WIDTH: 100px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.maincon .left .nrding .nrshoucang {
	FLOAT: left; WIDTH: 100px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.nrdayin {
	FLOAT: left; WIDTH: 100px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.maincon .left .nrding .nrshoucang A {
	PADDING-LEFT: 20px; WIDTH: 80px; HEIGHT: 27px
}
.maincon .left .nrding .nrdayin A {
	PADDING-LEFT: 20px; WIDTH: 80px; HEIGHT: 27px
}
.maincon .left .nrding .nrtuijan {
	BACKGROUND: url(nrytuijian.gif) no-repeat left 50%; WIDTH: 110px
}
.maincon .left .nrding .nrtuijan A {
	PADDING-LEFT: 20px; WIDTH: 90px
}
.maincon .left .nrding .nrshoucang {
	BACKGROUND: url(nrshoucang.gif) no-repeat left 50%
}
.maincon .left .nrding .nrdayin {
	BACKGROUND: url(nrdayin.gif) no-repeat left 50%
}
.maincon .left .tuhua {
	CLEAR: both; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; WIDTH: 590px
}
.maincon .left .sildPicBar {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 86px; PADDING-TOP: 10px; HEIGHT: 22px
}
.maincon .left .tuhuaxiaoyuan {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-TOP: 10px
}
.maincon .left .pre {
	BACKGROUND: url(pre.gif) no-repeat; FLOAT: left; WIDTH: 20px; CURSOR: pointer; LINE-HEIGHT: 15px; MARGIN-RIGHT: 8px; HEIGHT: 15px
}
.maincon .left .next {
	BACKGROUND: url(next.gif) no-repeat; FLOAT: right; WIDTH: 20px; CURSOR: pointer; LINE-HEIGHT: 15px; HEIGHT: 15px
}
.maincon .left .sildPicBar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px
}
.maincon .left .sildPicBar UL LI {
	MARGIN-TOP: 5px; BACKGROUND: url(pointbg.gif) no-repeat; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 8px; CURSOR: pointer; HEIGHT: 8px
}
.maincon .left .sildPicBar UL LI.select {
	BACKGROUND: url(pointbgselect.gif) no-repeat
}
.maincon .left .wrap {
	MIN-HEIGHT: 300px; OVERFLOW: hidden; WIDTH: 590px; HEIGHT: auto! important
}
.maincon .left .cntwrap {
	OVERFLOW: hidden; HEIGHT: 280px
}
.maincon .left .cnt {
	WIDTH: 1200px
}
.maincon .left .cnt UL {
	LIST-STYLE-TYPE: none
}
.maincon .left .cnt UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 150px; COLOR: #004276
}
.maincon .left .cnt UL LI A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; WIDTH: 132px; CURSOR: pointer; COLOR: #004276; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.maincon .left .cnt UL LI A DIV {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.maincon .left .tuhuamoer {
	CLEAR: both; COLOR: #004276; PADDING-TOP: 8px; TEXT-ALIGN: right
}
.maincon .left .haikanle {
	BORDER-TOP: #ccc 1px solid
}
.maincon .left .haikanle DIV.f12px {
	OVERFLOW: hidden; WIDTH: 590px; HEIGHT: 26px
}
.maincon .left .text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.maincon .left .haikanle .content {
	FONT-SIZE: 14px; LINE-HEIGHT: 26px
}
.maincon .left .searchb {
	CLEAR: both; BORDER-RIGHT: #ffbb6e 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #ffbb6e 1px dotted; MARGIN-TOP: 10px; PADDING-LEFT: 10px; BACKGROUND: #fffdee; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffbb6e 1px dotted; WIDTH: 580px; LINE-HEIGHT: 26px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffbb6e 1px dotted; HEIGHT: 26px
}
.maincon .left .searchbbox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 430px; LINE-HEIGHT: 15px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 15px
}
.maincon .left .searchbbtn {
	BORDER-RIGHT: #c85b00 1px solid; BORDER-TOP: #c85b00 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #ff7400; BORDER-LEFT: #c85b00 1px solid; WIDTH: 64px; CURSOR: hand; COLOR: #fff; LINE-HEIGHT: 17px; BORDER-BOTTOM: #c85b00 1px solid; HEIGHT: 19px
}
.maincon .left .contentkeywords {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 555px; PADDING-TOP: 0px; HEIGHT: 25px
}
.maincon .left .lanmunavdaohang {
	BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; LINE-HEIGHT: 26px
}
.maincon .left .topicsbox {
	BACKGROUND: url(hottopicsbg.gif) no-repeat; MARGIN: 10px auto; WIDTH: 500px
}
.maincon .left .topicsbar {
	PADDING-LEFT: 85px; FONT-SIZE: 18px; COLOR: #fff; LINE-HEIGHT: 33px; FONT-FAMILY: Arial; HEIGHT: 33px
}
.maincon .left .topicsbar .b2 {
	PADDING-RIGHT: 5px; FONT-SIZE: 12px; FLOAT: right; COLOR: #fff; FONT-FAMILY: ËÎÌå
}
.maincon .left .topicsbar .b2 A:link {
	COLOR: #fff
}
.topicsbar .b2 A:visited {
	COLOR: #fff
}
.maincon .left .topicsbar .b2 A:hover {
	COLOR: #ff0
}
.topicsbar .b2 A:active {
	COLOR: #ff0
}
.maincon .left .topicsbar .b1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FLOAT: left; FONT-FAMILY: Î¢ÈíÑÅºÚ
}
.maincon .left .topiccon {
	BORDER-RIGHT: #d89b19 1px solid; PADDING-RIGHT: 35px; BORDER-TOP: #d89b19 1px solid; PADDING-LEFT: 35px; BACKGROUND: #fffdf4; PADDING-BOTTOM: 5px; BORDER-LEFT: #d89b19 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d89b19 1px solid
}
.maincon .left .topics {
	FONT-SIZE: 14px; COLOR: #c00; LINE-HEIGHT: 35px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 35px; TEXT-ALIGN: center
}
.maincon .left .topics A:link {
	COLOR: #c00
}
.topics A:visited {
	COLOR: #c00
}
.maincon .left .topics A:hover {
	COLOR: #f30
}
.topics A:active {
	COLOR: #f30
}
.maincon .left .stopics {
	FONT-WEIGHT: 100; FONT-SIZE: 12px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.maincon .left .kechengnr {
	BORDER-TOP: #aae1db 1px solid; MARGIN-TOP: 8px; BORDER-LEFT: #aae1db 1px solid
}
.maincon .left .kechengnr TD {
	BORDER-RIGHT: #aae1db 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #aae1db 1px solid; HEIGHT: 30px
}
.maincon .left .kechengtr1 TD {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #fff; TEXT-ALIGN: center
}
.maincon .left .kechengtr2 TD {
	FONT-WEIGHT: bold; BACKGROUND: #c7ecec; TEXT-ALIGN: center
}
.maincon .left .kechengtr3 TD {
	FONT-WEIGHT: bold; BACKGROUND: #fff; TEXT-ALIGN: center
}
.nryongshu {
	CLEAR: both; BORDER-RIGHT: #95d8d8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #95d8d8 1px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; BORDER-LEFT: #95d8d8 1px solid; WIDTH: 562px; PADDING-TOP: 12px; BORDER-BOTTOM: #95d8d8 1px solid
}
.bookover {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=50,finishOpacity=50)
}
.nryongshu2 {
	CLEAR: both; BORDER-RIGHT: #95d8d8 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #95d8d8 1px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; BORDER-LEFT: #95d8d8 1px solid; WIDTH: 592px; PADDING-TOP: 12px; BORDER-BOTTOM: #95d8d8 1px solid
}
.bookover2 {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=50,finishOpacity=50)
}
.gd_left {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 100px; TEXT-ALIGN: center
}
.gd_left P {
	MARGIN: 0px; PADDING-TOP: 7px
}
.gd_right {
	FLOAT: right; WIDTH: 160px; TEXT-INDENT: 24px; PADDING-TOP: 22px
}
.gd_text {
	LEFT: 127px; COLOR: #049; POSITION: absolute; TOP: 32px
}
.gd_text A:link {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #f80; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Arial; HEIGHT: 30px; TEXT-DECORATION: none
}
.gd_text A:visited {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #f80; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; FONT-FAMILY: Arial; HEIGHT: 30px; TEXT-DECORATION: none
}
.gd_text A:hover {
	COLOR: #fff
}
.gd_text A:active {
	COLOR: #fff
}
.gd_text A.currON:link {
	FONT-WEIGHT: bold; BACKGROUND: #f30; COLOR: #fff
}
.gd_text A.currON:visited {
	FONT-WEIGHT: bold; BACKGROUND: #f30; COLOR: #fff
}
.gd_text A.currON:hover {
	COLOR: #fff
}
.gd_text A.currON:active {
	COLOR: #fff
}
.f-big {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; MARGIN-TOP: 10px; FLOAT: left; BORDER-LEFT: #dadada 1px solid; WIDTH: 928px; PADDING-TOP: 1px; BORDER-BOTTOM: #dadada 1px solid
}
.f-big .top {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 918px; LINE-HEIGHT: 29px; HEIGHT: 29px; BACKGROUND-COLOR: #f5fdff
}
.f-big .top SPAN {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(f_bg.gif) no-repeat left center; FLOAT: left; WIDTH: 200px
}
.f-big .bottom {
	PADDING-RIGHT: 5px; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 893px; LINE-HEIGHT: 24px; PADDING-TOP: 10px
}
.f-big .bottom UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.f-big .bottom UL {
	WIDTH: 893px
}
.f-big .bottom LI {
	FLOAT: left; WIDTH: 127px
}
.f-big .bottom1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 898px; LINE-HEIGHT: 24px; PADDING-TOP: 10px
}
.f-big .bottom1 TD {
	VERTICAL-ALIGN: top
}
.f-big .bottom1 TD.a {
	FONT-WEIGHT: bold; FLOAT: left; VERTICAL-ALIGN: top; WIDTH: 35px
}
.f-big .bottom2 {
	FLOAT: left; WIDTH: 928px
}
.f-big .bottom2 .exam {
	BORDER-RIGHT: #eaeaea 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 745px; PADDING-TOP: 10px; HEIGHT: 433px
}
.f-big .bottom2 .exam .bar {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 745px
}
.f-big .bottom2 .exam .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 745px; PADDING-TOP: 10px
}
.f-big .bottom2 .exam .content LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 745px; PADDING-TOP: 6px
}
.f-big .bottom2 .exam .content LI.line {
	BORDER-BOTTOM: #dadada 1px dotted
}
.f-big .bottom2 .exam .content STRONG {
	PADDING-RIGHT: 10px
}
.f-big .bottom2 .gongjv {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 135px; PADDING-TOP: 10px; HEIGHT: 433px
}
.f-big .bottom2 .gongjv .bar {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 135px
}
.f-big .bottom2 .gongjv .content {
	FLOAT: left; WIDTH: 135px
}
.f-big .bottom2 .gongjv .content UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 7px; WIDTH: 105px; PADDING-TOP: 7px
}
.f-big .bottom2 .gongjv .content UL.line {
	BORDER-BOTTOM: #dadada 1px dotted
}
.f-big .bottom2 .gongjv .content LI {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 95px
}
.jingzt {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
.jingzt .jingtext {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(jing_sanjiao.gif) #f5fdff no-repeat 14px 9px; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.jingdiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 140px; LINE-HEIGHT: 16px; PADDING-TOP: 2px; HEIGHT: 16px
}
.jingzt .jing_con .b4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.jingzt .jing_con .tlmtext {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(jing_fangkuai.gif) no-repeat 0px 8px; HEIGHT: 30px
}
.jingzt .jing_con .jing_xian {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 130px; PADDING-TOP: 0px
}
.jingzt .jing_con .jing_xi02 {
	BACKGROUND: url(jing_dian.gif) repeat-x left center; HEIGHT: 15px
}
.gotobbs {
	PADDING-RIGHT: 20px; BACKGROUND: url(bbsicon.gif) no-repeat right center; TEXT-ALIGN: right
}
.conxian {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(neirong02_201004.gif) no-repeat 50% top; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.sijiatext {
	BORDER-RIGHT: #ffd422 1px solid; BORDER-TOP: #ffd422 1px solid; MARGIN-TOP: 10px; FONT-SIZE: 20px; BACKGROUND: #ffffcc; BORDER-LEFT: #ffd422 1px solid; LINE-HEIGHT: 40px; BORDER-BOTTOM: #ffd422 1px; FONT-FAMILY: Î¢ÈíÑÅºÚ,ºÚÌå; TEXT-ALIGN: center
}
.sijiacon .Menubox1 {
	FONT-SIZE: 14px; BORDER-BOTTOM: #ff3300 1px solid; HEIGHT: 34px
}
.sijiacon .Menubox1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sijiacon .Menubox1 LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 34px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 34px; TEXT-ALIGN: center
}
.sijiacon .Menubox1 LI.sjkc1 {
	BACKGROUND: url(con-4j-0201.gif) no-repeat
}
.sijiacon .Menubox1 LI.sjkc1 .b01 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-0201.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox1 LI.sjkc2 {
	BACKGROUND: url(con-4j-2001.gif) no-repeat
}
.sijiacon .Menubox1 LI.sjkc2 .b02 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-2001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox1 LI.sjkc3 {
	BACKGROUND: url(con-4j-3001.gif) no-repeat
}
.sijiacon .Menubox1 LI.sjkc3 .b03 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-3001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox1 LI.sjkc4 {
	BACKGROUND: url(con-4j-4001.gif) no-repeat
}
.sijiacon .Menubox1 LI.sjkc4 .b04 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-4001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox1 LI.sjkc5 {
	BACKGROUND: url(con-4j-5001.gif) no-repeat
}
.sijiacon .Menubox1 LI.sjkc5 .b05 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-5001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox1 LI.hover1 {
	FONT-WEIGHT: bold; BACKGROUND: url(con-4j-0101.gif) no-repeat; COLOR: #fff
}
.sijiacon .Menubox1 LI.hover1 .b00 {
	Z-INDEX: 2; BACKGROUND: url(con-4j-0103.gif) no-repeat; LEFT: 45%; WIDTH: 15px; POSITION: absolute; TOP: 34px; HEIGHT: 8px
}
.sijiacon .Menubox1 LI.hover1 A:link {
	COLOR: #fff
}
.sijiacon .Menubox1 LI.hover1 A:visited {
	COLOR: #fff
}
.sijiacon .Menubox1 LI.hover1 A:hover {
	COLOR: #fff
}
.sijiacon .Menubox1 LI.hover1 A:active {
	COLOR: #fff
}
.sijiacon .Menubox1 LI.hover1 SPAN {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-0101.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox2 {
	FONT-SIZE: 14px; BORDER-BOTTOM: #287800 1px solid; POSITION: relative; HEIGHT: 34px
}
.sijiacon .Menubox2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sijiacon .Menubox2 LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 34px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 34px; TEXT-ALIGN: center
}
.sijiacon .Menubox2 LI.sjkc1 {
	BACKGROUND: url(con-4j-0201.gif) no-repeat
}
.sijiacon .Menubox2 LI.sjkc1 .b01 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-0201.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox2 LI.sjkc2 {
	BACKGROUND: url(con-4j-2001.gif) no-repeat
}
.sijiacon .Menubox2 LI.sjkc2 .b02 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-2001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox2 LI.sjkc3 {
	BACKGROUND: url(con-4j-3001.gif) no-repeat
}
.sijiacon .Menubox2 LI.sjkc3 .b03 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-3001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox2 LI.sjkc4 {
	BACKGROUND: url(con-4j-4001.gif) no-repeat
}
.sijiacon .Menubox2 LI.sjkc4 .b04 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-4001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox2 LI.sjkc5 {
	BACKGROUND: url(con-4j-5001.gif) no-repeat
}
.sijiacon .Menubox2 LI.sjkc5 .b05 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-5001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox2 LI.hover2 {
	FONT-WEIGHT: bold; BACKGROUND: url(con-4j-2002.gif) no-repeat; COLOR: #fff
}
.sijiacon .Menubox2 LI.hover2 .b00 {
	Z-INDEX: 2; BACKGROUND: url(con-4j-2003.gif) no-repeat; LEFT: 45%; WIDTH: 15px; POSITION: absolute; TOP: 34px; HEIGHT: 8px
}
.sijiacon .Menubox2 LI.hover2 A:link {
	COLOR: #fff
}
.sijiacon .Menubox2 LI.hover2 A:visited {
	COLOR: #fff
}
.sijiacon .Menubox2 LI.hover2 A:hover {
	COLOR: #fff
}
.sijiacon .Menubox2 LI.hover2 A:active {
	COLOR: #fff
}
.sijiacon .Menubox2 LI.hover2 SPAN {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-2002.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox3 {
	FONT-SIZE: 14px; BORDER-BOTTOM: #026a70 1px solid; POSITION: relative; HEIGHT: 34px
}
.sijiacon .Menubox3 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sijiacon .Menubox3 LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 34px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 34px; TEXT-ALIGN: center
}
.sijiacon .Menubox3 LI.sjkc1 {
	BACKGROUND: url(con-4j-0201.gif) no-repeat
}
.sijiacon .Menubox3 LI.sjkc1 .b01 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-0201.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox3 LI.sjkc2 {
	BACKGROUND: url(con-4j-2001.gif) no-repeat
}
.sijiacon .Menubox3 LI.sjkc2 .b02 {
	DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(con-4j-2001.gif) no-repeat right top; LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox3 LI.sjkc3 {
	BACKGROUND: url(con-4j-3001.gif) no-repeat
}
.sijiacon .Menubox3 LI.sjkc3 .b03 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-3001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox3 LI.sjkc4 {
	BACKGROUND: url(con-4j-4001.gif) no-repeat
}
.sijiacon .Menubox3 LI.sjkc4 .b04 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-4001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox3 LI.sjkc5 {
	BACKGROUND: url(con-4j-5001.gif) no-repeat
}
.sijiacon .Menubox3 LI.sjkc5 .b05 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-5001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox3 LI.hover3 {
	FONT-WEIGHT: bold; BACKGROUND: url(con-4j-3002.gif) no-repeat; COLOR: #fff
}
.sijiacon .Menubox3 LI.hover3 .b00 {
	Z-INDEX: 2; BACKGROUND: url(con-4j-3003.gif) no-repeat; LEFT: 45%; WIDTH: 15px; POSITION: absolute; TOP: 34px; HEIGHT: 8px
}
.sijiacon .Menubox3 LI.hover3 A:link {
	COLOR: #fff
}
.sijiacon .Menubox3 LI.hover3 A:visited {
	COLOR: #fff
}
.sijiacon .Menubox3 LI.hover3 A:hover {
	COLOR: #fff
}
.sijiacon .Menubox3 LI.hover3 A:active {
	COLOR: #fff
}
.sijiacon .Menubox3 LI.hover3 SPAN {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-3002.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox4 {
	FONT-SIZE: 14px; BORDER-BOTTOM: #3d3ab6 1px solid; POSITION: relative; HEIGHT: 34px
}
.sijiacon .Menubox4 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sijiacon .Menubox4 LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 34px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 34px; TEXT-ALIGN: center
}
.sijiacon .Menubox4 LI.sjkc1 {
	BACKGROUND: url(con-4j-0201.gif) no-repeat
}
.sijiacon .Menubox4 LI.sjkc1 .b01 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-0201.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox4 LI.sjkc2 {
	BACKGROUND: url(con-4j-2001.gif) no-repeat
}
.sijiacon .Menubox4 LI.sjkc2 .b02 {
	DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(con-4j-2001.gif) no-repeat right top; LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox4 LI.sjkc3 {
	BACKGROUND: url(con-4j-3001.gif) no-repeat
}
.sijiacon .Menubox4 LI.sjkc3 .b03 {
	DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(con-4j-3001.gif) no-repeat right top; LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox4 LI.sjkc4 {
	BACKGROUND: url(con-4j-4001.gif) no-repeat
}
.sijiacon .Menubox4 LI.sjkc4 .b04 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-4001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox4 LI.sjkc5 {
	BACKGROUND: url(con-4j-5001.gif) no-repeat
}
.sijiacon .Menubox4 LI.sjkc5 .b05 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-5001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox4 LI.hover4 {
	FONT-WEIGHT: bold; BACKGROUND: url(con-4j-4002.gif) no-repeat; COLOR: #fff
}
.sijiacon .Menubox4 LI.hover4 .b00 {
	Z-INDEX: 2; BACKGROUND: url(con-4j-4003.gif) no-repeat; LEFT: 45%; WIDTH: 15px; POSITION: absolute; TOP: 34px; HEIGHT: 8px
}
.sijiacon .Menubox4 LI.hover4 A:link {
	COLOR: #fff
}
.sijiacon .Menubox4 LI.hover4 A:visited {
	COLOR: #fff
}
.sijiacon .Menubox4 LI.hover4 A:hover {
	COLOR: #fff
}
.sijiacon .Menubox4 LI.hover4 A:active {
	COLOR: #fff
}
.sijiacon .Menubox4 LI.hover4 SPAN {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-4002.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox5 {
	FONT-SIZE: 14px; BORDER-BOTTOM: #a51f6b 1px solid; POSITION: relative; HEIGHT: 34px
}
.sijiacon .Menubox5 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sijiacon .Menubox5 LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 34px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 34px; TEXT-ALIGN: center
}
.sijiacon .Menubox5 LI.sjkc1 {
	BACKGROUND: url(con-4j-0201.gif) no-repeat
}
.sijiacon .Menubox5 LI.sjkc1 .b01 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-0201.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox5 LI.sjkc2 {
	BACKGROUND: url(con-4j-2001.gif) no-repeat
}
.sijiacon .Menubox5 LI.sjkc2 .b02 {
	DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(con-4j-2001.gif) no-repeat right top; LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox5 LI.sjkc3 {
	BACKGROUND: url(con-4j-3001.gif) no-repeat
}
.sijiacon .Menubox5 LI.sjkc3 .b03 {
	DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(con-4j-3001.gif) no-repeat right top; LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox5 LI.sjkc4 {
	BACKGROUND: url(con-4j-4001.gif) no-repeat
}
.sijiacon .Menubox5 LI.sjkc4 .b04 {
	DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(con-4j-4001.gif) no-repeat right top; LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox5 LI.sjkc5 {
	BACKGROUND: url(con-4j-5001.gif) no-repeat
}
.sijiacon .Menubox5 LI.sjkc5 .b05 {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-5001.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Menubox5 LI.hover5 {
	FONT-WEIGHT: bold; BACKGROUND: url(con-4j-5002.gif) no-repeat; COLOR: #fff
}
.sijiacon .Menubox5 LI.hover5 .b00 {
	Z-INDEX: 2; BACKGROUND: url(con-4j-5003.gif) no-repeat; LEFT: 45%; WIDTH: 15px; POSITION: absolute; TOP: 34px; HEIGHT: 8px
}
.sijiacon .Menubox5 LI.hover5 A:link {
	COLOR: #fff
}
.sijiacon .Menubox5 LI.hover5 A:visited {
	COLOR: #fff
}
.sijiacon .Menubox5 LI.hover5 A:hover {
	COLOR: #fff
}
.sijiacon .Menubox5 LI.hover5 A:active {
	COLOR: #fff
}
.sijiacon .Menubox5 LI.hover5 SPAN {
	DISPLAY: block; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: url(con-4j-5002.gif) no-repeat right top; WIDTH: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 34px
}
.sijiacon .Contentbox {
	WIDTH: 100%
}
.sijiacon .Contentbox .sjtext01 {
	CLEAR: both; BORDER-RIGHT: #f3a174 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #f3a174 1px solid; LINE-HEIGHT: 40px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.sijiacon .Contentbox .sjtext02 {
	CLEAR: both; BORDER-RIGHT: #82cd47 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #82cd47 1px solid; LINE-HEIGHT: 40px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.sijiacon .Contentbox .sjtext03 {
	CLEAR: both; BORDER-RIGHT: #4dd6dc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #4dd6dc 1px solid; LINE-HEIGHT: 40px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.sijiacon .Contentbox .sjtext04 {
	CLEAR: both; BORDER-RIGHT: #bfb2f3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #bfb2f3 1px solid; LINE-HEIGHT: 40px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.sijiacon .Contentbox .sjtext05 {
	CLEAR: both; BORDER-RIGHT: #eaacd3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #eaacd3 1px solid; LINE-HEIGHT: 40px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
