BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
ABBR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px
}
BODY {
	FONT: 12px/1.5 "ËÎÌå", Tahoma, Helvetica, Arial, sans-serif; COLOR: #474747
}
HTML {
	FONT: 12px/1.5 "ËÎÌå", Tahoma, Helvetica, Arial, sans-serif; COLOR: #474747
}
INPUT {
	FONT: 12px/1.5 "ËÎÌå", Tahoma, Helvetica, Arial, sans-serif; COLOR: #474747
}
BUTTON {
	FONT: 12px/1.5 "ËÎÌå", Tahoma, Helvetica, Arial, sans-serif; COLOR: #474747
}
TEXTAREA {
	FONT: 12px/1.5 "ËÎÌå", Tahoma, Helvetica, Arial, sans-serif; COLOR: #474747
}
H1 {
	FONT-SIZE: 20px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 12px
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
I {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
A:link {
	COLOR: #474747; TEXT-DECORATION: none
}
A:visited {
	COLOR: #474747; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
* HTML .clearfix {
	HEIGHT: 1%
}
* + HTML .clearfix {
	DISPLAY: inline-block
}
.header {
	POSITION: relative; BACKGROUND: url(home_banner.jpg) no-repeat center 0px; HEIGHT: 306px; OVERFLOW: hidden
}
.header .banner-title {
	TEXT-INDENT: -9999em; OVERFLOW: hidden
}
.topbar {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 35px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; HEIGHT: 35px; PADDING-TOP: 3px
}
.logo {
	TEXT-INDENT: -9999em; WIDTH: 107px; DISPLAY: block; HEIGHT: 35px; OVERFLOW: hidden
}
.logo A {
	TEXT-INDENT: -9999em; WIDTH: 107px; DISPLAY: block; HEIGHT: 35px; OVERFLOW: hidden
}
.logo {
	BACKGROUND: url(logo.png) no-repeat 0px 0px; FLOAT: left
}
.topr {
	LINE-HEIGHT: 30px; DISPLAY: inline; FLOAT: right; PADDING-TOP: 5px
}
.topr {
	COLOR: #0764d9
}
.topr A:link {
	COLOR: #0764d9
}
.topr A:visited {
	COLOR: #0764d9
}
.nav {
	LINE-HEIGHT: 48px; MARGIN: 0px auto; BACKGROUND: url(nav_bg.jpg) no-repeat center 0px; HEIGHT: 48px; OVERFLOW: hidden
}
.nav UL {
	MARGIN: 0px auto; WIDTH: 1000px
}
.nav LI {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 188px; FONT-FAMILY: "Microsoft YaHei", Arial; BACKGROUND: url(nav_line.jpg) no-repeat right center; FLOAT: left; HEIGHT: 48px
}
.nav LI {
	COLOR: #70b1ff; FONT-SIZE: 16px
}
.nav LI A:link {
	COLOR: #70b1ff; FONT-SIZE: 16px
}
.nav LI A:visited {
	COLOR: #70b1ff; FONT-SIZE: 16px
}
.nav LI.current {
	BACKGROUND: url(nav_cur.jpg) no-repeat right 0px
}
.nav LI.current A:link {
	COLOR: #fff
}
.nav LI.current A:visited {
	COLOR: #fff
}
.nav .ico-coming {
	POSITION: absolute; TEXT-INDENT: -9999em; WIDTH: 42px; DISPLAY: block; BACKGROUND: url(coming.gif) no-repeat 0px 0px; HEIGHT: 12px; FONT-SIZE: 12px; OVERFLOW: hidden; TOP: 8px; RIGHT: 8px
}
.share-bar {
	POSITION: absolute; WIDTH: 960px; MARGIN-LEFT: -480px; TOP: 320px; LEFT: 50%
}
.share-bar {
	COLOR: #000
}
.share-bar A {
	COLOR: #000
}
.share-bar .sharebox {
	DISPLAY: inline; FLOAT: right
}
.home-bg1 {
	BACKGROUND: url(home_bg_01.jpg) no-repeat center 0px
}
.home-bg2 {
	BACKGROUND: url(home_bg_02.jpg) no-repeat center 303px
}
.home-bg3 {
	BACKGROUND: url(home_bg_03.jpg) no-repeat center 701px
}
.home-container {
	MARGIN: 0px auto; WIDTH: 1000px
}
.flash {
	TEXT-ALIGN: center; MARGIN: auto; WIDTH: 1000px
}
.home-main {
	POSITION: relative; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; MARGIN: 0px auto; PADDING-LEFT: 30px; WIDTH: 940px; PADDING-RIGHT: 30px; BACKGROUND: url(main_bg.jpg) no-repeat center 0px; HEIGHT: 321px; COLOR: #000; FONT-SIZE: 14px; PADDING-TOP: 15px
}
.home-main A:link {
	COLOR: #053778; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.home-main A:visited {
	COLOR: #053778; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.home-main DL {
	FONT-FAMILY: "Î¢ÈíÑÅºÚ"
}
.home-main DT {
	COLOR: #000; FONT-SIZE: 18px
}
.home-main DT A:link {
	COLOR: #000; FONT-SIZE: 18px
}
.home-main DT A:visited {
	COLOR: #000; FONT-SIZE: 18px
}
.home-main DT {
	PADDING-BOTTOM: 12px
}
.home-main DD {
	PADDING-LEFT: 2em; WIDTH: 740px; MARGIN-BOTTOM: 8px
}
.home-main .grass {
	POSITION: absolute; WIDTH: 89px; DISPLAY: block; BACKGROUND: url(grass.png) no-repeat 0px 0px; HEIGHT: 149px; TOP: 30px; LEFT: -42px
}
* HTML .home-main .grass {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='grass.png',sizingMethod='scale'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 35px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma; PADDING-TOP: 20px
}
.footer {
	COLOR: #b8b8b8
}
.footer A {
	COLOR: #b8b8b8
}
