{template 'member', 'header'}
<script type="text/javascript" src="{JS_PATH}jquery.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#domain").formValidator({onshow:"请输入自定义域名",onfocus:"自定义域名不能为空"}).inputValidator({min:1,max:999,onerror:"自定义域名不能为空"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=zhuanlan&c=member_index&a=public_check_domain",
		datatype : "html",
		async:'false',
		success : function(data){
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "禁止使用或已经存在",
		onwait : "验证中"
	});
	$("#code").formValidator({onshow:"请输入验证码",onfocus:"验证码不能为空"}).inputValidator({min:1,max:999,onerror:"验证码不能为空"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=zhuanlan&c=member_index&a=public_checkcode",
		datatype : "html",
		async:'false',
		success : function(data){	
            if(data == 1)
			{
                return true;
			}
            else
			{
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "验证码错误",
		onwait : "验证中"
	});
})
//-->
</script>
<script type="text/javascript">
<!--
	var charset = '<?php echo CHARSET?>';
	var uploadurl = '<?php echo shy_base::load_config('system','upload_url')?>';
//-->
</script>
<div id="memberArea">
{template 'member', 'left'}
<div class="col-auto">

<div class="col-1 ">
<h6 class="title">申请专栏作家</h6>
<div class="content">
<form name="myform" action="{APP_PATH}index.php?m=zhuanlan&c=member_index&a=register" method="post" id="myform">
<table width="100%" cellspacing="0" class="table_form">
  <tr>		
     <tr>
       <th>专栏名称：</th>
       <td><input name="name" type="text" id="name" size="30" value="{$username}"  class="input-text"/></td>
     </tr>
     <tr>
       <th>自定义域名：</th>
       <td><input name="domain" type="text" id="domain" size="30"  class="input-text"/></td>
     </tr>
     <tr>
       <th>专栏头像：</th>
       <td><?php echo form::images('thumb', 'thumb', '', 'zhuanlan', '', 40, '', '', '', array(350, 350))?></td>
     </tr>
     <tr>
       <th>专栏介绍：</th>
       <td><textarea name="authors"  id="authors" rows="5" cols="50" value=></textarea></td>
     </tr>
     <tr>
       <th>验证码：</th>
       <td><input name="code" type="text" id="code" size="10"  class="input-text"/> {form::checkcode('code_img','4','14',110,30)}</td>
     </tr>
     <tr>
       <td></td>
       <td colspan="2"><label>
         <input type="submit" name="dosubmit" id="dosubmit" value="确 定" class="button"/>
         </label></td>
     </tr>
   </table>
   </form>
   </div>
   <span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
   </div>
   </div>
</div>
<script type="text/javascript">
$(function(){
	$(".payment-show").each(function(i){
		if(i==0){
			$(this).addClass("payment-show-on");
		}
   		$(this).click(
			function(){
				$(this).addClass("payment-show-on");
				$(this).siblings().removeClass("payment-show-on");
			}
		)
 	});
	
})

</script>
{template 'member', 'footer'}