<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<title>沭阳网搜索 - {$search_q} - {$SEO['site_title']} - 沭阳论坛网</title>
<link type="text/css" rel="stylesheet" href="https://statics.05273.cn/search/images/style.css?v={CSS_VERSION}" />
<link href="https://statics.05273.cn/statics/css/search.css?v={CSS_VERSION}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/cookie.js"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/search_common.js"></script>
<script type="text/javascript">
     if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
        if(window.location.href.indexOf("?mobile")<0){
            try{
                window.location.href="https://wap.05273.cn/index.php?controller=search";
            }catch(e){}
        }
    }
</script>
</head>
    <body class="discuzx col3">
        <div id="wrapper">
        <div id="header">
    <div id="nav" class="cl">
            <div class="a">
            <div onmouseout="document.getElementById('navs-menu').style.display='none'" onmouseover="document.getElementById('navs-menu').style.display='block'" class="v2" id="navs-wraper-v2">
                <p id="return-homepage"><a class="show-menu" href="https://www.05273.cn/">返回首页</a></p>
                <ul id="navs-menu" style="display: none;">
                                                    <li><a href="https://www.05273.cn">沭阳论坛网</a></li>
                                                                    <li><a href="https://bbs.05273.cn/">沭阳论坛</a></li>
                                                                    <li><a href="https://bbs.05273.cn/forum.php?mod=guide">导读</a></li>
                                                                    <li><a href="https://bbs.05273.cn/home.php?mod=follow">广播</a></li>
                                                                    <li><a href="https://bbs.05273.cn/forum.php?mod=collection">淘帖</a></li>
                                                                    <li><a href="https://bbs.05273.cn/group.php">沭阳贴吧</a></li>
                                                                    <li><a href="https://bbs.05273.cn/home.php">沭阳家园</a></li>
                                                                    <li><a href="https://bbs.05273.cn/userapp.php">游戏</a></li>                                                                                                                                                </ul>
                </div>
            </div>
            <div class="b"></div>
        </div>
