{template "member","header"}
<link type="text/css" href="https://statics.05273.cn/statics/member/css/member.css" rel="stylesheet">
<div id="bd">
{template 'member', 'top'}
    <div class="uc-bd wp mt40">
{template 'member', 'left'}
        <div class="mn fr">
            <div class="uc-wp">
                <div class="hd">
                    <h2 class="fl">{L('modify').L('email')}/{L('password')}</h2>
                </div>
                <div class="bd mt20">
                    <div class="content info-space">
					<form method="post" action="" id="myform" name="myform">
                        <div class="form-group">
                            <label class="control-label" for="student-qq">{L('email')}:</label>
                            <input class="info-input-text" name="info[email]" type="text" id="email" size="30" value="{$memberinfo['email']}" readonly="readonly">
                            <a class="btn btn-primary info-submit" href="javascript:setmail();">点击修改邮箱</a>
                            <script language="JavaScript">
                                 function setmail() {
                                    var mm = document.getElementById("email");
                                    mm.readOnly=false;
                                    mm.focus();
                                    mm.select();
                                   
                                 }

                                 function unsetmail() {
                                     document.getElementById("email").readOnly=true;
                                 }
    
                                </script>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="student-qq">{L('old_password')}:</label>
                            <input class="info-input-text" name="info[password]" type="password" id="password" size="30" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="student-qq">{L('new_password')}:</label>
                            <input class="info-input-text" name="info[newpassword]" type="password" id="newpassword" size="30" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="student-qq">{L('re_input').L('new_password')}:</label>
                            <input class="info-input-text" name="info[renewpassword]" type="password" id="renewpassword" size="30" value="">
                        </div>
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                        	<input class="btn btn-primary info-submit" type="submit" name="dosubmit" id="dosubmit" value="{L('submit')}" />
                        </div>
					</form>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#newpassword").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#renewpassword").formValidator({onshow:"{L('input').L('cofirmpwd')}",onfocus:"{L('input').L('passwords_not_match')}",oncorrect:"{L('passwords_match')}"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"{L('input').L('passwords_not_match')}"});	
	$("#email").formValidator({min:2,max:32,onerror:"{L('email').L('between_2_to_32')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"app=member&controller=index&view=public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('email_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	}).defaultPassed();
})
//-->
</script>
{template "member","footer"}