<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>小黑屋 - 沭阳网 - 沭阳地区资讯门户</title>
<meta name="keywords" content="沭阳网小黑屋">
<meta name="description" content="小黑屋展示的是被封禁的用户及被封原因">
<link href="https://statics.05273.cn/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="https://statics.05273.cn/statics/css/default_blue.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/commonmoxing.css" />
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/ver1.0.css" />
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/table_form.css" />
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.sgallery.js"></script>
<link href="https://statics.05273.cn/statics/css/member.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="topbox">
	<div class="intopbox">
    	<div class="t_left">
  <li class="t_text01">
 <form class="login-form" id="page_loginForm"  action="//www.05273.cn/index.php?app=member&controller=index&view=login" method="post" onsubmit="return Login.check(this)">
    <input type="hidden" name="logintype" value="page" />
    <input type="hidden" name="forward" id="forward"  value="https://www.05273.cn"/>
&nbsp;&nbsp;&nbsp;&nbsp;沭阳论坛通行证
	用户名: <input type="text" id="username" name="username" size="15" class="int"> 
	密&nbsp;&nbsp;&nbsp;码: <input type="password" id="password" name="password" size="15" class="int"> 
	<input type="submit" name="dosubmit" id="dosubmit" class="input_bn" value=" ">
     <a href="https://passport.05273.cn/member-register.html" target="_blank">注册账户</a> | <a href="https://passport.05273.cn/member-public_forget_password.html" target="_blank">找回密码</a> | <a href="https://passport.05273.cn/member-public_qq_loginnew.html" target="_blank"><img alt="使用QQ登录" title="使用QQ登录" src="https://www.05273.cn/images/qq_5016.png" height="16" width="50" /></a>
  </form>
<script type="text/javascript">Login.isLogin('///www.05273.cn/index.php?app=member&controller=index&view=top_mini','page_loginForm','page');</script>
</li>
     </div>
        <div class="t_text01 t_right"><a href="https://www.05273.cn/ad-7/" target="_blank" style="font-weight: bold;color: red">官方微博</a>【<a href="https://www.05273.cn/sheweishouye.html" target="_blank">设为首页</a>】&nbsp;<a href="https://www.05273.cn/gundong.html" target="_blank">最新滚动</a>&nbsp;</div>
    </div>
    <div class="intopbox">
    	<div class="logo"><a href="https://www.05273.cn/"><img src="https://www.05273.cn/images/logo1.gif" height="81" width="178" alt="沭阳网" /></a></div>
        <div class="dh">
<ul class="dh_ul1">
            	<li><span  class="dh_bg"><a href="https://www.05273.cn/news/">沭阳新闻</a></span></li>
            	<li><a href="https://www.05273.cn/news/rd/">热点新闻</a></li>
            	<li><a href="https://www.05273.cn/news/xn/">县内新闻</a></li>
            	<li><a href="https://www.05273.cn/news/bm/">部门动态</a></li>
            	<li><a href="https://www.05273.cn/news/zf/">政府新闻</a></li>
            	<li><a href="https://www.05273.cn/bianmin/">便民服务</a></li>
            	<li><a href="https://www.05273.cn/bianmin/gk">沭阳概况</a></li>
            	<li><a href="https://www.05273.cn/daodu/">国内资讯</a></li>
            	<li><a href="https://www.05273.cn/news/sh/">社会新闻</a></li> 
            </ul>
            <ul class="dh_ul1">
            	<li><span  class="dh_bg"><a href="https://www.05273.cn/pinpai">品牌空间<sup class="qiang"></sup></a></span></li>
                <li><a href="https://www.05273.cn/photo/">沭阳美景</a></li>
                <li><a href="https://www.05273.cn/jingqu/">景区景点</a></li>
                <li><a href="https://www.05273.cn/binguan/">酒店宾馆 </a></li>
                <li><a href="https://www.05273.cn/canying/">餐饮娱乐</a></li>
                <li><a href="https://www.05273.cn/house/">沭阳房产</a></li>
                <li><a href="https://www.05273.cn/shuyang/">学沭阳话</a></li>
                <li><a href="https://www.05273.cn/hr/">人才招聘</a></li>
                <li><a href="https://www.05273.cn/yellow/">企业黄页</a></li>
            </ul>
            <ul class="dh_ul1">
            	<li><span  class="dh_bg"><a href="https://bbs.05273.cn/home.php">互动娱乐</a></span></li>
                <li><a href="https://bbs.05273.cn/home.php">沭阳家园</a></li>
                <li><a href="https://bbs.05273.cn/home-space-do-home.html">我的博客</a></li>
                <li><a href="https://bbs.05273.cn/home-space-do-album.html">会员相册</a></li>
                <li><a href="https://bbs.05273.cn/home-space-do-home-view-all.html">随便看看</a></li>
                <li><a href="https://bbs.05273.cn/space.php?do=home">我的家园</a></li>
                <li><a href="https://bbs.05273.cn/home-space-do-blog.html">精彩日志</a></li>
                <li><a href="https://www.05273.cn/love/">交友娱乐</a></li>
                <li><a href="https://www.05273.cn/fushi/">流行服饰</a></li>
            </ul>
            <ul class="dh_ul1">
            	<li><span  class="dh_bg"><a href="https://bbs.05273.cn/">沭阳论坛<sup class="re"></sup></a></span></li>
                <li><a title="天南地北沭阳人" target="_blank" href="https://bbs.05273.cn/forum-88-1.html">天南地北</a></li>
                <li><a title="沭阳话专区" target="_blank" href="https://bbs.05273.cn/forum-86-1.html">学沭阳话</a></li>
                <li><a title="沭阳街头" target="_blank" href="https://bbs.05273.cn/forum-87-1.html">沭阳街头</a></li>
                <li><a title="新闻爆料" target="_blank" href="https://bbs.05273.cn/forum-92-1.html">新闻爆料</a></li>
                <li><a title="美眉贴图" target="_blank" href="https://bbs.05273.cn/forum-82-1.html">美眉贴图</a></li>
                <li><a title="沭阳水吧" target="_blank" href="https://bbs.05273.cn/forum-64-1.html">沭阳水吧</a></li>
                <li><a title="开心天地" target="_blank" href="https://bbs.05273.cn/forum-66-1.html">开心天地</a></li>
                <li><a title="原创文学" target="_blank" href="https://bbs.05273.cn/forum-81-1.html">原创文学</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="ss">
	<div class="ss_left">
    	<ul>
          <form action="https://www.05273.cn/index.php" method="get">
          <li class="t_text02">站内搜索：</li>
          <li>
				<input type="hidden" name="app" value="search"/>
				<input type="hidden" name="controller" value="index"/>
				<input type="hidden" name="view" value="init"/>
				<input type="hidden" name="typeid" value="1" id="typeid"/>
				<input type="hidden" name="siteid" value="1" id="siteid"/>
                <input size="60" class="int1" type="text" value="" id="q" name="q" />
                <input class="search_bn" type="submit" value=" "/>
          </li>
		</form>
        </ul>
        <ul>
        	<li class="t_text02 ss_left_text01">热词：</li>
            <li class="ss_left_text">
            <!--#include virtual="/caches/posid/remenhot.html"--> 
            </li>
        </ul>
    </div>
    <div class="ss_right">
    	<ul>
            <li class="ss_right01"><a href="https://www.05273.cn/plus/ditu/" target="_blank">地图</a></li>
            <li class="ss_right02"><a href="https://www.05273.cn/plus/gongjiao/" target="_blank">公交</a></li>
            <li class="ss_right03"><a href="https://www.05273.cn/plus/huoche/" target="_blank">火车</a></li>
            <li class="ss_right04"><a href="https://www.05273.cn/plus/jipiao/" target="_blank">机票</a></li>
            <li class="ss_right05"><a href="https://www.05273.cn/plus/tianqi/" target="_blank">天气</a></li>
            <li class="ss_right06"><a href="https://www.05273.cn/plus/gushi/" target="_blank">股市</a></li>
            <li class="ss_right08"><a href="https://www.05273.cn/plus/caipiao/" target="_blank">彩票</a></li>
            <li class="ss_right07"><a href="https://www.05273.cn/plus/wannianli/" target="_blank">万年历</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<div id="topbox">
<div class="intopbox">
<DIV class="wp" id="wp">
<DIV class="bm cl" id="pt">
<DIV class="z"><A title="首页" href="https://www.05273.cn/">沭阳网</A> <EM>&#8250;</EM> <A href="https://www.05273.cn/darkroom.html">小黑屋</A> 
</DIV></DIV></DIV>
<div class="clear"></div>
<div class="col-auto"> 
		<div class="col-1 ">
			<h5 class="title">沭阳网小黑屋</h5>
			<div class="content">
			<table width="100%" cellspacing="0"  class="table-list">
        <thead>
            <tr>
            <th width="20">ID</th>
            <th width="40">用户名</th>
            <th width="80">昵称</th>
            <th width="90">注册IP</th>
            <th width="50">操作行为</th>
            <th width="50">被封原因</th>
            </tr>
        </thead>
    <tbody>
{edi:get sql="SELECT * FROM v9_member where groupid=1 order by userid desc" cache="3600"  num="15" page="$_GET[page]"  return="data"}
{loop $data $v}
	<tr>
	<td width="50"><a href="https://www.05273.cn/darkroom.html?view=shuyang&uid={$v['userid']}" target="_blank">{$v['userid']}</a></td>
	<td width="100">{$v['username']}</td>
	<td width="100">{$v['nickname']}</td>
	<td width="110">{$v['regip']}</td>
	<td width="100">禁止登录</td>
	<td width="200">{if $v[yuanyin]}{$v['yuanyin']}{else}注册机{/if}</td>
	</tr>
        {/loop}
	    </tbody>
    </table>

 <div id="pages">{$pages}</div>
{/edi}
			</div>

		</div>
	</div>
   </div>
</div>
<div class="clear"></div>
{template "content","footer"}
