{template "member","header"}
<link type="text/css" href="https://statics.05273.cn/statics/member/css/login.css" rel="stylesheet">
<style type="text/css">body{background-color:#f1faff;}#code_img{cursor:pointer;}</style>
<div id="bd" class="mt160">
    <div class="xs-member-wp wp">
        <div class="xs-member xs-member-wp xs-tab fr">
            <div class="hd tac"><h2>{L('use_mobile_get_password')}</h2></div>
            <div class="bd mt30">
				<p class="mt20 mb20" style="line-height:24px;">输入用户名，验证码会发到绑定手机上,您也可以<a href="{PASSPORT_PATH}member-public_forget_password.html">{L('use_email_get_password')}</a>。</p>
					{if $step==1}
				<script language="JavaScript">
				<!--
				$(function(){
					$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
					$("#username").formValidator({onshow:"请输入用户名",onfocus:"应该为2-20位之间"}).inputValidator({min:2,max:20,onerror:"应该为2-20位之间"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"用户名格式错误"});
				});
				//-->
				</script>
                <form method="post" action="" id="myform">
                <input type="hidden" name="siteid" value="{$siteid}" />
                <div class="form-group field-registerform-email required" style="min-height:70px;">
                    <label class="iconfont login-icon" for="registerform-email">&#xe632;</label>
                    <input type="text" class="form-control" id="username" name="username" size="36" placeholder="请输入用户名">
                </div>
                <div class="form-group field-registerform-captcha">
                    <label class="iconfont login-icon" for="registerform-captcha">&#xe62e;</label>
                    <input type="text" class="input-code" id="code" name="code" size="10" placeholder="验证码">
                    {form::checkcode('code_img', '4', '16', 125, 34)}
                </div>
                <div class="form-group mt10">
	
				<input type="hidden" name="step" value="2">
				<input type="submit" name="dosubmit" value="{L('submit')}"  class="btn btn-primary xs-register-btn"></div>
                </form>
                {else}
                <form method="post" action="" id="myform">
                <div class="form-group field-registerform-email required" style="min-height:70px;">
                <label> 您绑定的手机号码为：{substr($r['mobile'],0,3)}****{substr($r['mobile'],-3)}</label>
                </div>
                <input type="hidden" name="step" value="3">
				<script type="text/javascript">
				<!--
					function get_verify() {
						$.get("index.php?app=api&controller=index&op=sms",{ session_code: '{$_SESSION['code']}',random:Math.random()}, function(data){
							if(data=="0") {
								$("#mobile_div").hide();
								$("#mobile_send").show();
							} else if(data=="-1") {
								alert("你今天获取验证码次数已达到上限");
							} else {
								alert("短信发送失败");
							}
						});
					}
				//-->
				</script>
				<script language="JavaScript">
				<!--
				$(function(){
					$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
					$("#mobile_verify").formValidator({onshow:"短信校验码",onfocus:"应该为4-8位之间"}).inputValidator({min:4,max:8,onerror:"应该为4-8位之间"});
				});
				//-->
				</script>
                <div class="form-group field-registerform-email required" style="min-height:70px;">
                    <label class="iconfont login-icon" for="registerform-email">&#xe62e;</label>
                    <input type="text" class="form-control" id="mobile_verify" name="mobile_verify" size="36" placeholder="请输入验证码">
                </div>
                <div class="form-group mt10">
				<span id="mobile_div"><button onclick="get_verify()" type="button" class="btn btn-primary xs-register-btn">获取短信校验码</button></span>
				<span id="mobile_send" style="display:none">，短信已发送成功，请查收，短信如在10分钟内没有收到，请重试其他方法</span>
				</div>
                <div class="form-group mt10">
                    <button type="submit" class="btn btn-primary xs-register-btn" id="dosubmit" name="dosubmit" >{L('submit')}</button>
                </div>
                </form>
                {/if}
				<p>&nbsp;</p>
				<p class="mt20 mb20 tac">已经记起了密码？ <a href="{PASSPORT_PATH}member-login.html">马上登录</a></p>
            </div>
        </div>
    </div>
</div>
{template "member","footer"}