{template "member","header"}
<link type="text/css" href="https://statics.05273.cn/statics/member/css/login.css" rel="stylesheet">
<style type="text/css">body{background-color:#f1faff;}#code_img{cursor:pointer;}</style>
<div id="bd" class="mt160">
    <div class="xs-member-wp wp">
        <div class="xs-member xs-member-wp xs-tab fr">
            <div class="hd tac"><h2>{L('forgetpassword')}</h2></div>
            <div class="bd mt30">
				<p class="mt20 mb20" style="line-height:24px;">{L('forget_password_notice')}如果您忘记了注册邮箱，也可以<a href="{PASSPORT_PATH}member-public_forget_password_username.html">{L('use_username_get_password')}</a>。</p>
                <form class="xs-member-form tab-bd" id="myform" action="{PASSPORT_PATH}member-public_forget_password.html" method="post">
                <input type="hidden" name="siteid" value="{$siteid}" />
                <div class="form-group field-registerform-email required" style="min-height:70px;">
                    <label class="iconfont login-icon" for="registerform-email">&#xe632;</label>
                    <input type="text" class="form-control" id="email" name="email" size="36" placeholder="请输入邮箱">
                </div>
                <div class="form-group field-registerform-captcha">
                    <label class="iconfont login-icon" for="registerform-captcha">&#xe62e;</label>
                    <input type="text" class="input-code" id="code" name="code" size="10" placeholder="验证码">
                    {form::checkcode('code_img', '4', '16', 125, 34)}
                </div>
                <div class="form-group mt10">
                    <button type="submit" class="btn btn-primary xs-register-btn" id="dosubmit" name="dosubmit" >{L('submit')}</button>
                </div>
                </form>
				<p>&nbsp;</p>
				<p class="mt20 mb20 tac">已经记起了密码？ <a href="{PASSPORT_PATH}member-login.html">马上登录</a></p>
            </div>
        </div>
    </div>
</div>
{template "member","footer"}