<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=GBK" /> 
<title>选择频道分类菜单</title> 
<style type="text/css"> 
* {margin:0 auto;} 
#main {margin:20px 0 0 0} 
#maintips {text-align:center;} 
#main ul {width:600px;height:165px;list-style:none} 
#main li {border-left:1px solid #ccc;border-top:1px solid #ccc;float:left;width:102px;height:33px;text-align:center;line-height:33px} 
#main li.b {border-bottom:1px solid #ccc} 
#main li.r {border-right:1px solid #ccc} 
a{text-decoration:none;color:#000000;}
a:hover {color:#FF0000;text-decoration:underline;}
</style> 
<link href="https://statics.05273.cn/statics/css/member.css" rel="stylesheet" type="text/css" />
</head> 

<body> 
<div id="main"> 
<ul> 
<li><a href="post-10.html" target="_blank">民生资讯</a></li> 
<li><a href="post-11.html" target="_blank">地方资讯</a></li> 
<li><a href="post-12.html" target="_blank">实用新闻</a></li>
<li><a href="post-13.html" target="_blank">国内评论</a></li> 
<li class="r"><a href="post-14.html" target="_blank">社会万象</a></li> 
<li><a href="post-15.html" target="_blank">港澳台</a></li>
<li><a href="post-57.html" target="_blank">旅游景区</a></li>  
<li><a href="post-58.html" target="_blank">酒店宾馆</a></li> 
<li><a href="post-59.html" target="_blank">餐饮美食</a></li>
<li class="r"><a href="post-60.html" target="_blank">沭阳房产</a></li> 
<li><a href="post-61.html" target="_blank">学沭阳话</a></li> 
<li><a href="post-62.html" target="_blank">人才招聘</a></li> 
<li><a href="post-63.html" target="_blank">企业黄页</a></li> 
<li class="b"><a href="post-64.html" target="_blank">电脑商家</a></li> 
<li class="b r"><a href="post-65.html" target="_blank">沭阳交友</a></li> 
<li class="b"><a href="post-22.html" target="_blank">县内新闻</a></li> 
<li class="b"><a href="#" target="_blank"></a></li> 
<li class="b r"><a href="#" target="_blank"></a></li>
</ul>
<br>
<br>
</div>
<div id="maintips"> 
友情提示：请按照您所需要发布的信息，选择好分类<br>   这和能否获得审核有很大关系！
</div> 
</body> 
</html> 