{template "member","header"}
<script type="text/javascript">
<!--
	var charset = '{CHARSET}';
	var uploadurl = '{php echo shy_base::load_config('system','upload_url')}';
//-->
</script>
<script type="text/javascript" src="{JS_PATH}video/swfobject.js"></script>
<script type="text/javascript" src="{JS_PATH}video/swfobject2.js"></script>
<SCRIPT LANGUAGE="JavaScript">
<!--
var js4swf = {
    onInit: function(list){
        // 初始化时调用, 若 list.length > 0 代表有可续传文件
        // [{file}, {file}]
		if(list.length > 0) {
		    var length = list.length-1;
			$('#list_name').html("文件：《"+list[length].name+"》未上传完成，如需续传，请重新选择该文件");
		}
        this.showMessage('init', list);
    },
    onSelect: function(files){
        // 选中文件后调用, 返回文件列表
        // [{file}, {file}]
        this.showMessage('select', files);
    },
    onSid: function(evt){
        // 获得 sid 后返回, 更新 sid 用 (key, sid, name, type, size)
		if ($('#title').val()=='') {
			$('#title').val(evt.name);
		}
		var ku6vid = evt.vid;
		$.get('index.php', {app:'video', controller:'vid', view:'check', vid:ku6vid});
        this.showMessage('sid', evt);
    },
    onStart: function(){
        // 开始上传 (选择文件后自动开始)
        this.showMessage('start');
    },
    onCancel: function(){
        // 上传取消事件

        this.showMessage('cancel');
    },
    onProgress: function(evt){
        // 上传进度事件 (bytesLoaded, bytesTotal, speed) m=1 时没有这事件
        this.showMessage('progress', evt);
    },
    onComplete: function(evt){
        // 上传完成事件 (包含文件信息和完成后返回数据(data))
		$('#vid').val(evt.vid);
		//document.getElementById('frm').submit();
        this.showMessage('complete', evt);
        
    },
    onWarn: function(evt){
        // 报错事件 (key, message)
        //this.showMessage('warn', evt);
		alert(evt.msg);
    },
    showMessage: function(){
        console.log(arguments);
    }
};
function checkform() {
	if($('#vid').val()=='0') {
		alert('您没有选择视频，或者视频正在上传中...');
		return false;
	}
	if($('#title').val()=='') {
		alert('请填写标题');
		$('#title').focus();
		return false;
	}
}
//-->
</SCRIPT>
<script type="text/javascript">
var flashvars = { m: "1", u: "{$flash_info['userid']}", ctime: "{$flash_info['passport_ctime']}", sig: "{$flash_info['passport_sig']}", c: "vms", t: "1", n: "js4swf", k: "190000" ,ms:"39",s: "8000000"};
var params = { allowScriptAccess: "always" , wmode: "transparent"};
var attributes = { };
swfobject.embedSWF("{$flash_info['flashurl']}", "ku6uploader", "450", "45", "10.0.0", null, flashvars, params, attributes);
</script>
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="https://statics.05273.cn/statics/member/css/member.css" rel="stylesheet">
<div id="bd">
{template 'member', 'top'}
    <div class="uc-bd wp mt40">
{template 'member', 'left'}
        <div class="mn fr">
            <div class="uc-wp info-uc">
                <div class="hd">
                    <div class="fl"><h2>视频发布</h2></div>
                </div>
                <div class="info-space mt20">
			<form method="post" action="" id="myform" name="myform">
                        <div class="form-group">
                            <label class="control-label" for="student-qq"> 选择栏目</label>
						<td>{$cat_list}</td>
                        </div>	
                        <label class="control-label" for="student-qq"> 选择视频</label>
						<td><div id="ku6uploader"></div></td>
                        <div class="form-group">
                            <label class="control-label" for="student-qq"> 标题</label>
						<td><input type="text" style="width:400px;" name="info[title]" id="title" value="" class="info-input-text" onblur="$.post('index.php?app=api&controller=index&op=get_keywords&amp;number=3&amp;sid='+Math.random()*5, {data:$('#title').val()}, function(data){if(data &amp;&amp; $('#keywords').val()=='') $('#keywords').val(data); })" onkeyup="strlen_verify(this, 'title_len', 80);"><span id="balance"><span></td>
                        </div>	
                        <div class="form-group">
                            <label class="control-label" for="student-qq"> 视频简介</label>
						<td><textarea name="info[description]" id="description" style="width:60%;height:56px;" class="input-focus"></textarea></td>
                        </div>	
                        <div class="form-group">
                            <label class="control-label" for="student-qq"> 标签</label>
						<td><input type="text" name="info[keywords]" id="keywords" value="" style="width:280px" class="input-text"> 多个用空格隔开</td>
                        </div>	
					<tr>
						<th></th>
						<td>
						<input name="forward" type="hidden" value="{HTTP_REFERER}">
						<input type="hidden" name="vid" id="vid" value="0">
						<input name="dosubmit" type="submit" id="dosubmit" value="{L('submit')}" class="button"></td>
					</tr>
				</table>
			</form>
                </div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script type="text/javascript"> 
<!--
//只能放到最下面
$(function(){
	$.formValidator.initConfig({formid:"myform",autotip:true,onerror:function(msg,obj){window.top.art.dialog({content:msg,lock:true,width:'200',height:'50'}, 	function(){$(obj).focus();
	boxid = $(obj).attr('id');
	if($('#'+boxid).attr('boxid')!=undefined) {
		check_content(boxid);
	}
	})}});
	{$formValidator}
})
//-->
</script>
{template "member","footer"}