<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=GBK" /> 
<title>选择频道分类菜单</title> 
<style type="text/css"> 
* {margin:0 auto;} 
#main {margin:20px 0 0 20px} 
#main ul {width:600px;height:165px;list-style:none} 
#main li {border-left:1px solid #ccc;border-top:1px solid #ccc;float:left;width:102px;height:33px;text-align:center;line-height:33px} 
#main li.b {border-bottom:1px solid #ccc} 
#main li.r {border-right:1px solid #ccc} 
a{text-decoration:none;color:#000000;}
a:hover {color:#FF0000;text-decoration:underline;}//
</style> 
<link href="https://statics.05273.cn/statics/css/member.css" rel="stylesheet" type="text/css" />
<link href="https://statics.05273.cn/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="https://statics.05273.cn/statics/css/member.css" rel="stylesheet" type="text/css" />
<link href="https://statics.05273.cn/statics/css/table_form.css" rel="stylesheet" type="text/css" />
</head> 
<body> 
<div id="main"> 
<ul> 
  <tr>
       <th><font style="color:#F00; font-size:16px;">对不起，您的积分不足：</font><br></em></th>
       <td>     
		<label class="payment-show"><em>说明</em><br><span class="payment-desc">本站非常欢迎各大网友前来发布信息，<br>但是为了防御垃圾信息的泛滥，特开启积分判断，<br>当您的账户积分小余<font style="color:#F00;">100</font>的时候将无法发布信息，<br>您可以发表评论进行赚取，或者选择左侧在线充值进行充值兑换！<br><br>您当前的余额为:<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">{$memberinfo[amount]}</font>元<br>您当前的积分为:<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">{$memberinfo[point]}</font><br><br>注：发布信息免费，并且注册的时候已经赠送5元，可以直接兑换50积分使用，如不够请自行充值！或者投稿到邮箱：news@05273.cn</span></label>	   </td>     </tr>
  <tr>		
   </div>
   </div>
</div>
</ul> 
</div> 
</body> 
</html> 