body,ul,p,h1,h2,h3,h4,h5{margin:0;padding:0;}
body{text-align:left;font-family:STHeiti,Arial;font-size:63%}
li{list-style:none;}
a,a:visited{text-decoration:none;color:#000;}
.fl{float:left;}
.fr{float:right;}
.bold{font-weight:bold;}
.indent{text-indent:2.4em;}
.m5{margin:5px;}
.m10{margin:10px;}
.cf:after{content:"";display:table;clear:both}
.cf{*zoom:1}
body{background:#F5F5F5;}
a:link,a:visited {color:#1D6AC7}
.ui-content{padding:15px;}
.page1 h1 {
	text-align:left;
	font-size:2.2em;
	margin:0 auto;
}
.content-info {
	width:100%;
	padding:10px 0 16px 0;
	margin-bottom:19px;
	border-bottom:1px solid #E0E3E6;
	font-size:1.4em;;
}
.content-info span {
	display:inline;
	padding-right:15px;
	color:#70747A
}
.content-main {padding-bottom:15px}
.content-main p {
	text-align:left;
	font-size:1.8em;
	line-height:1.6em;
	margin:15px 0;
}
.page-player {margin:25px auto}
.content-main img {
	border:solid 1px #cccccc;
	margin:0 auto;
	max-width:100%;
	width:70%;
	display:block;
}
/* 相关阅读 */
	.relatednews {
	border-top:solid 1px #cacdd0;
	font-size:1.6em;
	margin:20px 0 0px
}
.relatednews .relatednews-tit {
	height:34px;
	background:#efefef;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #e0e3e6;
	line-height:34px;
	overflow:hidden
}
.relatednews .relatednews-tit span {
	background-size:11px 13px;
	color:#80848a;
	float:left;
	text-indent:5px
}
.relatednews li {
	height:43px;
	background-size:14px 13px;
	border-bottom:solid 1px #e0e3e6;
	line-height:43px;
	text-indent:5px;
	overflow:hidden;
	padding-right:20px
}
.relatednews li.on{background:#e8e8e8;}
.relatednews li:last-child {
	border-bottom:0
}
.relatednews li a {
	color:#333;
}	
.topad {
	height:45px;
	background:#f0efed;
}
.topad img {
	width:231px;
	float:right;
	margin:12px 1.6em 0 0;
	display:inline
}
.header #comment-num{height:44px;float:right;}
.header #comment-num span{height:26px;
background:url("http://statics.05273.cn/statics/mobile/img/pl.png") 0 2px no-repeat;
background-size:21px 19px;color:#c0defe;float:right;font-size:1.4em;font-weight:bold;text-indent:24px;line-height:22px;
margin:10px 15px 0 0;overflow:hidden;
}
.header #comment-num.on{background:#294876;opacity:0.3; padding-left:14px;}
.header .comment-num {
	width:90%;
	color:#fff;
	font-weight:bold;
	font-size:1.6em;
	margin:0 auto;
	display:block;
	text-align:center;
	margin-top:14px;

}
.header .comment-num2 {
	width:90%;
	margin:0 auto;
	font-size:1.6em;
	text-align:center;
	margin-top:12px;
	color:#fff;
	font-weight:bold;
}
.header #writeComment{height:44px;
float:right;}
.header #writeComment.on{background:#294876;opacity:0.3;}
.header #writeComment span{width:20px;height:20px;
background:url("http://statics.05273.cn/statics/mobile/img/pl2.png") no-repeat;
background-size:20px 20px;text-align:left;float:right;margin:12px 14px 0 14px}
.header #writeComment .ui-icon-shadow {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
#TencentComment .Tencent-header-button {
	right:15px
}
#TencentComment .Tencent-header-button .ui-btn-text {
	background:url("http://statics.05273.cn/statics/mobile/img/pl6.png") no-repeat 2px 1px;
	background-size:14px 16px
}
.Tencent-comment-login {
	width:100%;
	height:65px;
	background:#EAEAEA;
	border-top:1px solid #D9DCDF;
	line-height:65px;
	text-align:center;
	color:#AAB1B7;
	margin:10px 0 10px
}
.Tencent-comment-login a {
	background:#89BEE7;
	color:#ffffff ;
	padding:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-decoration:none;
	text-shadow:none
}
#TencentLoginQuit {
	background:#adb3b9;
	margin-left:5px
}
.comment-list {
	border-top:solid 1px #cacdd0;
	color:#333;
	font-size:1.6em
}

.comment-list li {
	border-bottom:solid 1px #e0e3e6;
	padding:0.6em 0;
	overflow:hidden;
}
.comment-list li .infobar {
	color:#818791;
	margin:0.2em auto;
	font-size:12px;
	overflow:hidden
}
.comment-list li .infobar .fromwhere {
	float:left
}
.comment-list li .infobar .time {
	float:right;
	padding-right:5px
}
.comment-list li p {

	line-height:1.8em;
}
.comment-list #comment-hot {
	border-top:solid 1px #cacdd0
}
.comment-list .comment-list-tit {
	height:34px;
	background:#efefef;
	border-top:solid 1px #fff;
	border-bottom:solid 1px #e0e3e6;
	line-height:34px
}
.comment-list .comment-hot-pltit {
	background:url("http://statics.05273.cn/statics/mobile/img/pl3.png") 14px 10px no-repeat;
	background-size:14px 12px;
	color:#80848a;
	float:left;
	text-indent:35px
}
.comment-list .comment-hot-plall {
	color:#1d6ac7;
	float:right;
	font-weight:bold;
	padding-right:10px;
	text-decoration:none
}

#comment-hot {margin:1em auto}
.comment-hotbox{margin-bottom:20px;}
.comment-list-page {color:#333;font-size:1.6em;}
.comment-list-page .comment-list-tit {
	height:26px;
	background:#e9ecee;
	border-bottom:solid 2px #cacdd0;
	line-height:26px
}
.comment-list-page .comment-hot-pltit {
	background:url("http://statics.05273.cn/statics/mobile/img/pl4.png") 14px 7px no-repeat;
	background-size:14px 12px;
	color:#454545;
	float:left;
	text-indent:35px
}
.comment-list-page .comment-hot-new {
	background:url("http://statics.05273.cn/statics/mobile/img/pl5.png") 14px 7px no-repeat;
	background-size:14px 12px
}
.comment-list-page ul {
	border-top:solid 1px #fff;
	padding:0 15px
}
.comment-list-page li {
	width:100%;
	border-bottom:1px solid #E0E3E6;
	margin:5px 0 5px;
	overflow:hidden
}
.comment-list-page li .infobar {
	color:#3A87C9;
	margin:0.1em auto;
	font-size:12px;
	overflow:hidden
}
.comment-list-page li .infobar .infobar-left {
	width:55%;
	float:left
}
.comment-list-page li .infobar .infobar-right {
	width:45%;
	float:right
}
.comment-list-page li .infobar span {
	display:block;
	line-height:1.6em
}
.comment-list-page li .infobar .fromwhere {
	color:#818791
}
.comment-list-page li .infobar .time {
	color:#818791;
	margin-top:22px;
	float:right;
	padding-right:5px
}
.comment-list-page li p {
	text-align:left;
	font-size:1em;
	line-height:1.4em;
	margin:8px 0 15px
}
.comment-list-page .comment-newbox {
	margin:0px 0 20px
}
.ui-bar-b {
	background-image:-webkit-gradient(linear,left top,left bottom,from(#eeeff0),to(#caccd0));
	border-top:solid 1px #fcfcfc;
	border-bottom:solid 1px #53565c
}
.commentFooter{
	background-image:-webkit-gradient(linear,left top,left bottom,from(#eeeff0),to(#caccd0));
	border-top:solid 1px #fcfcfc;
	border-bottom:solid 1px #53565c;
	padding:10px 0;
}
.commentFooter textarea {
	width:90%;
	height:24px;
	background:#fff url("http://statics.05273.cn/statics/mobile/img/pl6.png") right 8px no-repeat;
	background-size:18px 14px;
	border:solid 1px #86888b;
	box-shadow:inset 0 1px 4px rgba(0, 0, 0, .2);
	border-radius:0.6em;
	-moz-border-radius:0.6em;
	-webkit-border-radius:0.6em;
	display:block;
	padding:0 0 0 0.5em;
	color:#999;
	display:inline-block;
	vertical-align:top;
	padding-top:4px;
	margin:0 0 0 4%;
}
.commentFooters textarea {
	width:90%;
	height:84px;
	background:#fff url("http://statics.05273.cn/statics/mobile/img/pl6.png") right 8px no-repeat;
	background-size:18px 14px;
	border:solid 1px #86888b;
	box-shadow:inset 0 1px 4px rgba(0, 0, 0, .2);
	border-radius:0.6em;
	-moz-border-radius:0.6em;
	-webkit-border-radius:0.6em;
	display:block;
	padding:0 0 0 0.5em;
	color:#999;
	display:inline-block;
	vertical-align:top;
	padding-top:4px;
	margin:0 0 0 4%;
}
#commentPub .ui-btn-inner {
	text-overflow:clip
}
.ui-field-contain .ui-controlgroup-controls {
	width:90%;
	margin:0 4.5%;
	text-align:center
}
.commentFooterFocus textarea {
	width:70% !important;
	font-size: 16px;
	background:#fff none
}
#commentPub {
	border:solid 1px #4b89c8;
	background:url("http://statics.05273.cn/statics/mobile/img/pl7.png") no-repeat;
	background-size:60px 31px;
	display:none;
	padding:0 4px;
	border:0px
}
.commentFooterFocus #commentPub {
	display:inline-block
}

.topad-ondown {background:#ecebe9;}
.page1 .main-ad {
	width:100%;
	text-align:center;
	margin-top:20px;
	max-width:100%
}
.page1 .main-ad img {
	max-width:270px;
	max-height:60px
}		.pages{margin:10px 0px;border:1px solid #efefef;}		.pages a{ margin:0px 10px; color:#00F;}