<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta name="applicable-device" content="pc">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="mobile-agent" content="format=html5;url={S($url)}">
<link rel="alternate" media="only screen and(max-width: 640px)" href="{S($url)}">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/ver1.0.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/reset.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/default_blue.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/commonmoxing.css">
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/common.js"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.sgallery.min.js"></script>
<script src="//statics.05273.cn/statics/js/jquery.lazyload.min.js" type="text/javascript"></script>
<script type="text/javascript">
     if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
        if(window.location.href.indexOf("?mobile")<0){
            try{
                window.location.href="{S($url)}";
            }catch(e){}
        }
    }
</script>
</head>
<body>
<div id="topbox">
	<div class="intopbox">
    	<div class="t_left">
  <li class="t_text01">
 <form class="login-form" id="page_loginForm"  action="//www.05273.cn/index.php?app=member&controller=index&view=login" method="post" onsubmit="return Login.check(this)">
    <input type="hidden" name="logintype" value="page" />
    <input type="hidden" name="forward" id="forward"  value="https://www.05273.cn"/>
&nbsp;&nbsp;&nbsp;&nbsp;沭阳论坛通行证
	用户名: <input type="text" id="username" name="username" size="15" class="int"> 
	密&nbsp;&nbsp;&nbsp;码: <input type="password" id="password" name="password" size="15" class="int"> 
	<input type="submit" name="dosubmit" id="dosubmit" class="input_bn" value=" ">
     <a href="https://passport.05273.cn/member-register.html" target="_blank">注册账户</a> | <a href="https://passport.05273.cn/member-public_forget_password.html" target="_blank">找回密码</a> | <a href="https://passport.05273.cn/member-public_qq_loginnew.html" target="_blank"><img alt="使用QQ登录" title="使用QQ登录" src="//www.05273.cn/images/qq_5016.png" height="16" width="50" /></a>
  </form>
<script type="text/javascript">Login.isLogin('//www.05273.cn/index.php?app=member&controller=index&view=top_mini','page_loginForm','page');</script>
</li>
     </div>
        <div class="t_text01 t_right"><a href="https://www.05273.cn/ad-7/" target="_blank" style="font-weight: bold;color: red">官方微博</a>【<a href="https://www.05273.cn/sheweishouye.html" target="_blank">设为首页</a>】&nbsp;<a href="https://www.05273.cn/gundong.html" target="_blank">最新滚动</a>&nbsp;</div>
    </div>
    <div class="intopbox">
    	<div class="logo"><a href="https://www.05273.cn/"><img src="//www.05273.cn/images/logo1.gif" alt="沭阳网" /></a></div>
        <div class="dh">
        	<!--#include virtual="/caches/posid/32.html"-->
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="ss">
	<div class="ss_left">
    	<ul>
          <form action="//www.05273.cn/index.php" method="get">
          <li class="t_text02">站内搜索：</li>
          <li>
			    <input type="hidden" name="app" value="search"/>
			    <input type="hidden" name="controller" value="index"/>
			    <input type="hidden" name="view" value="init"/>
				<input type="hidden" name="typeid" value="1" id="typeid"/>
				<input type="hidden" name="siteid" value="1" id="siteid"/>
                <input size="60" class="int1" type="text" value="" id="q" name="q" />
                <input class="search_bn" type="submit" value=" "/>
          </li>
		</form>
        </ul>
        <ul>
        	<li class="t_text02 ss_left_text01">热词：</li>
            <li class="ss_left_text">
            <!--#include virtual="/caches/posid/remenhot.html"--> 
            </li>
        </ul>
    </div>
    <div class="ss_right">
            <!--#include virtual="/caches/posid/35.html"--> 
    </div>
</div>
<div class="clear"></div>
<center><!--#include virtual="/caches/posid/12.html"--></center>
<div class="clear"></div>