<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>沭阳网_单页</title>
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/ver1.0.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/reset.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/default_blue.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/common.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/dialog_simp.css">
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js"></script>
<script type="text/javascript" src="//statics.05273.cn/statics/js/dialog.js"></script>
<style type="text/css">
.header,.main,.footer{width:940px;margin:0 auto; overflow:auto}
</style>
</head>
<body class="rss-channel">
    <div class="body-top special-body-top">
        <div class="content">
        <span class="rt"></span>

            </div>
        </div>
    </div>
    <div class="header">
</div>