{template "header","header_list"}
<div class="navs">
  <div class="nav">
    <ul>
	<li class="home"><a href="https://www.05273.cn/">首页</a></li>
		{edi:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			<li><a href="{$r[url]}" target="_blank">{$r[catname]}</a></li>
			{/loop}
      {/edi}
      <div class="d-code" >
      <div class="d-code-box">
          <i class="tips"></i>
          <img width="132" height="132" alt="" src="//statics.05273.cn/images/index/gundongewm.png">
          <p>微信扫一扫 分享更精彩</p>
      </div>
    </div>
    </ul>
  </div>
</div>
</div>
<!--#include virtual="/caches/posid/rementuji.html"--> 
<!--#include virtual="/caches/posid/pindaoad.html"--> 
<!--/首页导航--> 
<!-- Body Begin -->
<div class="wrap">
<div class="main">
  <div class="submenu">
  <div class="title">
    <h1>{$catname}</h1><div class="subnav"><a href="{siteurl($siteid)}">首页</a> > {catpos($catid)}</div>
  </div>
</div>
  <div class="column2" id="news">
{edi:content action="lists" catid="$catid" num="20" order="id DESC" page="$page"}
    <div class="bd"><div id="listZone">
{loop $data $r}
{php $TYPE = getcache('type_content','commons');}
{php $keywords = explode(' ',$r[keywords]);}
<div class="Q-tpList" style="z-index:97"><div class="Q-tpWrap">
{if $r[thumb]}<a target="_blank" class="pic" href="{$r[url]}"><img class="picto" src="//statics.05273.cn/statics/images/grey.gif" data-original="{thumb($r[thumb], 120, 80)}"></a>{/if}<h1 class="f14 l24">{if $TYPE[$r[typeid]][name]}<a target="_blank" class="linkto" href="https://www.05273.cn/news/xn/xz_{$r[typeid]}_1.html">【{$TYPE[$r[typeid]][name]}】</a>{/if}<a target="_blank" class="linkto" href="{$r[url]}">{$r[title]}</a></h1><p class="l22">{str_cut(strip_tags($r[description]), 330)}</p>
 <div class="about-tags"><span class="date">发布于：{date('Y-m-d H:i',$r[inputtime])}</span>  
<em><a href="https://www.05273.cn/hot.html" target="_blank">ITAG</a></em> 
{loop $keywords $keyword}
<a href="https://www.05273.cn/hot/{urlencode($keyword)}.html" target="_blank">{$keyword}</a> 
{/loop}
</div>
</div></div>
{/loop}
{/edi}
</div>
</div>
<div id="pages" class="text-c">{$pages}</div>
  </div>
</div>
<!-- 右侧 -->
<div class="side">
<div class="s column">
  <div class="bd">
    <div class="cover">
      <div class="cate"><h2>微信扫一扫，精彩再继续</h2></div>
      <a href="https://www.05273.cn/about/weixin/"><img src="//statics.05273.cn/statics/images/weixin.gif" alt=""></a>
    </div>
</div>
<div class="s rank">
  <div class="hd"><h2>广告</h2></div>
  <div class="bd">
    <ul>
    <!--#include virtual="/caches/posid/quanju300250.html"--> 
    </ul>
  </div>
</div>
<div class="s rank">
  <div class="hd"><h2>频道总排行</h2></div>
  <div class="bd">
    <ul class="num">
      <li class="r1">1</li>
      <li class="r2">2</li>
      <li class="r3">3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <ul>
            {edi:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
				{loop $data $v}
				<li><a target="_blank" href="{$v[url]}">{$v[title]}</a></li>
				{/loop}
			{/edi}
    </ul>
  </div>
</div>
</div>
<div class="s rank">
  <div class="hd"><h2>频道本月排行</h2></div>
  <div class="bd">
    <ul class="num">
      <li class="r1">1</li>
      <li class="r2">2</li>
      <li class="r3">3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <ul>
            {edi:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}
				{loop $data $v}
				<li><a target="_blank" href="{$v[url]}">{$v[title]}</a></li>
				{/loop}
			{/edi}
    </ul>
  </div>
</div>
</div>
<!-- 右侧 -->
<div class="cls"></div>
</div>
<!--返回顶部-->
<div id="goTop" onmouseover="this.className='on'" onmouseout="this.className=''"><a href="javascript:;"></a></div>
<script type="text/javascript">
var goTopBtn = document.getElementById("goTop");
function goTop()
{
    if(goTopBtn)
    { 
        goTopBtn.onclick = function()
        {
            var doc = (document.documentElement.scrollTop)? document.documentElement : document.body;
            var time;
            time = setInterval(function(){
                doc.scrollTop -= Math.ceil(doc.scrollTop*0.7);
                if(doc.scrollTop<=0) clearInterval(time);
            },1)
        }
    }
} 

goTop();
window.onscroll = function()
{
    if(goTopBtn)
    { 
        document.documentElement.className = '';
        var doc = (document.documentElement.scrollTop)? document.documentElement : document.body;
        goTopBtn.style.visibility = doc.scrollTop ?"visible":"hidden";
    }
}
  $("img").lazyload({ 
    skip_invisible : false, 
      effect : "fadeIn",
      failure_limit: 20 
  });
if(navigator.userAgent.indexOf("MSIE 6.0")>0)
   {
     $(window).scroll(function(){
      var stop = $(window).scrollTop();
      if(stop >= 80){
        $('.navs').css('top',stop+'px');
      }
      if(stop <= 80){
        $('.navs').css('top','80px');
      }
      });
   }else{
    $(window).scroll(function(){
      var stop = $(window).scrollTop();
      if(stop >= 80){
        $('.navs').css('position','fixed').css('top','0px');
      }
      if(stop <= 80){
        $('.navs').css('position','absolute').css('top','80px');
      }
    });
   };
</script>
<!-- 返回顶部结束 -->
<script src="//www.05273.cn/core/stats/{$catid}/" type="text/javascript"></script>
<!-- Footer Begin -->
<style>
#huandeng_F_clcf{display:none;}
.tcopyright {width:960px;margin:0 auto;padding:8px 0;font-size:12px;line-height:28px;color:#333; text-align:center; overflow:hidden;clear:both;}
.tcopyright .en{font-family:Arial;}
.tcopyright a{color:#333;text-decoration: none;}
.tcopyright a:hover{color:#bd0a01;text-decoration: underline;}
</style>
<div id="tcopyright" class="tcopyright">
	<div>
  <a href="https://www.05273.cn/about/aboutus/" target="_blank">关于沭阳网</a> | <a href="https://www.05273.cn/about/shuyangwang/" target="_blank">本网动态</a> | <a href="https://www.05273.cn/about/contactus/" target="_blank">联系方式</a> | <a href="https://www.05273.cn/about/submission/" target="_blank">投稿荐稿</a> | <a href="https://www.05273.cn/about/copyright/" target="_blank">免责声明</a> | <a href="https://www.05273.cn/about/adsen/" target="_blank">广告投放</a> | <a href="https://www.05273.cn/about/weixin/" target="_blank">微信平台</a> | <a href="https://www.05273.cn/about/book/" target="_blank">意见反馈</a> | <a href="https://www.05273.cn/about/delete/" target="_blank">删帖须知</a> | <a href="https://www.05273.cn/links.shtml" target="_blank">友情链接</a>
| <a href="https://www.05273.cn/sitemap.html" target="_blank">网站地图</a>
| <a href="https://www.05273.cn/rss/" target="_blank">RSS订阅</a>
| <a href="https://wap.05273.cn/" target="_blank">手机站</a> 
	</div>
  	<div class="en">Copyright &copy; 2007-2019 05273.cn All Rights Reserved. </div>
    <div>
		 <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备18031647号-1</a> <a target="_blank" rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32132202000115" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="//statics.05273.cn/images/gab.png" style="float:left;"/>苏公网安备 32132202000115号</a> <a href="https://www.05273.cn/special/wenming/" target="_blank">文明建网自律公约</a> <a href="https://www.05273.cn/special/jubao/" target="_blank">举报</a>
	</div>
</div>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7c6dc3238ba997d3854da80efd951702";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
</body>
</html>