<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-Ua-Compatible" content="IE=7" />
<title>关于沭阳网_沭阳网_沭阳地区资讯门户</title>
<meta name="keywords" content="沭阳网关于沭阳网">
<meta name="description" content="沭阳网关于我们">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/about.css?v=20160421" />
<script type="text/javascript" src="//statics.05273.cn/statics/js/jquery.js?v=20150509"></script>
<script type="text/javascript">
     if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
        if(window.location.href.indexOf("?mobile")<0){
            try{
                window.location.href="{S($url)}";
            }catch(e){}
        }
    }
</script>
<body>
<div class=about-allbox>
<div class=about-banner>
<div class=about-bannerclick><a href="https://www.05273.cn/" target=_blank>返回沭阳网</a></div></div>
<div class=about-clear></div>
<div class=about-menu>
<ul>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/aboutus/">关于沭阳网</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/contactus/">联系方式</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/copyright/">免责声明</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/adsen/">广告投放</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/product/">产品与服务</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/partners/">合作伙伴</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/job/">诚聘英才</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/weixin/">微信平台</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/book/">意见反馈</a></li>
  <li class=about-menuline></li>
  <li class=about-menuclassh><a href="https://www.05273.cn/about/delete/">删帖须知</a></li>
</ul>
</div>
<div class=about-clear></div>
<div class=about-content>
<div class=about-contentl>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/aboutus/">关于我们</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/contactus/">联系方式</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/copyright/">版权声明</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/adsen/">广告投放</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/product/">产品与服务</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/partners/">合作伙伴</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/job/">诚聘英才</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/weixin/">微信平台</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/book/">意见反馈</a></div>
<div><a class="about-contentlm"  href="https://www.05273.cn/about/delete/">删帖须知</a></div>
<div class=about-contentline></div></div>
<div class=about-contentr>
<div class=about-contentrtop>关于沭阳网</div>
<div class=about-clear></div>
<div class=about-contentrcontent>
{edi:get sql="SELECT * FROM v9_page where catid=2"}
{loop $data $key $val}
{$val[content]}
{/loop}
{/edi}<br><br>
<br></div></div></div>
<div class=about-clear></div>
{template "content","footer"}