{template "content","headermoxing"}
<!--header end-->

<div id="pagebody_extbg" class="y_tagbox">
	<div class="tag_dh">
    <a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)} 详细信息
    </div>
<div class="y_tagleft">
 
<div class="box_l col_590">
<div class="global_model">
<div id="article_bbs" class="job_box">
<h1 style="line-height:35px">{$title}</h1>
<div id="article_extinfo">
<span>
来源: {$copyfrom}&nbsp;&nbsp;
评论: <a href="#comment_iframe" id="comment">0</a>&nbsp;&nbsp;
时间：{$inputtime}&nbsp;&nbsp;
发布者：{$username}
</span>
</div>
<div id="article_body">
                	<div class="m_left">
<img src="{$thumb}" align="left" />
                    <p><a href="{$thumb}" target="_blank">点击看大图</a></p>
                    </div>
                    <div class="m_right">
<div class="job_requ">
<h5>
                        <span style="color:#666">联系人：</span>
{$lianxiren}                      </h5>
</div>
<div class="job_requ">
<h5>
                        <span style="color:#666">区域：</span>
{$quyu}                       </h5>
</div>
<div class="job_requ">
<h5>
                        <span style="color:#666">电话：</span>
{$dianhua}                       </h5>
</div>
<div class="job_requ">
<h5>
                        <span style="color:#666">传真：</span>
{$chuanzhen}                       </h5>
</div>
<div class="job_requ">
<h5>
                        <span style="color:#666">E-Mail：</span>
{$email}                       </h5>
</div>
<div class="job_requ">
<h5>
                        <span style="color:#666">地址：</span>
{$dizhi}                       </h5>
</div>

			{if $allow_visitor==1}
			
				<!--内容关联投票-->
				{if $voteid}<script language="javascript" src="{APP_PATH}index.php?app=vote&controller=index&view=show&action=js&subjectid={$voteid}&type=2"></script>{/if}
                
			{else}
				<CENTER><a href="{APP_PATH}index.php?app=content&controller=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a></CENTER>
			{/if}
{if $titles}
<fieldset>
	<legend class="f14">本文导航</legend><ul class="list blue row-2">
{loop $titles $r}
	5<li>{$n}、<a href="{$r[url]}">{$r[title]}</a></li>5
{/loop}
</ul>
</fieldset>
{/if}
                    </div>
<div class="job_requ">
                    <div style="width:840px;;height:300px;overflow:hidden;border:solid 1px #ccc;" id="map_canvas">{$ditu}</div>
                    </div>
</div>

<div class="m_cont">
                    	<h2>商家简介</h2>
                    	<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {$content}                    </div>
</div>
 
			<div id="pages" class="text-c">{$pages}</div>
            <p style="margin-bottom:10px">
            <strong>相关热词搜索：</strong>{loop $keywords $keyword}<a href="https://www.05273.cn/hot/{urlencode($keyword)}.html" class="blue">{$keyword}</a> 	{/loop}
            </p>
          <div class="bk15"></div>
            {if module_exists('mood')}<script type="text/javascript" src="{APP_PATH}index.php?app=mood&controller=index&view=init&id={id_encode($catid,$id,$siteid)}"></script>{/if}
      </div>
<div class="sign_msg">
<a name="sign_msg"></a>
   {if $allow_comment && module_exists('comment')}
      <iframe src="{APP_PATH}pinglun_{id_encode("$catid",$id,$siteid)}-1.html" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
        {/if}
  </div>

 
 
</div>
</div>
<div class="y_tagright">
             <div class="m_right01">
            	<div class="h02_left"></div>
                <div class="h02_right"></div>
            <!--最新评论资讯显示-->
<!--#include virtual="/caches/posid/4.html"-->
            </div>
            <div class="clear"></div>
            <div class="m_right02">
            	<div class="h02_left"></div>
                <div class="h02_right"></div>
            	<h2>广告</h2>
                <ul>
<!--#include virtual="/caches/posid/quanju250.html"-->
</ul>
            </div>
            <div class="clear"></div>
            <div class="m_right01">
            	<div class="h02_left"></div>
                <div class="h02_right"></div>
         	<h2>频道总排行</h2>
			{edi:content  action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
                <ul>
				{loop $data $r}
<li><span class="box_r">{date('m-d',$r[inputtime])}</span><a href="{$r[url]}">{str_cut($r[title],48,'')} </a></li>
				{/loop}			{/edi}
</ul>
            </div>
            <div class="clear"></div>
            <div class="m_right01">
            	<div class="h02_left"></div>
                <div class="h02_right"></div>
                <!--月度评论热点-->            	<h2>频道本月排行</h2>
                <ul>
			{edi:content action="hits" catid="$catid" num="10" order="monthviews DESC" cache="3600"}				{loop $data $r}
<li><span class="box_r">{number_format($r[monthviews])}</span><a href="{$r[url]}">{str_cut($r[title],48,'')}</a></li>
				{/loop}			{/edi}
</ul>
            </div>
</div>
</div></div></div>
<script type="text/javascript">
<!--
	function show_ajax(obj) {
		var keywords = $(obj).text();
		var offset = $(obj).offset();
		var jsonitem = '';
		$.getJSON("{APP_PATH}index.php?app=content&controller=index&view=json_list&type=keyword&modelid={$modelid}&id={$id}&keywords="+encodeURIComponent(keywords),
				function(data){
				var j = 1;
				var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
				string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
				if(data!=0) {
				  $.each(data, function(i,item){
					j = i+1;
					jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
					
				  });
					string += jsonitem;
				} else {
					string += '没有找到相关的信息！';
				}
					string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
					$(obj).after(string);
					$('.key-float').mouseover(
						function (){
							$(this).siblings().css({"z-index":0})
							$(this).css({"z-index":1001});
						}
					)
					$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
				});
	}

	function add_favorite(title) {
		$.getJSON('https://api.05273.cn/?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
			if(data.status==1)	{
				$("#favorite").html('收藏成功');
			} else {
				alert('请登录');
			}
		});
	}
	$("img").lazyload({ 
    skip_invisible : false, 
      effect : "fadeIn",
      failure_limit: 20 
  });
//-->
</script>
<script language="JavaScript" src="https://api.05273.cn/?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footershow"}