<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>沭阳网每日头条回顾_沭阳网_沭阳地区资讯门户</title>
<meta name="keywords" content="沭阳,沭阳网,沭阳论坛,沭阳新闻,沭网头条,沭阳头条,沭阳时间,沭阳推荐,沭阳关注">
<meta name="description" content="沭阳头条,是为沭阳人每天关注新闻头条平台，推荐您喜欢的内容,并且越用越懂您.沭阳人关注的,才是头条">
<meta name="applicable-device" content="pc">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/header.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/ldshare.css">
<link rel="stylesheet" type="text/css" href="https://statics.05273.cn/statics/css/reset.css">
<script src="//statics.05273.cn/statics/js/jquery.js" type="text/javascript"></script>
<link href="https://www.05273.cn/today.html" rel="canonical" />
<meta name="mobile-agent" content="format=html5;url=https://wap.05273.cn/today.html">
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://wap.05273.cn/today.html">
<script type="text/javascript">
     if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){
        if(window.location.href.indexOf("?mobile")<0){
            try{
                window.location.href="https://wap.05273.cn/today.html";
            }catch(e){}
        }
    }
</script>
</head>
<body>
<!--2016猴年开始咯-->
<div class="mininav">
  <div class="mininavInner">
    <div class="mininavLeft">
      <div class="fl">
 <form class="login-form" id="page_loginForm"  action="//www.05273.cn/index.php?app=member&controller=index&view=login" method="post" onsubmit="return Login.check(this)">
    <input type="hidden" name="logintype" value="page" />
    <input type="hidden" name="forward" id="forward"  value="https://www.05273.cn"/>
     沭阳网通行证&nbsp;&nbsp;用户名: <input type="text" id="username" name="username" size="15" class="int"> 
    密&nbsp;&nbsp;码: <input type="password" id="password" name="password" size="15" class="int"> 
    <input type="submit" name="dosubmit" id="dosubmit" class="input_bn" value=" ">
     <a href="https://passport.05273.cn/member-register.html" target="_blank">注册账户</a> | <a href="https://passport.05273.cn/member-public_forget_password.html" target="_blank">找回密码</a>
  </form>
  <script type="text/javascript">Login.isLogin('//www.05273.cn/index.php?app=member&controller=index&view=top_mini','page_loginForm','page');</script>
      </div>
    </div>
<div class="mininavRight">
  <div id="loginAll" class="fr">
    <a href="https://www.05273.cn/gundong.html" class="newgundong" target="_blank">最新滚动</a>
    <a href="https://www.05273.cn/ad-7/" class="gwweibo" target="_blank" style="font-weight: bold;color: red">官方微博</a>
    <a href="https://www.05273.cn/sheweishouye.html" class="shouye" target="_blank">设为首页</a>
    <a href="https://passport.05273.cn/member-public_qq_loginnew.html" title="使用QQ登录" class="onelogin"></a>
  </div>
</div>
  </div>
</div>
<!--/顶部导航-->
<!-- 导航开始 -->
  <div class="shuyang-sub-site-hd">
    <div class="shuyang-sub-site-hd-warp">
      <div class="Mcity">
        <!--LOGOAD-->
      </div>
      <div class="shuyang-sub-site-hd-logo">
        <a href="https://www.05273.cn"><img src="//statics.05273.cn/images/index/2016shuyang-logo-hd.png" width="461" alt="沭阳网"></a>
      </div>
      <div class="shuyang-sub-site-hd-soso">
        <div class="toolbar">
          <div class="Form-Crumbs-Article-shuyang" role="search">
            <form name="soso_search_box" action="//www.05273.cn/index.php" method="get" target="_blank">
              <input class="submit" value="" type="submit">
              <div class="inputWarp"><a href="http://so.05273.cn/" target="_blank" class="shuyangsoso" title="沭阳网搜索"><span>沭阳网搜索</span></a>
                <input type="hidden" name="app" value="search"/>
                <input type="hidden" name="controller" value="index"/>
                <input type="hidden" name="view" value="init"/>
                <input type="hidden" name="typeid" value="1">
                <input type="hidden" name="siteid" value="1">        
                <input class="txtArea" name="q" value="请输入关键词" autocomplete="off" onfocus="if(this.value=='请输入关键词')this.value=''" type="text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="navs" style="position: absolute; top: 90px;z-index: 9999;width: 1200px;">
    <div class="shuyang-sub-site-hd-nav">
      <ul class="shuyang-sub-site-hd-nav-col w146 br" style="width: 250px;">
                    <li><a href="https://www.05273.cn/news/">沭阳</a></li>
                    <li><a href="https://www.05273.cn/news/rd/">热点</a></li>
                    <li><a href="https://www.05273.cn/news/xn/">县内</a></li>
                    <li><a href="https://www.05273.cn/news/bm/">部门</a></li>
                    <li><a href="https://www.05273.cn/news/zf/">政府</a></li>
                    <li><a href="https://www.05273.cn/news/sh/">社会</a></li>
                    <li><a href="https://www.05273.cn/news/qy/">企业</a></li>
                    <li><a href="https://www.05273.cn/bianmin/">便民</a></li>
      </ul>
      <ul class="shuyang-sub-site-hd-nav-col w190 br bl" style="width: 230px;">
                    <li><a href="https://www.05273.cn/daodu/">国内</a></li>
                    <li><a href="https://www.05273.cn/daodu/jiangsu/">江苏</a></li>
                    <li><a href="https://www.05273.cn/daodu/ms/">民生</a></li>
                    <li><a href="https://www.05273.cn/daodu/dif/">地方</a></li>
                    <li><a href="https://www.05273.cn/daodu/zy/">实用</a></li>
                    <li><a href="https://www.05273.cn/daodu/sshi/">评论</a></li>
                    <li><a href="https://www.05273.cn/daodu/shehui/">万象</a></li>
                    <li><a href="https://www.05273.cn/daodu/gao/">港澳</a></li>

      </ul>
      <ul class="shuyang-sub-site-hd-nav-col w190 br bl" style="width: 230px;">
                    <li><a href="https://www.05273.cn/photo/">图片</a></li>
                    <li><a href="https://www.05273.cn/jingqu/">景点</a></li>
                    <li><a href="https://www.05273.cn/binguan/">酒店</a></li>
                    <li><a href="https://www.05273.cn/canying/">餐饮</a></li>
                    <li><a href="https://www.05273.cn/house/">房产</a></li>
                    <li><a href="https://www.05273.cn/hr/">人才</a></li>
                    <li><a href="https://www.05273.cn/yellow/">黄页</a></li>
                    <li><a href="https://www.05273.cn/auto/">汽车</a></li>

      </ul>
      <ul class="shuyang-sub-site-hd-nav-col w146 bl" style="width: 250px;">
        <li><a href="https://www.05273.cn/huati/">话题</a></li>
        <li style="background:url(//statics.05273.cn/images/index/video.png) no-repeat 8px center;padding-left:15px"><a href="https://www.05273.cn/video/">宽频</a></li> 
        <li><a href="https://www.05273.cn/tvnews/">电视</a></li>
        <li><a href="https://www.05273.cn/shuyang/">沭阳话</a></li>
        <li><a href="https://bbs.05273.cn/group.php">贴吧</a></li>
        <li><a href="https://bbs.05273.cn/home.php?mod=space&amp;do=blog">日志</a></li>
        <li><a href="https://bbs.05273.cn/home.php?mod=space&amp;do=share">分享</a></li>
        <li><a href="https://bbs.05273.cn/">沭阳论坛</a></li>
      </ul>
    </div>  
  </div>
  </div>
    <!--/首页导航-->
<div class="ss">
    <div class="ss_left">
          <form action="//www.05273.cn/index.php" method="get">
          <ul>
          <li class="t_text02">站内搜索：</li>
          <li>
                <input type="hidden" name="app" value="search"/>
                <input type="hidden" name="controller" value="index"/>
                <input type="hidden" name="view" value="init"/>
                <input type="hidden" name="typeid" value="1" id="typeid"/>
                <input type="hidden" name="siteid" value="1" id="siteid"/>
                <input size="60" class="int12" type="text" value="" id="q" name="q" />
                <input class="search_bn" type="submit" value=" "/>

          </li>
        </ul>
        </form>
        <ul>
            <li class="t_text02 ss_left_text01">热词：</li>
            <li class="ss_left_text">
            <!--#include virtual="/caches/posid/remenhot.html"--> 
            </li>
        </ul>
    </div>
    <div class="ss_right">
          <!--#include virtual="/caches/posid/35.html"--> 
    </div>
</div>
<!--main-->
<div class="hxNewsTop">
<div class="hntContent clearfix">
<div class="ldContainer clearfix">
<div class="ldContent wmgContent ufl">
<div class="wmgmore mb20">
<div class="h2title ufl" ><h2>沭阳网每日头条回顾</h2></div>
<div class="d-code" ><p>手机扫一扫，随时获取最新资讯</p>
  <div class="d-code-box">
      <i class="tips"></i>
      <img width="132" height="132" alt="" src="//statics.05273.cn/images/index/gundongewm.png">
      <p>微信扫一扫 分享更精彩</p>
  </div>
</div>
</div>
<div class=wmgbox>
<div class=wmgwhitebg></div>
{edi:get sql="select b.id,b.title,b.description,b.url,b.inputtime,b.catid from `v9_position_data` a, `v9_news` b where a.id=b.id and a.posid=2 order by a.listorder desc"  return="data"  num="20" cache="3600" page="$_GET[page]"}
{loop $data $r}
<div class=wmgitems>
<div class=wmginfo>
<H5><A href="{$r['url']}" target=_blank>{$r['title']}</A></H5>
<div>
<P class=wmgsp>{$r['description']}<A class=desc href="{$r['url']}" target=_blank>查看详情</A><span class="rt">来自:<a class=desc href="{$CATEGORYS[$r['catid']][url]}" target="_blank"  >{$CATEGORYS[$r['catid']]['catname']}</a></span></P></div></div>
<div class=wmgsTime>
<div class=wtinner>{inputtime_zone($r[inputtime])}</div></div></div>
{/loop}
</div>
<div id="pages" class="text-c">{$pages}</div>
{/edi}
</div>
<div class="ldsideBox ufr" style="PADDING-TOP: 0px">
<H3 class=moremar><SPAN class=h3title>热门视频</SPAN> <A class=more 
href="https://www.05273.cn/video/" target=_blank>更多&gt;&gt;</A> 
</H3>
<div class="mrbox mb15">
{edi:content action="lists" catid="3366" num="4" order="id DESC" thumb="1"}
<UL class="mrlist clearfix">
{loop $data $rs}
  <LI><IMG alt="{$rs[title]}" src="{thumb($rs[thumb],128,92)}"> 
  <SPAN class=blackbg8></SPAN>
  <A class=vedionews href="{$rs[url]}" target=_blank>
  <SPAN class=vediobtn></SPAN>
  <SPAN class=vediotitle>{str_cut($rs[title],27,'')}</SPAN> 
  </A>
  </LI>
  {/loop}
  {/edi}
</UL></div>
<H3 class=newRate><SPAN class=h3title>新闻排行</SPAN></H3>
<div class="nrbox mb15">
<div class=rateBox>
{edi:content action="hits" catid="6" num="10" order="monthviews DESC"}
<UL id=day class="numList clearfix">
{loop $data $rb}
  <LI class=on><A href="{$rb[url]}" target=_blank>{str_cut($rb[title], 75, '')}</A> </LI>
{/loop}
</UL>
{/edi}
</div></div></div></div>
<script type="text/javascript">
if(navigator.userAgent.indexOf("MSIE 6.0")>0)
   {
     $(window).scroll(function(){
      var stop = $(window).scrollTop();
      if(stop >= 90){
        $('.navs').css('top',stop+'px');
      }
      if(stop <= 90){
        $('.navs').css('top','90px');
      }
      });
   }else{
    $(window).scroll(function(){
      var stop = $(window).scrollTop();
      if(stop >= 90){
        $('.navs').css('position','fixed').css('top','0px');
      }
      if(stop <= 90){
        $('.navs').css('position','absolute').css('top','90px');
      }
    });
   }
</script>
{template "content","footerwutongji"}