@charset "UTF-8";
/* CSS Document */
*{margin:0;padding:0;}
body{font-size:12px;font-family:"Microsoft YaHei", Arial, sans-serif;}
img{border:0;}
em,i{font-style:normal;font-family:Arial,Helvetica,sans-serif;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;margin:0;padding:0;}
select,input{vertical-align:middle;outline:none;}
div{margin:0 auto;}
a{text-decoration:none;color:#2D374B;}
a:hover{text-decoration:underline;color:#C00;}
.clear{clear:both;height:0;overflow:hidden;}

/*=================================top================================*/
#topp{background:#FAFAFA;width:100%;height:31px;color:#666;line-height:31px;border-bottom:1px #D0D0D0 solid;}
.w{width:1200px;margin:0 auto}
.top_left{width:470px;float:left}
.top_left div{float:left;line-height:28px}
.top_left a:link,.top_left a:visited {color:#333;text-decoration:none}
.top_left a:hover {color:#f00;text-decoration:underline}
.top_nav_line{padding:0 6px;color:#ccc}
.topnav{background:url( //statics.05273.cn/images/wnl/ticon.gif) 30px 9px no-repeat;width:35px;padding:0 3px;z-index:3;position:relative}
.topnav a{display:block;height:28px;overflow:hidden}
.topnav ul li a{display:inline;overflow:inherit;height:auto}
.topnav div{background:#fff;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;position:absolute;margin:0 0 0 -1px;padding:5px 0;display:none;z-index:2;left:0;top:26px}
.topnav div li.tcurr{background:#f2f2f2}
.topnav div li{display:block;white-space:nowrap; width:90px; height:20px;line-height:20px;padding:6px 0 6px 10px;border-bottom:1px dotted #DDD;}
.topnav div img{float:left;width:20px;height:20px;margin-right:8px;}
.topnav.curr{background:#fff url( //statics.05273.cn/images/wnl/ticon.gif) 29px 9px no-repeat;padding:0 2px;width:35px;border-right:1px solid #ccc;border-left:1px solid #ccc;z-index:3;}
.dh_more{margin-top:3px}
.top_right{width:380px;height:23px;line-height:23px;float:right;}
.nr,.nright{float:right;}
.top_right{margin-right:5px;}
.top_right em{font-style:normal;}
.top_right .nright{width:380px;height:26px;background:url(//statics.05273.cn/images/wnl/top_img.gif) right -43px no-repeat;}
.top_right .nright .nr{width:111px;line-height:26px;}
.top_right .nright .nr a{padding-right:7px;color:#666;}
.top_right .nright .nr span{padding-right:13px;}
.nlogin_info{float:right;line-height:26px;padding:0 20px 0 0;}
.nlogin_info em{color:#F60;padding-left:5px;font-family:Arial, Helvetica, sans-serif;}
/*=================================logo&search================================*/
.ls{width:1200px;height:99px;}
.hr1{float:left;width:245px;height:24px;padding-left:24px;overflow:hidden;background:#fff url(//statics.05273.cn/images/wnl/sou.jpg) no-repeat 7px center; border:solid 1px #9cf;}
.hr1 .search-keyword{width:245px;height:24px;line-height:24px;color:#999999;border-color:#000;border:none;vertical-align:middle;}
.hr2{float:left;width:65px;height:25px;background:#AF1529;overflow:hidden;margin-left:2px;}
.hr2 .btn{width:65px;height:25px;line-height:24px;cursor:pointer;background:#AF1529;border:1px #EC1515 solid;color:#fff;}
.hr2 .btn:hover{background:#EC1515;border:1px #AF1529 solid;}
.hr3{clear:both;text-align:right;width:334px;overflow:hidden;white-space:nowrap;line-height:25px;}

/*=================================title================================*/
.tit{width:1200px;height:44px;background:#077FE0;}
.tit_left{width:430px;padding-left:27px;line-height:44px;overflow:hidden;height:44px;color:#fff;float:left;font-size:14px;}
.tit_left span{color:#f00;font-family:"΢���ź�","����";font-size:22px;}
.tit_right{width:185px;padding:12px 18px 0 0;float:right;text-align:right;overflow:hidden;color:#fff;}

/*==========================================weather====================================================*/
.most{padding:10px;width:1200px;}
.wtab{text-align:center;line-height:23px;}
.wtab td{border-bottom:1px #C1E2FD solid;border-right:1px #C1E2FD solid;}
.wtab th{color:#fff;background:#96D0FF;}
.wtab .borbai,.wtab .xbt td{border-bottom:1px #fff solid;border-right:1px #fff solid;}
.wtab .xbt td{background:#C0E2FD;}
.wtab .curtd{background:#E0F0FC;}
.tdc1{width:125px;}
/*==========================================date====================================================*/
.dleft{float:left;width:488px;background:#8DCBFF url(//statics.05273.cn/images/wnl/lbg.jpg) no-repeat left top;position:relative;color:#fff;min-height:714px;}
.dian1{background:url(//statics.05273.cn/images/wnl/dian.jpg) no-repeat;position:absolute;left:31px;top:-21px;width:8px;height:25px;}
.dian2{background:url(//statics.05273.cn/images/wnl/dian.jpg) no-repeat;position:absolute;left:201px;top:-21px;width:8px;height:25px;}
.jian{background:url(//statics.05273.cn/images/wnl/jian.png) no-repeat;position:absolute;right:-27px;top:7px;width:27px;height:51px;}
.dle1{padding:26px 110px 0 0;font-size:14px;line-height:21px;border-bottom:1px #C1DBF1 solid;height:162px;text-align:right;}
#hao{font-size:80px;font-family:Arial, Helvetica, sans-serif;text-align:center;background:#fff url(//statics.05273.cn/images/wnl/dbg.jpg) repeat-x;width:126px;height:97px;line-height:97px;margin:0 0 0 80px;}
.dle2{padding:13px 0 0 65px;font-size:14px;line-height:29px;border-bottom:1px #C1DBF1 solid;border-top:1px #5AA9E9 solid;height:155px;}
.dle2 #time{font-family:Arial, Helvetica, sans-serif;color:#f00;font-size:24px;}
.bigsel{padding-top:5px;}
.bigsel select{width:170px;}
.dle3{padding:29px 0 0 23px;height:190px;border-top:1px #5AA9E9 solid;width:218px;overflow:hidden;}
.dle3 ul li{float:left;width:48px;height:70px;margin:0 22px 15px 0;}
.dle3 ul li a{display:block;width:48px;height:14px;line-height:14px;overflow:hidden;padding-top:56px;font-family:"΢���ź�","����";font-size:14px;color:#000;background:url(//statics.05273.cn/images/wnl/tb.png) no-repeat;text-align:center;behavior:url("iepngfix.htc");}
.dle3 ul li a:hover{position:relative;top:-1px;left:1px;color:#f00;opacity:0.9;filter:alpha(opacity=90);}
.dle3 ul .dli2{background-position:-48px 0;}
.dle3 ul .dli3{background-position:-97px 0;}
.dle3 ul .dli4{background-position:0 -78px;}
.dle3 ul .dli5{background-position:-48px -78px;}
.dle3 ul .dli6{background-position:-97px -78px;}

#cal{width:708px;border:1px solid #8bc5f5;font-size:12px;float:right;}
#cal #top{height:42px;line-height:42px;_height:30px;_line-height:14px;_padding-top:12px;background:#8bc5f5;color:#fff;font-size:14px;padding-left:40px;}
#cal #top select{font-size:12px;font-family:Arial, Helvetica, sans-serif;}
#cal #top .sel1{width:60px;}
#cal #top .sel2{width:50px;}
#cal #top input{padding:0;}
#cal ul#wk{margin:0;padding:0;height:35px;}
#cal ul#wk li{float:left;width:100px;text-align:center;line-height:35px;border-right:1px #fff solid;background:#E8E8E8;font-size:14px;font-weight:bold;}
#cal ul#wk li b{color:#c60b02;}
#cal #cm{clear:left;border-top:1px solid #ddd;border-bottom:1px dotted #ddd;position:relative;padding-bottom:7px;}
#cal #cm .cell{position:absolute;width:100px;height:80px;padding-top:18px;text-align:center;border:1px #D0D0D0 solid;background:#fff;overflow:hidden;}
#cal #cm .cell .so{font:bold 35px arial;}
#cal #bm{text-align:right;height:30px;line-height:30px;padding:0 13px 0 0;}
#cal #bm a{color:7977ce;}
#cal #fd{display:none;position:absolute;border:1px solid #dddddf;background:#feffcd;padding:10px;line-height:21px;width:155px;}
#cal #fd b{font-weight:normal;color:#c60a00;}
#cal input{padding-top:0;padding-bottom:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#cal .huijin{width:75px;height:22px;line-height:22px;cursor:pointer;background:#598FE7;border-top:1px #C4EAFF solid;border-left:1px #C4EAFF solid;border-right:1px #003399 solid;border-bottom:1px #003399 solid;color:#fff;}
#cal .huijin:hover{background:#79A5EC;}

/*==========================================copy====================================================*/
.bottom{height:36px;width:1200px;background:#0079DD;line-height:36px;color:#fff;text-align:center;margin-top:20px;}
.bottom a{color:#fff;}
.copy{padding:10px 0 0 0;color:#000;text-align:center;}
.copy p{padding-bottom:14px;line-height:12px;}